[2017-09-27 16:51] solimansamy opened #1 "SBP-1: [ENHANCEMENT] `CMS` code restructure"
Check routes below for CMS module

**PageController**
routes.cmsPage.options.route = "/cms/page[/:action]"
routes.cmsPageHistory.options.route = "/cms/page/history/:id"
routes.cmsPageEdit.options.route = "/cms/page/edit/:id"
routes.cmsPageDelete.options.route = "/cms/page/deactivate/:id"
routes.cmsPageActivate.options.route = "/cms/page/activate/:id"
routes.cmsPageUpload.options.route = "/cms/page

[2017-09-28 12:54] AbdElmoneimMohamed opened #2 "SBP-2: Replace the `certigate` database to `skillsbuilder`"

[2017-09-28 13:10] AbdElmoneimMohamed commented on #2
PR
http://git.camelcasetech.com/camelCase/certigate/pulls/2

[2017-10-01 14:54] solimansamy opened #3 "SBP-3: [ENHANCEMENT] `Courses` code restructure"
**Check routes below for Courses module**

### Backend routes
routes.EvTemplates.options.route = "/courses/ev-templates"
routes.newEvTemplate.options.route = "/courses/ev-templates/new"
routes.editEvTemplate.options.route = "/courses/ev-templates/edit[/:id]"
routes.coursesTrainingMaterials.options.route = "/courses/training-materials"
routes.coursesPending.options.route = "/courses/pending/:id"
ro

[2017-10-03 09:06] solimansamy opened #4 "SBP-4: [NEW] The user doesn’t have to login to view the courses"

[2017-10-03 10:40] solimansamy opened #5 "SBP-5: [NEW] Create new modules for categories"

[2017-10-03 10:45] solimansamy commented on #4
Course Details Page
http://certigate.camelcasetech.com/courses/more/1/1

Users should view the details page even if they are logout

[2017-10-03 10:49] solimansamy opened #6 "SBP-6: [ENHANCEMENT] Remove roles from Registration page"
We will delete the following roles.
1. Test Center Administrator.
2. Proctor

[2017-10-03 12:26] solimansamy opened #7 "SBP-7: [EXCEPTION] When trying to register, exception related to `longitude` raised"

[2017-10-03 12:28] solimansamy commented on #5
We need to create a new module for `Categories`, they are named also as `Learning Paths`.
http://certigate.camelcasetech.com/categories
http://certigate.camelcasetech.com/categories/edit/1
http://certigate.camelcasetech.com/categories/delete/1

**Backend Features**
1. Edit category.
2. Delete category.
3. Assign category to a course.
4. List all categories.

**Frontend Features**
1. Category list

[2017-10-03 12:30] solimansamy commented on #7
Check exception here

https://camelcase.slack.com/files/U3JJSCKK3/F7CLKD9GV/map-error.txt

[2017-10-03 12:37] badr4php commented on #6
PR :http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/1

[2017-10-03 12:57] #2 closed, assigned to solimansamy

[2017-10-03 13:01] badr4php commented on #7
PR : http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/2

[2017-10-03 13:55] solimansamy opened #8 "SBP-8: [ENHANCEMENT] Super admin can't deactivate himself"

[2017-10-03 14:25] solimansamy opened #9 "SBP-9: [NEW FEATURE] User can view the outlines if and only if he provides us his email address."

[2017-10-03 15:54] solimansamy commented on #9
**Technical Approach**

1. When user tries to click on `Course Outlines` tab in course details page, popup should appear asking him to enter his email address and submit.
2. If a user submitted his email address before for this course, popup **SHOULD NOT** appear to him again.
3. We need to check this on server side mode. What I mean is if user submitted before, then render `Course Outlines` data.

[2017-10-03 16:01] solimansamy opened #10 "SBP-10: [ENHANCEMENT] `CertigateAcl` code restructure"

[2017-10-03 16:02] solimansamy opened #11 "SBP-11: [ENHANCEMENT] `Chat` code restructure"

[2017-10-03 16:04] solimansamy opened #12 "SBP-12: [ENHANCEMENT] `Users` code restructure"

[2017-10-03 16:04] solimansamy opened #13 "SBP-13: [ENHANCEMENT] `Utilities` code restructure"

[2017-10-03 16:08] solimansamy opened #14 "SBP-14: [ENHANCEMENT] `Organizations` code restructure"

[2017-10-03 16:09] solimansamy opened #15 "SBP-15: [ENHANCEMENT] `Versioning` code restructure"

[2017-10-03 16:10] solimansamy opened #16 "SBP-16: [ENHANCEMENT] `System` code restructure"

[2017-10-03 16:11] solimansamy opened #17 "SBP-17: [ENHANCEMENT] `Notifications` code restructure"

[2017-10-03 16:12] solimansamy opened #18 "SBP-18: [ENHANCEMENT] `IssueTracker` code restructure"

[2017-10-03 16:12] solimansamy opened #19 "SBP-19: [ENHANCEMENT] `Translation` code restructure"

[2017-10-03 16:13] solimansamy opened #20 "SBP-20: [ENHANCEMENT] `EStore` code restructure"

[2017-10-04 11:14] badr4php commented on #4
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/3

[2017-10-04 13:47] badr4php commented on #8
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/4

[2017-10-06 11:46] babanesma commented on #8
@badr4php if the requested is that the admin can not deactivate **himself** then these changes are slightly wrong
the changes you provided make no one can deactivate any admin ( or any user who has admin role )
change it to check if the $id is the same as logged in user id

[2017-10-08 10:51] AbdElmoneimMohamed commented on #5
@solimansamy
https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/5

[2017-10-08 15:26] solimansamy opened #21 "SBP-21: [NEW FEATURE] The user will review the generic calendar for specific course from its course page."

[2017-10-08 15:29] solimansamy commented on #21
We need to add a calendar here http://certigate.camelcasetech.com/courses/more/1/1 likes the one we have here http://certigate.camelcasetech.com/courses/calendar. This calendar should be for the course itself, it will show the course events allover TPs

[2017-10-08 16:09] solimansamy opened #22 "SBP-22: [NEW FEATURE] Create ATP Calendar"

[2017-10-08 16:52] badr4php commented on #9
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/6

[2017-10-09 09:59] solimansamy opened #23 "SBP-23: [EXCEPTION] Undefined property: Organizations\Entity\Organization::$type in Organizations controller"
Error Stack here https://camelcase.slack.com/files/U5VC46Z6F/F7ELNR3EC/-.txt

[2017-10-09 10:04] solimansamy commented on #23
When trying to delete an ATP http://certigate.camelcasetech.com/organizations/atps

[2017-10-09 10:18] solimansamy opened #24 "SBP-24: [NEW FEATURE] The training provider (training manager) and/or the trainer/instructor and/or student can review the resources and the material if they paid for it"

[2017-10-09 10:40] solimansamy commented on #2
https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/commit/fdea2ee5e0145d5be71619c367f6a801463cd386

https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/commit/b187e2eee5c6027a6585e7677375d63fb933e940

[2017-10-09 11:37] AbdElmoneimMohamed commented on #21
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/7

[2017-10-09 11:41] solimansamy commented on #22
We need to add a new column `Calendar` here http://certigate.camelcasetech.com/organizations/atps Should link to a new page like this http://certigate.camelcasetech.com/courses/calendar

[2017-10-09 13:16] solimansamy opened #25 "SBP-25: [NEW FEATURE] Resources will be Changed to Format type"
As the following:
- ILT Format:
i. Trainer Kit
ii. Student Guide
- Audible
- e-Learning (in last Phase)

**Backend Features**
We will change the resources area here http://certigate.camelcasetech.com/courses/resources/new/1.
We should have for now 3 types of resources
- `Trainer Kit`.
- `Student Guide`.
- `Amazon Audible`.

Check the form here
https://camelcase.slack.com/files/U5VC46Z6F/F7GPX33CN/

[2017-10-09 13:17] solimansamy commented on #24
Related to #25

[2017-10-09 13:53] solimansamy commented on #24
**Frontend Features**
- Each user should have a **unique download link** for each format, I'm taking here about `Trainer Kit` and `Student Guide`.
- Training Manager and Instructor can purchase the following
-- Student Guide
-- Trainer Kit
-- Audible

- Student can purchase the following
-- Student Guide
-- Audible

Only subscribers can download materials if they paid for it

**Technical Approach*

[2017-10-09 14:49] AbdElmoneimMohamed commented on #22
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/8

[2017-10-11 11:39] solimansamy opened #26 "SBP-26: [ISSUE] We should remove product from cart when user cancels his enrollment into course"

[2017-10-11 12:27] solimansamy commented on #26
Check cart remove here public/estore/catalog/view/javascript/common.js:200

[2017-10-11 12:28] solimansamy commented on #26
Check cart remove route module/EStore/src/EStore/Service/ApiCalls.php:38

[2017-10-11 15:22] badr4php commented on #26
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/9

[2017-10-12 09:22] AbdElmoneimMohamed commented on #25
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/10

[2017-10-12 11:02] babanesma commented on #26
@badr4php please correct spelling `cart` instead of `crat`

[2017-10-15 13:23] solimansamy opened #27 "Create new entity for Subscriber"
**CRUD**
Table Name: subscriber

Table Fields:
- id
- user_id
- reference_id
- transaction_id
- type
- status
- created
- modified

[2017-10-15 15:46] solimansamy commented on #26
@badr4php Failed QA

[2017-10-16 10:41] solimansamy commented on #27
We should have an entity for Course Event Subscription here module/Courses/src/Courses/Entity/CourseEventSubscription.php. We need to reuse this

[2017-10-16 12:50] solimansamy opened #28 "[ISSUES] Sync course event in `skillsbuilder` with products in `eStore` when edit and remove"

[2017-10-16 14:21] badr4php commented on #27
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/11

[2017-10-16 17:08] AbdElmoneimMohamed commented on #28
https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/12

[2017-10-18 12:16] solimansamy opened #29 "SBP-29: [ENHANCEMENT] Create one configuration file contains DB credentials"
**Current State**
Each module has its own config as follow

- [x] eStore reads config from here `public/estore/config/`
- [x] zend framework reads config from here `config/autoload/`
- [x] DB Seeding `phinx.php`
- [x] q2a Seeding `/home/soliman/Projects/skillsbuilderpro/public/q2a/qa-config.php`
- [x] Forum Seeding `public/forum/config/`

[2017-10-18 12:21] badr4php commented on #25
- [x] If course resource has type of "Amazon Audible " it can't be removed .it only disappear from page but still found in database

- [x] When remove course resource it removed only from skill builder but still found in opencart

[2017-10-18 12:41] badr4php commented on #25
When remove course resource  it removed only from skill builder but still found in opencart

[2017-10-18 16:18] AbdElmoneimMohamed commented on #9
@badr4php

- [ ] an email should have backend validation
- [ ] you can access the outline of any course through http://local-skillsbuilder.com/courses/outlines/1
without enter user email

[2017-10-19 11:18] #27 closed, assigned to solimansamy

[2017-10-19 14:19] solimansamy opened #30 "SBP-30: [NEW FEATURE] Audible resource should link to Amazon"

[2017-10-19 14:26] solimansamy commented on #30
**Backend Features**

If student is navigating into eStore and he wants to display an audible resource of a certain course then redirect him to Amazon link

**Technical Approach**
- If a resource course is audiable then save its link into `` field in `` table.
- Create a new field called `redirect_url` in `oc_product` table.
- Make an if condition in product controller to redirect student to Amazo

[2017-10-19 14:29] solimansamy commented on #25
One task is remaining here #30

[2017-10-22 12:01] babanesma opened #31 "SBP-31: Migrate bower to package.json"
bower is almost dead , so we need to migrate all packages used in public/bower.json to package.json
check
https://bower.io/blog/2017/how-to-migrate-away-from-bower/

Update Gruntfile.js afterwards

[2017-10-22 13:42] solimansamy opened #32 "SBP:32 [NEW FEATURE] Add to registration page some fields"
Add to the registration page the following fields:
- Video field (allow the user to upload only one video)
- BIO (allow the user to upload his BIO)
- Text area field (with FCK editor) for the BIO

[2017-10-22 13:57] solimansamy opened #33 "SBP: 33 [NEW FEATURE] Abillity to deactivate course resources"
Beside removing course resources, we need to deactivate them. If admin tries to deactivate a course resource, update the following:
- Change its record into skillsbuilder DB to be inactive
- Change its product into estore DB to be inactive as well

[2017-10-23 11:03] solimansamy commented on #30
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/13

[2017-10-23 16:04] badr4php commented on #24
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/14

[2017-10-23 16:10] solimansamy commented on #30
[code]

[2017-10-23 16:32] #26 closed, assigned to solimansamy

[2017-10-23 17:12] #30 closed, assigned to AbdElmoneimMohamed

[2017-10-23 17:25] #25 closed, assigned to solimansamy

[2017-10-23 17:27] solimansamy commented on #28
[code]
[code]

[2017-10-23 17:34] AbdElmoneimMohamed commented on #33
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/15

[2017-10-24 11:26] babanesma commented on #24
@badr4php  for any additional queries to be run please create new migration file in `db/migrations`

[2017-10-24 12:42] solimansamy opened #34 "SBP-34: [ENHANCEMENT] Move estore from public to home directory"
We need to be able to do the following

Instead of access estore like this http://skillsbuilderpro.com/estore, we need to make it like http://estore.skillsbuilderpro.com/

[2017-10-24 16:47] AbdElmoneimMohamed commented on #32
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/16

[2017-10-25 09:35] solimansamy opened #35 "Create migration files for missing SQL queries"
[code]
Then remove it from here public/estore/skillsbuilder_estore.sql:2321

[2017-10-25 09:37] badr4php commented on #34
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/17

[2017-10-25 09:47] solimansamy opened #36 "SPB-36 [NEW FEATURE] Add objectives member field in Course entity"
We need to add a new field to Course entity ar/en when creating and updating likes attached. Also we need to apply `CK editor` for Arabic and English like here http://skillsbuilderpro.com/cms/page/new

[2017-10-25 09:48] solimansamy commented on #36
For sql update, please create a migration file here db/migrations/20170307144721_third_parties_apps_themes.php

[2017-10-25 10:19] solimansamy opened #37 "SPB-37: [NEW FEATURE] Apply CK editor to Brief in Course module while creating and updating"
Brief
Brief in Arabic

[2017-10-25 13:18] solimansamy opened #38 "SPB-38: [NEW FEATURE] Make Course outlines as nested"

[2017-10-25 13:23] solimansamy commented on #38
We need to have the ability to create parent and children outlines, like chapters and their outlines

**Technical Approach**
1. Add new field to `outline` entity named `parent_id`.
2. Child record can have a self join relation with its parent.
3. Parent record should have NO parent

[2017-10-25 14:15] AbdElmoneimMohamed commented on #36
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/18

[2017-10-25 14:54] solimansamy commented on #22
@AbdElmoneimMohamed ATP **should not** have calendar if it has no course event, we need to remove the icon of calendar here https://camelcase.slack.com/files/U5VC46Z6F/F7PNYCA58/screenshot_from_2017-10-25_16_48_58.png

When I click on `bothDummy` calendar, it goes me to empty page because it has no course event.

[2017-10-25 15:03] AbdElmoneimMohamed commented on #37
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/19

[2017-10-25 16:29] solimansamy opened #39 "SPB-39: [REFACTOR] Create generic upload method"
We have some redundancy methods are related to upload object, we need to make a generic one for all of them, check below a sample.

- module/Organizations/src/Organizations/Model/Organization.php:388
- module/IssueTracker/src/IssueTracker/Model/Issues.php:117
- module/CMS/src/CMS/Model/Page.php:93
- module/Users/src/Users/Model/User.php:230

[2017-10-25 17:29] #5 closed, assigned to solimansamy

[2017-10-26 10:09] solimansamy opened #40 "SPB-40: [ENHANCEMENT] Create two versions of themes"
We need to have 2 versions of themes, one for frontend and the other for backend. I know there will be redundancy, but further we will have a new design should be applied.

**Technical Approach**
Create new folder `themes/certigate/modules/backend/`
[code]
[code]

## Technical Note

[2017-10-26 10:42] #37 closed, assigned to solimansamy

[2017-10-26 13:15] #36 closed, assigned to solimansamy

[2017-10-26 16:12] solimansamy commented on #39
We can generic this method module/Utilities/src/Utilities/Service/File.php:81

[2017-10-27 15:35] AbdElmoneimMohamed commented on #39
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/20

[2017-10-27 20:56] AbdElmoneimMohamed commented on #29
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/21

[2017-10-29 12:21] badr4php commented on #35
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/23

[2017-10-29 13:02] #35 closed, assigned to solimansamy

[2017-10-30 11:21] #29 closed, assigned to solimansamy

[2017-10-31 10:02] #7 closed, assigned to solimansamy

[2017-10-31 10:25] #4 closed, assigned to solimansamy

[2017-11-02 12:17] solimansamy opened #41 "SPB-41: [NEW FEATURE] Apply CK editor to details in course category"

[2017-11-02 16:59] solimansamy commented on #41
https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/27

[2017-11-07 12:02] #6 closed, assigned to solimansamy

[2017-11-07 12:44] #41 closed, assigned to solimansamy

[2017-11-07 13:11] #22 closed, assigned to badr4php

[2017-11-07 15:48] #8 closed, assigned to solimansamy

[2017-11-14 11:28] solimansamy opened #42 "SBP-42: [NEW FEATURE] Ability to upload image for Course entity"
In the admin add image field to course

[2017-11-14 11:32] solimansamy opened #43 "SBP-43: [NEW FEATURE] Apply new theme for Skills Builder Pro"

[2017-11-14 11:47] #38 closed, assigned to badr4php

[2017-11-15 14:24] badr4php commented on #42
when edit course if there is no image it will displayed as broken image.
![broken-image](https://user-images.githubusercontent.com/24792169/32840828-725a630a-ca21-11e7-943b-e8d3fb29f9e2.png)

[2017-11-16 13:11] #21 closed, assigned to solimansamy

[2017-11-20 09:38] ahmedelbougha opened #44 "SBP-44: Hotfix - Fixing issues in Outlines editing"

[2017-11-20 10:27] ahmedelbougha opened #45 "SBP-45: [NEW FEATURE] Apply new theme for Certigate"
Make any needed change to apply new theme for Certigate

[2017-11-20 16:28] badr4php opened #46 "SBP-46: HotFix-Decode course brief before display in course calendar page"

[2017-11-20 16:28] badr4php commented on #46
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/34

[2017-11-21 11:59] solimansamy commented on #44
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/33

[2017-11-21 12:03] #44 closed, assigned to badr4php

[2017-11-21 12:27] #46 closed, assigned to solimansamy

[2017-11-21 17:38] solimansamy commented on #42
@badr4php We can contact the client to provide us with default course image. I will merge as it is.

[2017-11-28 16:00] badr4php opened #47 "SBP-47 : Base 64 Encode for old data"

[2017-11-29 12:43] badr4php commented on #47
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/36

[2017-11-29 13:36] badr4php opened #48 "SBP-48 : Fix Phinx Configuration"
In issue #47 we need to save some columns data as base 64 encoding so we try to retrieve data  and encode it then save it again to database using phinx migrtaion file but phinx return Arabic data as garbage so we change phinx encoding in phinx.php file now we need to return it as default .

[2017-11-29 13:41] badr4php commented on #48
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/37

[2017-11-29 18:14] badr4php commented on #43
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/38

[2017-12-03 14:39] #9 closed, assigned to badr4php

[2017-12-03 16:28] #33 closed, assigned to solimansamy

[2017-12-05 09:55] #47 closed, assigned to ahmedelbougha

[2017-12-05 09:56] #48 closed, assigned to ahmedelbougha

[2017-12-05 11:51] #32 closed, assigned to solimansamy

[2017-12-05 11:53] #42 closed, assigned to ahmedelbougha

[2017-12-05 15:11] solimansamy commented on #40
https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/26

[2017-12-07 08:54] solimansamy commented on #40
Check routes below for Courses module

**Backend routes**

routes.EvTemplates.options.route = "/courses/ev-templates"
routes.newEvTemplate.options.route = "/courses/ev-templates/new"
routes.editEvTemplate.options.route = "/courses/ev-templates/edit[/:id]"
routes.coursesTrainingMaterials.options.route = "/courses/training-materials"
routes.coursesPending.options.route = "/courses/pending/:id"
route

[2017-12-07 08:54] solimansamy commented on #3
Duplicated #40

[2017-12-07 08:54] #3 closed, assigned to nobody

[2017-12-10 10:09] badr4php commented on #40
**QA issues**

- [x] 1-when run deploy.sh there is Fatal error: Cannot use CMS\Entity\MenuItemRepository as MenuItemRepository because the name is already in use in /vagrant/module/backend/CMS/src/CMS/Entity/MenuItemRepositoryFactory.php on line 7

- [x] 2 -Exception when create new page or update old one.

- [x] 3- when try to deactivate or activate page its return not found .

- [x] 4- Exception

[2017-12-10 11:49] babanesma commented on #40
@badr4php issue #2 is resolved

[2017-12-10 14:16] badr4php commented on #28
use migration file to add new columns in estore database

[2017-12-10 15:10] #28 closed, assigned to solimansamy

[2017-12-13 12:48] solimansamy opened #49 "Missing in new design"

[2017-12-13 13:07] solimansamy commented on #49
- [x] Adjust main menu
- [ ] Upload `x` image.
- [x] Rename title tag to `Skills Builder Pro`.
- [x] Trim course overview in http://skillsbuilderpro.com/courses/calendar
- [x] Solve problem of `getBrief`
- [x] Create a new front-end action for `ATP | ATC Organization`.
- [x] Redesign Organization form.

[2017-12-14 14:43] badr4php commented on #49
https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/42

[2017-12-18 10:38] babanesma commented on #40
@badr4php all issues are resolved except :
issue 1 : I can't replicate it , I ran deploy.sh several times with no problems
issue 6 : although the not found page issue is resolved this needs another fix to make the deletion work as organization type has been changed and organization can have several type , so it is not related to modules separation

[2017-12-19 12:27] badr4php commented on #40
QA issues phase 2

- [x] 1- after create new page its redirect to  "/cms/page",it must be redirect to "backend/cms/page"

- [x] 2- when create roles there is Fatal error: Class 'Backend\Users\Form\RoleForm' not found in /var/www/html/module/backend/Users/src/Users/Controller/RolesController.php on line 57

- [x] 3- when update roles there is Fatal error: Class 'Backend\Users\Form\RoleForm' not fou

[2017-12-19 14:24] badr4php commented on #40
@babanesma   please check last comments

[2017-12-25 13:34] solimansamy opened #50 "Add payment and workstation details to appointment page"

[2017-12-25 13:34] solimansamy commented on #50
Add them to this page http://testing-engine.camelcasetech.com/appointments/212

[2017-12-25 13:37] solimansamy commented on #50
Task should be in `Testing Engine` project not here

[2017-12-25 13:37] #50 closed, assigned to badr4php

[2017-12-26 13:42] babanesma commented on #40
@badr4php phase 2 issues are resolved , please pull and check

[2017-12-28 11:10] badr4php commented on #40
issue 8 : Links must be in front end now their found in back end.
issue 11,12 not solved
- [x] 1- after create course outlines  it redirect to /courses/outlines/{id}  but it must redirect to  /backend/courses/outlines/{id}

- [x] 2- exception when try to edit course outline.

- [x] 3- in this  http://local-skillsbuilder.com/backend/quote  page please modify 'Public Training' and 'Private Training'

[2017-12-31 10:42] badr4php opened #51 "SBP-51 : Redesign Skillsbuilder Homepage"

[2018-01-01 12:19] badr4php commented on #51
PR :  https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/43

[2018-01-08 15:24] #51 closed, assigned to badr4php

[2018-01-16 13:18] solimansamy opened #52 "General issues in SkillsBuilder"

[2018-01-16 13:54] solimansamy commented on #52
- [ ] I can see course details page on `SkillsBuilder` even if the course is deactivated. We need to prevent this.
- [ ] I can enroll in a course even if it's deactivated. We need to prevent this.
- [ ] After deactivate a course, I can't to activate it again. We need need the ability to do that.
- [ ] I have merged PR #14, We need to check it on `development`.
- [ ] The logo need to be smaller and

[2018-01-16 14:12] #24 closed, assigned to solimansamy

[2018-02-05 13:05] solimansamy opened #53 "Make configuration file to define CURRENT_THEME dynamically"
We have now the following branches
certiport-development
skillsbuilder-design

Associated to the following domains
http://certiportarabia.com/
http://skillsbuilderpro.com/
http://knowledgeworkerspro.com/

We need to add some configuration so that CURRENT_THEME should be defined dynamically instead of hard coded

[2018-02-05 13:20] badr4php commented on #53
touch config/hosts.php
Then put the content below into it
$hosts = [
    [
        "host" => "certiportarabia.com",
        "theme" => "certiport"
    ],
    [
        "host" => "knowledgeworkerspro.com",
        "theme" => "certigate"
    ],
    [
        "host" => "skillsbuilderpro.com",
        "theme" => "skillsbuilder"
    ],
];

function getCurrentTheme($hosts)
{
    $currentHost = $_SERVER[

[2018-02-05 13:22] badr4php commented on #53
update config.php file add this lines in it
require_once 'hosts.php';
define('CURRENT_THEME', getCurrentTheme($hosts));

[2018-02-06 10:00] badr4php opened #54 "SBP-54 : Add a preview option for pages"

[2018-02-07 09:20] badr4php opened #55 "SBP-55 : Ability to duplicate pages"

[2018-02-07 09:36] mahmoud-hussien1 commented on #54
pr: http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/46

[2018-02-07 11:22] badr4php commented on #55
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/47

[2018-02-07 11:31] badr4php opened #56 "SBP-56 : Add new photo field for Arabic version"
Add new photo field for Arabic version in this entities:

- [x] pages

- [x] categories

- [x] courses

[2018-02-07 12:13] solimansamy opened #57 "Ability to have different photos version in English and Arabic section"

[2018-02-07 12:14] #57 closed, assigned to nobody

[2018-02-07 12:24] solimansamy opened #58 "Issues in Skillsbuilder Homepage"
- [x] Home page need to be amended as follows:                                                                                        -
      The logo need to be smaller and in white (the version sent eralier).
- [x] The main menu header need to be with less height
- [x] The main header photos do not transit with the same animation as the template(excluded by Rashad).
- [x] The photo next to the 4

[2018-02-07 16:27] mahmoud-hussien1 commented on #58
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/48

[2018-02-12 13:13] badr4php commented on #56
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/51

[2018-02-12 14:06] badr4php opened #59 "SBP-59 : Add new PDF resource for courses"

[2018-02-12 14:13] solimansamy opened #60 "Create new PDF resource for coursed"

[2018-02-12 14:14] solimansamy commented on #60
The new resource should be free and **should not** be exist on eStore

[2018-02-18 12:55] badr4php opened #61 "SPB-61 : Create Main Courses page"
Main Courses page need to reflect three criteria (ILT/Audio/Elearning)

[2018-02-18 13:04] mahmoud-hussien1 commented on #59
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/54

[2018-02-18 17:54] badr4php commented on #61
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/55

[2018-03-04 12:27] badr4php opened #62 "SBP-62 : Fix uploading and browsing images in ckeditor"

[2018-03-04 15:38] badr4php commented on #62
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/70

[2018-03-04 16:56] badr4php opened #63 "SBP-63 :make the 4 colored square in one horizontal line."

[2018-03-04 17:15] badr4php commented on #63
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/71

[2018-03-05 12:52] ahmedelbougha opened #64 "TTT - Flipping Book"
Need a quotation

[2018-03-06 09:00] Ali-Galal commented on #64
could you update us when shall we receive the quotation?

[2018-03-06 09:34] Ali-Galal opened #65 "TTT - Arabic resources"
we need everything in the course in both languages EN/AR including the resources

[2018-03-06 12:59] ahmedelbougha commented on #64
@Ali-Galal
I'll prepare this today, so En Shaa Allah tomorrow morning.

[2018-03-07 08:18] ahmedelbougha opened #66 "SBP-66 - English Photo Upload hidden in Pages"
English photos upload are hidden for CMS Pages create/edit though it's works fine for CMS Press Releases

[2018-03-07 08:30] ahmedelbougha commented on #64
@Ali-Galal
Initially it takes 3 days:
1- Adding new resource (Flipping Book) to course
2- Uploading compressed version of the flipping book
3- Decompress the flipping book to the server to specific path
4- Restrict path access to people who paid for flipping book

Please take care, if you need additional security to Flipping Book, this may require additional development effort.

[2018-03-07 08:33] ahmedelbougha commented on #65
@Ali-Galal
The estimation update will today afternoon En Shaa Allah

[2018-03-07 10:12] badr4php commented on #66
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/73

[2018-03-08 11:15] badr4php commented on #64
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/74

[2018-03-08 11:27] mahmoud-hussien1 commented on #65
@Ali-Galal the estimate is 2.5 days.

[2018-03-08 14:04] Ali-Galal commented on #65
ok, when can we receive it?

[2018-03-08 14:16] ahmedelbougha commented on #65
Tuesday (13/03/2018) En Shaa Allah.

On 8 March 2018 at 16:04, Ali-Galal <notifications@github.com> wrote:

--
Thanks,
Ahmed Elbougha

[2018-03-08 14:19] Ali-Galal commented on #64
ok, when shall we receive it?

[2018-03-08 14:20] Ali-Galal commented on #65
Go ahead please

[2018-03-08 14:21] ahmedelbougha commented on #64
Tuesday (20/03/2018) En Shaa Allah.

On 8 March 2018 at 16:19, Ali-Galal <notifications@github.com> wrote:

--
Thanks,
Ahmed Elbougha

[2018-03-11 07:53] ahmedelbougha commented on #66
@badr4php
I still cannot see `Picture` field when I'm using Page as CMS type, please check

[2018-03-11 08:50] ahmedelbougha commented on #63
merged

[2018-03-11 08:50] #63 closed, assigned to ahmedelbougha

[2018-03-11 09:22] ahmedelbougha commented on #62
Merged

[2018-03-11 09:22] #62 closed, assigned to ahmedelbougha

[2018-03-11 10:40] ahmedelbougha commented on #59
Merged

[2018-03-11 10:40] #59 closed, assigned to ahmedelbougha

[2018-03-11 11:26] ahmedelbougha opened #67 "TTT - Category page design has to match design"
Currently Learning Path page doesn't match the required design, please make implement the same look and feel.

[2018-03-11 11:28] ahmedelbougha opened #68 "TTT - Category has to have "Arabic Details""
Please add "Arabic Details" field to category entity.

[2018-03-11 11:35] badr4php opened #69 "SBP-68 : add Arabic details field in category"

[2018-03-11 11:36] #69 closed, assigned to mahmoud-hussien1

[2018-03-11 12:14] badr4php commented on #67
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/78

[2018-03-11 14:21] ahmedelbougha commented on #67
merged

[2018-03-11 14:21] #67 closed, assigned to ahmedelbougha

[2018-03-11 14:29] ahmedelbougha commented on #68
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/79

[2018-03-11 15:16] badr4php opened #70 "SBP-70 : fix admin menu links in Arabic version"

[2018-03-11 15:22] badr4php commented on #70
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/80

[2018-03-11 15:29] ahmedelbougha commented on #68
merged

[2018-03-11 15:29] #68 closed, assigned to ahmedelbougha

[2018-03-11 16:08] ahmedelbougha commented on #66
merged

[2018-03-11 16:08] #66 closed, assigned to ahmedelbougha

[2018-03-13 13:41] ahmedelbougha commented on #70
merged

[2018-03-13 13:41] #70 closed, assigned to ahmedelbougha

[2018-03-13 14:26] ahmedelbougha opened #71 "TTT - add option to remove images"
Add option to remove images in CMS Pages, Course, Category
Estimated time: 1 day
Estimated date: 18/03/2018
Please approve

[2018-03-13 14:27] ahmedelbougha opened #72 "TTT - Fix issue of frontend design page for courses"
Fix the design of frontend course page
1- Category name
2- Ar/En versions

[2018-03-13 14:32] ahmedelbougha opened #73 "TTT - Add preview option to courses"
Add preview options courses just like CMS Pages.
Estimated Time: 2 days
Estimated Date: 18/03/2018

Please approve

[2018-03-13 14:33] #60 closed, assigned to mahmoud-hussien1

[2018-03-15 15:35] mahmoud-hussien1 commented on #73
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/84

[2018-03-19 12:06] LamiaSalah opened #74 "Arabic menu"
The order of the Arabic menu is wrong, it should start from right to left, not like English
Also the font of the titles is very small in Arabic

[2018-03-19 12:07] LamiaSalah opened #75 "Arabic menu in backend"
The pages titles are written in English, and not Arabic and accordingly cannot find the page when search

[2018-03-19 12:08] LamiaSalah opened #76 "Photos browsing"
in normal pages adding a photo should NOT be mandatory, please remove from English and Arabic

[2018-03-19 12:08] LamiaSalah opened #77 "Logo Link"
Logo should be linked to the home page

[2018-03-20 08:54] ahmedelbougha commented on #64
done, merged

[2018-03-20 08:55] #64 closed, assigned to ahmedelbougha, LamiaSalah

[2018-03-20 09:43] LamiaSalah opened #78 "SBP pages"
The content added on the categories section for the Learning Paths does not appear after being uploaded and saved.

[2018-03-20 10:22] ahmedelbougha commented on #78
@Ali-Galal , @LamiaSalah
This issue was due to apply changes this morning to the server, everything should be working fine now.
I will close the issue according to this.

[2018-03-20 10:22] #78 closed, assigned to nobody

[2018-03-28 09:23] badr4php opened #79 "SBP-79 :Change Website Name"

[2018-03-28 09:40] badr4php commented on #79
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/86

[2018-03-28 09:50] badr4php opened #80 "SBP-80 : Sign in page issues"
- [x] Delete please sign in message and make it fit to the screen without scroll

- [x] There are missing pictures and the header has unsuitable animation.

[2018-03-28 10:23] badr4php commented on #80
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/87

[2018-03-28 12:04] badr4php opened #81 "SBP-81: Fix style issue in user profile"
User Role section in the user profile needs to be adjusted
Privacy Statement section in the user profile needs to be adjusted

[2018-03-28 13:02] badr4php commented on #81
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/88

[2018-03-29 09:53] LamiaSalah opened #82 "Estore"
Please note that the e-store page is empty and the courses should be reflected on on that page once created.

[2018-03-29 18:17] ahmedelbougha commented on #81
merged.

[2018-03-29 18:17] #81 closed, assigned to ahmedelbougha

[2018-04-01 09:39] HeshamHassan opened #83 "SBP Home Page is not working"
**URL**: http://www.skillsbuilderpro.com/
**Subject**: The Skills Builder Pro. home page is not working.
![image](https://user-images.githubusercontent.com/11155105/38171845-e215bc96-35a9-11e8-8701-efe131308cc2.png)

[2018-04-01 09:49] HeshamHassan opened #84 "The website is not working probably on Mac Safari."
**URL:** http://www.skillsbuilderpro.com/
**Subject:** The website is not working probably on Mac Safari.

[2018-04-01 09:53] Ali-Galal commented on #83
Dear @ahmedelbougha I need this to be settled before this Tuesday

[2018-04-01 09:54] Ali-Galal commented on #84
Dear @ahmedelbougha I need this to be settled before this Tuesday

[2018-04-01 11:56] ahmedelbougha commented on #84
Are you using www.skillsbuilder.com or skillsbuilder.com ?

On Sun, Apr 1, 2018, 11:54 AM Ali-Galal <notifications@github.com> wrote:

[2018-04-01 13:16] Ali-Galal commented on #84
skillsbuilder.com

[2018-04-01 13:20] Ali-Galal commented on #82
any update?

[2018-04-01 14:13] HeshamHassan opened #85 "Join Chat is not working"
Join Chat is not working
![image](https://user-images.githubusercontent.com/11155105/38174059-fa2fec90-35cf-11e8-82ee-4d0a05309430.png)

[2018-04-01 14:15] HeshamHassan opened #86 "Sign in page"
**URL**:http://skillsbuilderpro.com/sign/in
**Subject**:Sign in page needs to be adjusted. Its appearance is not act well.
There are missing pictures and the header has unsuitable animation.
![image](https://user-images.githubusercontent.com/11155105/38174071-3a462254-35d0-11e8-9bbb-47dc70a84f47.png)

[2018-04-01 14:17] HeshamHassan opened #87 "User role section in the user profile form"
**URL:** http://skillsbuilderpro.com/users/edit/14
**Subject:** User Role section in the user profile needs to be adjusted
Privacy Statement section in the user profile needs to be adjusted
![image](https://user-images.githubusercontent.com/11155105/38174086-8ee16c06-35d0-11e8-8059-4807ae9a6631.png)

[2018-04-01 14:21] HeshamHassan opened #88 "User sub menu appears over the menu"
**URL:** http://skillsbuilderpro.com/users
**Subject:** User sub menu appears over the menu. Cannot access the training manager submenu. It must appear beside not over.
![image](https://user-images.githubusercontent.com/11155105/38174096-c8f1a398-35d0-11e8-9e30-60d85528de81.png)

[2018-04-01 14:25] HeshamHassan opened #89 "Courses List View"
**URL:** http://skillsbuilderpro.com/courses
**Path:** Admin> Course> Courses
**Subject:** This report needs some database features: Sort & Filter.
![image](https://user-images.githubusercontent.com/11155105/38174137-9fbf6c48-35d1-11e8-9a01-5a2946f1a40b.png)

[2018-04-01 14:28] HeshamHassan opened #90 "Arabic Evaluation Template"
**URL:** http://skillsbuilderpro.com/courses/ev-templates/edit/1
**Path:** Admin> Evaluation Template
**Subject:** Evaluation Template need the Arabic queries.
![image](https://user-images.githubusercontent.com/11155105/38174175-1d8d59f0-35d2-11e8-9c2f-6bd2b673bf29.png)

[2018-04-01 14:30] HeshamHassan opened #91 "Evaluation Template Result"
**URL:** http://skillsbuilderpro.com/courses/ev-templates/edit/1
**Path:** Admin> Evaluation Template
**Subject:** The Evaluation Template need to have a result report and analytical report.

[2018-04-01 14:35] HeshamHassan opened #92 "Users Bulk Add"
**URL:** http://skillsbuilderpro.com/users
**Path:** Admin> User> Users
**Subject:**
- User page must has users bulk add process.
- And if there is a user duplicate button, it will be good.
![image](https://user-images.githubusercontent.com/11155105/38174223-bff5454a-35d2-11e8-8d85-dfdd3a89905e.png)

[2018-04-01 15:14] HeshamHassan opened #93 "Arabic learning paths do not view the Arabic contents"
**URL:** http://skillsbuilderpro.com/categories
**Subject:** The Arabic home page – Learning Paths section: The block with a left side picture can read the Arabic contents very well. But, the block with a right side picture cannot read the Arabic contents and the contents appear in English.
![image](https://user-images.githubusercontent.com/11155105/38174609-75c2ed00-35d8-11e8-90eb-4b1bd1200b17.pn

[2018-04-01 15:29] HeshamHassan opened #94 "The header has a bad scrolling action"
The header has a bad scrolling action in all pages. When scroll the page up or down, it makes a small jump that hides some data in the page. Also, gives a bad user indication.
![image](https://user-images.githubusercontent.com/11155105/38174723-917c4ea4-35da-11e8-8f01-7508922551e8.png)
After one scrolling click:
![image](https://user-images.githubusercontent.com/11155105/38174731-a6bdd35a-35da-11e

[2018-04-01 15:48] Ali-Galal opened #95 "remove the login restrictions"
remove the login restriction for Learning paths pages

[2018-04-01 15:53] Ali-Galal opened #96 "Photos on each learning paths need to be fixed with proper focus."
Photos on each learning paths need to be fixed with proper focus.

[2018-04-01 15:55] Ali-Galal opened #97 "Arabic issues"
- [x] All Arabic pages text is aligned left.
- [x] All Arabic courses text is aligned left
- [x] Adding an Arabic File in pdf

[2018-04-01 15:57] Ali-Galal opened #98 "Design"
The following pages need designs as agreed:

- [x] http://skillsbuilderpro.com/Courses
- [ ] http://skillsbuilderpro.com/skillsbuilderpro.com/training/lms
- [x] http://skillsbuilderpro.com/ILT_Courses
- [x] http://skillsbuilderpro.com/audio_books
- [ ] http://skillsbuilderpro.com/elearning
- [ ] http://skillsbuilderpro.com/Membership
- [ ] http://skillsbuilderpro.com/value_pack
- [ ] http://skills

[2018-04-01 16:17] Ali-Galal commented on #65
any update?

[2018-04-02 05:59] ahmedelbougha commented on #77
done

[2018-04-02 05:59] #77 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-02 06:00] ahmedelbougha commented on #83
done, I made http://www.skillsbuilderpro.com redirecting to http://skillsbuilderpro.com

[2018-04-02 06:00] #83 closed, assigned to ahmedelbougha, Ali-Galal

[2018-04-02 06:02] ahmedelbougha commented on #87
done

[2018-04-02 06:02] #87 closed, assigned to ahmedelbougha, Ali-Galal

[2018-04-02 06:29] ahmedelbougha commented on #96
this is an issue related to the sizes of images uploaded from CMS, it has to be with following size:
Width: 292.5px
Hight: 370px

[2018-04-02 06:30] Ali-Galal commented on #96
Pixel?

[2018-04-02 06:30] ahmedelbougha commented on #96
yes

[2018-04-02 06:48] ahmedelbougha commented on #94
The scrolling is related to the theme itself.
we will check the issue of the header hides the title En Shaa Allah

[2018-04-02 06:54] ahmedelbougha commented on #86
As agreed with Ali, this is to be closed, since it's related to the theme itself.

[2018-04-02 06:54] #86 closed, assigned to ahmedelbougha, Ali-Galal

[2018-04-02 06:57] HeshamHassan opened #99 "User Profile Editing – Role Agreements"
**URL:** http://skillsbuilderpro.com/users/edit/14
**Path:** User> User Menu> Users> My Profile> Edit Your Profile
**Subject:**
- [x] The “I agree to…” is not at the same line with its role
- [x] Role # 2 “Student” agreement must be “I agree to Test Center Administrator Statement”
- [x] The Agreement is of Role # 2 is not clickable
- [x] Role # 4 “Proctor” agreement must be “I agree to Proctor Sta

[2018-04-02 07:12] HeshamHassan opened #100 "User Profile Editing – Opening Role Agreement and Submit"
- [x] When click on the agreement to read, there is a button to agree the statement. If I clicked on this button, the agreement window has to be closed and the concerned agreement checkbox must be checked. But it does not affect the checkbox. So, I have to check the checkbox again.
- [x] there is no buttons for submit or cancel the modifications.
![image](https://user-images.githubusercontent.com/

[2018-04-02 07:46] HeshamHassan opened #101 "Home menu at Header"
URL: http://skillsbuilderpro.com/
Subject: When click on Home at the header menu, it leads to wrong URL: http://skillsbuilderpro.com/www.skillsbuilderpro.com
![image](https://user-images.githubusercontent.com/11155105/38188095-03423c32-3663-11e8-97e7-44da403875c8.png)

![image](https://user-images.githubusercontent.com/11155105/38188099-06bb5d3a-3663-11e8-9706-4e8ed81e2dd1.png)

[2018-04-02 08:22] ahmedelbougha commented on #99
Fixed with one known issue, roles not aligned with statements but in admin only.

[2018-04-02 08:22] #99 closed, assigned to ahmedelbougha, Ali-Galal, LamiaSalah

[2018-04-02 08:24] ahmedelbougha commented on #101
this issue can be fixed from CMS, it seems like the content team put the wrong URL for that menu.

[2018-04-02 08:24] #101 closed, assigned to ahmedelbougha, Ali-Galal, LamiaSalah

[2018-04-02 08:25] Ali-Galal commented on #101
@HeshamHassan For your immediate action please

[2018-04-02 08:29] ahmedelbougha commented on #95
Priority 1

[2018-04-02 08:29] ahmedelbougha commented on #94
Priority 8

[2018-04-02 08:30] ahmedelbougha commented on #97
Priority 4
This already done, but need review and QA before merging.

[2018-04-02 08:30] ahmedelbougha commented on #98
Priority 5
This is already done but needs review and QA before merging.

[2018-04-02 08:32] ahmedelbougha commented on #93
Priority 3
This issue in regard to Learning Paths contents in home page

[2018-04-02 08:33] ahmedelbougha commented on #88
Priority 6

[2018-04-02 08:33] ahmedelbougha commented on #74
Priority 2

[2018-04-02 08:33] ahmedelbougha commented on #85
Priority 7

[2018-04-02 08:36] ahmedelbougha commented on #100
The buttons for submit/cancel are already there.

[2018-04-02 09:56] LamiaSalah opened #102 "Courses Lay out page"
The layout of all courses pages need to be reviewed and outline does not appear in the front end.

[2018-04-02 10:13] badr4php commented on #93
PR: https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/90

[2018-04-02 10:14] badr4php commented on #95
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/89

[2018-04-02 11:20] mahmoud-hussien1 commented on #74
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/82

[2018-04-02 11:32] HeshamHassan commented on #100
When loging in as a user (not admin) the buttons for submit/cancel are not there.
![image](https://user-images.githubusercontent.com/11155105/38194834-b7b4f596-3682-11e8-81b5-94a3d65e8a59.png)

[2018-04-02 11:59] HeshamHassan opened #103 "Agreement is not Aligned"
**URL:** http://skillsbuilderpro.com/users/edit/14
**Subject:** The agreement is not aligned with its role. This issue appears when log in with any user, not only with the admin log in.
![image](https://user-images.githubusercontent.com/11155105/38195433-24072e6e-3686-11e8-978a-0f372817496e.png)
![image](https://user-images.githubusercontent.com/11155105/38195436-263b3a9a-3686-11e8-8020-f905181801

[2018-04-02 12:50] ahmedelbougha commented on #95
done

[2018-04-02 12:50] #95 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-02 12:54] ahmedelbougha commented on #93
done

[2018-04-02 12:54] #93 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-02 12:58] ahmedelbougha commented on #102
Course outlines are displayed normal ex. http://skillsbuilderpro.com/courses/more/1
In regard to layout, would you please send more details about what you want to do?

[2018-04-02 13:32] Ali-Galal commented on #102
Course outlines are not displayed normally ex. http://skillsbuilderpro.com/courses/more/8
the same page in CMS http://skillsbuilderpro.com/courses/outlines/8

[2018-04-02 13:37] HeshamHassan commented on #102
The outline is inactive in CMS. when make activation, it works probably.

[2018-04-02 13:49] ahmedelbougha commented on #74
Done

[2018-04-02 13:49] #74 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-02 17:26] ahmedelbougha commented on #88
done, please Ctrl+Shift+R to update the styles.

[2018-04-02 17:26] #88 closed, assigned to ahmedelbougha, Ali-Galal

[2018-04-02 17:30] ahmedelbougha commented on #98
Main courses page can be accessed via this URL http://skillsbuilderpro.com/courses/list.
The main courses page and category page contain the filters (All, ILT, Audio), no LMS yet since the resource is not there.

[2018-04-02 18:20] ahmedelbougha commented on #98
the rest of the pages are CMS pages, so this issue is not applicable for them

[2018-04-02 18:20] #98 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-03 09:15] HeshamHassan opened #104 "Remove the " X " sign in the website"
As per Eng. Ali,
Remove the " X " sign in all pages of the website.
![image](https://user-images.githubusercontent.com/11155105/38240436-41e9ec5c-3738-11e8-9c51-8f491bb6f4c1.png)

[2018-04-03 09:23] LamiaSalah opened #105 "Call to action"
Dear Ahmed,

Please note that the call to action associated with the PDF flyer is purchase now, while it should be Download now

[2018-04-03 09:31] ahmedelbougha commented on #105
@badr4php  would you please take care of this?

[2018-04-03 09:43] #61 closed, assigned to ahmedelbougha

[2018-04-03 10:45] badr4php commented on #105
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/93

[2018-04-03 11:32] ahmedelbougha commented on #105
merged, done

[2018-04-03 11:32] #105 closed, assigned to LamiaSalah

[2018-04-03 11:41] mahmoud-hussien1 commented on #104
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/94

[2018-04-03 13:11] ahmedelbougha opened #106 "Pager in course main page and category page"

[2018-04-03 13:15] ahmedelbougha commented on #92
@Ali-Galal this is a new feature, please confirm so we can proceed with estimation.

[2018-04-03 13:17] ahmedelbougha commented on #91
@HeshamHassan @Ali-Galal
Evaluation template has nothing to do with course evaluation, it's just template, we will check the course evaluation and let you know.

[2018-04-03 13:19] ahmedelbougha commented on #90
@Ali-Galal @HeshamHassan
Please elaborate more.

[2018-04-03 13:19] ahmedelbougha commented on #89
@Ali-Galal
This is a new feature. Please confirm, so we can proceed with estimation.

[2018-04-03 13:23] ahmedelbougha commented on #80
done

[2018-04-03 13:23] #80 closed, assigned to ahmedelbougha

[2018-04-03 13:23] #72 closed, assigned to ahmedelbougha

[2018-04-03 13:24] ahmedelbougha commented on #72
duplicate

[2018-04-03 13:24] #55 closed, assigned to ahmedelbougha

[2018-04-03 13:35] ahmedelbougha commented on #102
done

[2018-04-03 13:35] #102 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-03 13:40] ahmedelbougha commented on #76
done

[2018-04-03 13:40] #76 closed, assigned to nobody

[2018-04-03 13:48] #79 closed, assigned to ahmedelbougha

[2018-04-03 13:49] ahmedelbougha commented on #75
invalid issue

[2018-04-03 13:49] #75 closed, assigned to nobody

[2018-04-03 13:50] ahmedelbougha commented on #54
done

[2018-04-03 13:50] #54 closed, assigned to solimansamy

[2018-04-03 16:15] Ali-Galal opened #107 "Remove Arabic Icon"
@ahmedelbougha kindly hide the Arabic icon till we finish the arabic version

[2018-04-04 07:26] Ali-Galal commented on #92
rejected

[2018-04-04 07:58] #92 closed, assigned to ahmedelbougha, Ali-Galal

[2018-04-04 08:05] HeshamHassan commented on #90
This page is not available in Arabic version.
When switching to the Arabic interface, this page still in English.

[2018-04-04 08:09] Ali-Galal commented on #80
@ahmedelbougha did you upload it to our server? because I see it still not done

[2018-04-04 08:16] Ali-Galal commented on #89
rejected

[2018-04-04 09:11] ahmedelbougha commented on #80
yes I just uploaded them.

[2018-04-04 09:12] #89 closed, assigned to ahmedelbougha, Ali-Galal

[2018-04-04 09:25] ahmedelbougha commented on #90
done

[2018-04-04 09:25] #90 closed, assigned to ahmedelbougha, Ali-Galal

[2018-04-04 09:43] HeshamHassan opened #108 "User Menu is unavailable"
**URL:** http://skillsbuilderpro.com/
**Subject:** When sign in with any role, I cannot find the “User” menu.
![image](https://user-images.githubusercontent.com/11155105/38300558-c722c20e-3805-11e8-851b-0b9f1d236eb5.png)

[2018-04-04 11:29] mahmoud-hussien1 commented on #100
PR - http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/95
PR - http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/97

[2018-04-05 14:26] LamiaSalah opened #109 "Take this Course"
The tab link should be linked to the registration form if the visitor is not registered and to the shopping cart if he is

[2018-04-05 14:27] LamiaSalah opened #110 "Tabs at the top of a course page"
They should be ILT, AudioBook and Elearning instead of ALL, ILT and Audio

[2018-04-05 14:28] LamiaSalah opened #111 "Registration"
The registration fields should be separated between the Arabic and English section, currently, all are added on one page and format need to be fixed

[2018-04-05 14:29] LamiaSalah opened #112 "Contact us"
please fix page lay out

[2018-04-08 09:57] HeshamHassan opened #113 "No access to Flipping Book page."
**URL:** http://skillsbuilderpro.com/courses/more/12
**Path:** Learning Paths > Small business builder> Building an Online Business> Course Resources
**Subject:**
On the course resources, when click on “Purchase now”:
![image](https://user-images.githubusercontent.com/11155105/38466066-4718d542-3b2c-11e8-8a69-111bde9cedc2.png)

I got the following message:
![image](https://user-images.githubuserco

[2018-04-08 10:04] HeshamHassan opened #114 "Flipping Book for Students and Trainers."
**Subject:**
The Flipping Book has 2   sections. First section is used for student courses. Second section is used   for trainer courses.   How to separate them at the   website?

[2018-04-08 10:17] ahmedelbougha commented on #114
@Ali-Galal
This is a new requirement, please confirm that you need it to proceed with time/cost estimation.

[2018-04-08 10:18] Ali-Galal commented on #114
@ahmedelbougha we are testing it now, just wait till we try it

[2018-04-08 11:18] Ali-Galal commented on #114
@ahmedelbougha yes, kindly send to me the time and cost, knowing that I just need to remove the restriction of uploading more than one flipping book for the same course

[2018-04-08 11:39] badr4php commented on #106
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/96

[2018-04-08 11:45] ahmedelbougha commented on #110
@LamiaSalah
We will change Audio to AudioBook En Shaa Allah.
In regard to the rest of you requirements above, we need to have Tab (All) otherwise the user cannot clear the filter, and (E-learning) is currently not available in SkillsBuilder, so we can add it after adding it to backend.

[2018-04-08 17:10] ahmedelbougha commented on #114
@Ali-Galal
We will create 2 different types of Flipping Book resources:
1- Trainer Flipping Book
2- Student Flipping Book
each of them shall have only one upload (same old restriction), so you can upload both types for the same course.
Time estimation: 8 hours
Estimated date: 12/04/2018

[2018-04-09 07:38] Ali-Galal commented on #114
Approved

[2018-04-09 12:10] HeshamHassan opened #115 "Take this course"
**URL:** http://skillsbuilderpro.com/courses/calendar
**Path:** Learning Paths> Small Business Builder> Building a Consulting Business> More> TAKE THIS COURSE
**Subject:** When I press “Take This Course” button, it diverts me to the following page (Course Calendar) which has all courses. And I have to search again for my concern course.
![image](https://user-images.githubusercontent.com/11155105/3

[2018-04-09 12:13] HeshamHassan opened #116 "Invalid Redirection in Course Calendar Page"
**URL:** http://skillsbuilderpro.com/courses/calendar
**Path:** Learning Paths> Small Business Builder> Building a Consulting Business> More> TAKE THIS COURSE
**Subject:** In (Course Calendar) page, when click on “More..” link, the link leads to a page of another course.
![image](https://user-images.githubusercontent.com/11155105/38497085-8d0d8796-3c08-11e8-9be8-7359d0e2b33f.png)

[2018-04-10 12:18] HeshamHassan opened #117 "Learning Path Page Issue"
**URL:**http://skillsbuilderpro.com/categories/courses/3
**Path:**Learning Paths> Career Skills Builder>
**Subject:**
There is an inactive course in “Career Skills Builder”
![image](https://user-images.githubusercontent.com/11155105/38556439-5a216896-3cd2-11e8-9fe5-6c42523c38d9.png)
And the course appears in the front-end as shown below:
![image](https://user-images.githubusercontent.com/11155105/

[2018-04-10 12:56] Ali-Galal commented on #96
@ahmedelbougha we did change the image dimensions as your instructions, but still is not fitting
we edit just one for the test @HeshamHassan is going to upload its screenshot

[2018-04-10 13:01] HeshamHassan commented on #96
![image](https://user-images.githubusercontent.com/11155105/38558173-fe0d4c72-3cd7-11e8-808d-40c0bc228afa.png)

[2018-04-11 12:31] badr4php opened #118 "SBP-118 : Fix Contact us page"
use this address for the USA:
7610 W Hwy 71

Suite F

Austin TX, 78735

[2018-04-11 12:33] badr4php opened #119 "SBP -119 : Course's page enhancement"
- [x] You’ll change Take this Course tab to ‘Find out more’

- [x] Remove the Calendar tab

- [x] You’ll keep only the two tabs Course Outline and Resources invisible until visitor registers.

- [x] After registration they can access the above tabs

[2018-04-11 13:08] badr4php commented on #119
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/99

[2018-04-11 13:51] mahmoud-hussien1 commented on #118
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/100

[2018-04-12 07:58] LamiaSalah commented on #119
Confirmed, all changes above are required.

[2018-04-12 09:49] badr4php opened #120 "SBP-120 : Add Section "add an email" for course event notification."
Section where they can add an email to get notified of available dates.

[2018-04-12 09:52] badr4php opened #121 "SBP-121 :Display course events dates in course page"
- [x]  Add course dates (Under the course photo)

- [x] Add a “public dates” and “private date” section

- [x]  Dates clicked should lead to checkout

- [x] We are currently full

[2018-04-12 13:22] badr4php commented on #121
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/101

[2018-04-12 14:49] mahmoud-hussien1 commented on #114
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/102

[2018-04-15 11:01] badr4php commented on #116
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/103

[2018-04-15 12:00] ahmedelbougha commented on #65
done, deployed

[2018-04-15 12:00] #65 closed, assigned to ahmedelbougha

[2018-04-15 12:15] mahmoud-hussien1 commented on #117
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/98

[2018-04-15 12:34] ahmedelbougha commented on #100
- User registration
- User edit profile
- Admin new user
- Admin edit user

[2018-04-15 12:58] ahmedelbougha commented on #117
done

[2018-04-15 12:58] #117 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-15 13:04] ahmedelbougha commented on #118
@mahmoud-hussien1
Needs some fixes for map locations

[2018-04-15 13:09] ahmedelbougha commented on #116
done

[2018-04-15 13:09] #116 closed, assigned to HeshamHassan, badr4php, Ali-Galal, LamiaSalah

[2018-04-15 13:10] ahmedelbougha commented on #112
duplicated issue with #118

[2018-04-15 13:10] #112 closed, assigned to nobody

[2018-04-15 13:15] badr4php commented on #115
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/105

[2018-04-15 13:22] ahmedelbougha commented on #110
done

[2018-04-15 13:35] ahmedelbougha commented on #97
done

[2018-04-15 13:36] ahmedelbougha commented on #115
done

[2018-04-15 13:36] #115 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-15 13:37] ahmedelbougha commented on #56
done

[2018-04-15 13:37] #56 closed, assigned to solimansamy

[2018-04-15 14:35] HeshamHassan opened #122 "eStore Logging in Problem"
**URL:** http://skillsbuilderpro.com/estore/
**Subject:**
After logging in and when click on eStore at the header, I got the eStore page without logging in! and it asks to sign in again.
When click on Sign in button, it redirects me to the home page: SkillsBuilderPro.com
![image](https://user-images.githubusercontent.com/11155105/38779599-50af7b0e-40d3-11e8-937a-f7e01ba28e28.png)

[2018-04-15 15:05] ahmedelbougha commented on #73
done

[2018-04-15 15:05] #73 closed, assigned to ahmedelbougha, Ali-Galal, LamiaSalah

[2018-04-15 15:12] ahmedelbougha commented on #114
done

[2018-04-15 15:12] #114 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-15 15:18] ahmedelbougha commented on #104
done

[2018-04-15 15:18] #104 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-15 15:19] #97 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-15 15:20] ahmedelbougha commented on #94
closed - not priority.

[2018-04-15 15:20] #94 closed, assigned to ahmedelbougha, Ali-Galal

[2018-04-15 15:42] ahmedelbougha commented on #119
done

[2018-04-15 15:42] #119 closed, assigned to badr4php

[2018-04-15 16:39] ahmedelbougha commented on #71
@Ali-Galal
Please confirm this.

[2018-04-15 16:39] ahmedelbougha commented on #111
@Ali-Galal
This is an enhancement, please confirm to work on estimation

[2018-04-15 17:33] badr4php commented on #108
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/106

[2018-04-16 06:16] HeshamHassan opened #123 "eStore Layout"
**URL:** http://skillsbuilderpro.com/estore/
**Subject:**
- [ ] The eStore layout need to be completely fixed (logo, tabs, commands and content of the page for each course)
- [ ] The big white area need to be reduced a bit
![image](https://user-images.githubusercontent.com/11155105/38792653-c3ee2a88-4156-11e8-88cf-7e7dfd8d29e9.png)

[2018-04-16 06:18] HeshamHassan opened #124 "Front End - Resources Page"
**URL:** http://skillsbuilderpro.com/courses/more/3
**Path:** Learning Path> Small Business Builder> Managing Projects: First Steps First> More> Course Resources
**Subject:**
- [x] The resources page shows the name of a learning path at the top, it should show the course name.
![image](https://user-images.githubusercontent.com/11155105/38792697-0433c0a8-4157-11e8-998b-06d4231fa800.png)

[2018-04-16 06:20] HeshamHassan opened #125 "CMS Course Resources"
**URL:** http://skillsbuilderpro.com/courses/resources/edit/3
**Path:** Backend> course> courses> Recourses> create new resource> Type
**Subject:**
As per my discussion with Lamia, the type list has duplicated values. They are the same use:
•	Trainer guide & trainer flipping book
•	Student guide & student flipping book
- [ ] Remove (trainer flipping book) and remove (student flipping book) from th

[2018-04-16 06:37] ahmedelbougha commented on #121
done

[2018-04-16 06:37] #121 closed, assigned to ahmedelbougha

[2018-04-16 07:13] ahmedelbougha commented on #103
done

[2018-04-16 07:13] #103 closed, assigned to ahmedelbougha, Ali-Galal, LamiaSalah

[2018-04-16 07:14] ahmedelbougha commented on #100
done

[2018-04-16 07:14] #100 closed, assigned to ahmedelbougha, Ali-Galal, LamiaSalah

[2018-04-16 07:15] ahmedelbougha commented on #71
close due to inactivity.

[2018-04-16 07:15] #71 closed, assigned to ahmedelbougha, Ali-Galal, LamiaSalah

[2018-04-16 07:16] #58 closed, assigned to solimansamy, HeshamHassan

[2018-04-16 07:16] ahmedelbougha commented on #84
done

[2018-04-16 07:16] #84 closed, assigned to ahmedelbougha, Ali-Galal

[2018-04-16 10:04] ahmedelbougha commented on #124
done

[2018-04-16 10:04] #124 closed, assigned to HeshamHassan, badr4php, Ali-Galal, LamiaSalah

[2018-04-16 10:10] ahmedelbougha commented on #125
@HeshamHassan @Ali-Galal @LamiaSalah
You mean to remove Trainer Guide and Student Guide? or to remove Trainer and Student Flipping books?
Please confirm!

[2018-04-16 10:27] ahmedelbougha commented on #125
@LamiaSalah
Please take care this will affect the course page if any of them contains old Trainer or Student Guides.
Also, it will affect category pages filter (ILT) that should be changed to show the Flipping books. Please confirm.

[2018-04-16 10:51] HeshamHassan commented on #125
@Ali-Galal @ahmedelbougha

Please @LamiaSalah Confirm that : _Remove Trainer and Student Flipping books_

[2018-04-16 11:06] ahmedelbougha commented on #125
@badr4php
As per my call with @LamiaSalah, it's confirmed to rename Trainer Guide and Student Guide and rename the Flipping Book resources.

[2018-04-16 11:12] LamiaSalah opened #126 "Customer Journey"
After clicking find out more on the course's page, the visitor should go to register then to the course outline.
a tab with Take this course should be added on the calendar page and outline page

[2018-04-16 12:02] Ali-Galal commented on #96
any update?

[2018-04-16 12:40] badr4php commented on #125
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/107

[2018-04-16 14:33] LamiaSalah commented on #125
Confirmed Ahmed

[2018-04-16 15:47] ahmedelbougha commented on #113
done

[2018-04-16 16:36] ahmedelbougha commented on #118
done

[2018-04-16 16:44] ahmedelbougha commented on #118
@mahmoud-hussien1
Still need some fixes in Arabic edition.

[2018-04-17 07:59] HeshamHassan commented on #113
The same issue
the screen shot of this issue today:
![image](https://user-images.githubusercontent.com/11155105/38856169-5db99aee-422e-11e8-9067-3cc561dbbbab.png)

[2018-04-17 10:18] ahmedelbougha commented on #111
@Ali-Galal
Would you please confirm?

[2018-04-17 10:37] badr4php commented on #126
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/109

[2018-04-17 11:11] ahmedelbougha commented on #96
@Ali-Galal
This is the home page not the learning path page? do you want to check both??

[2018-04-17 11:24] Ali-Galal commented on #96
this is the learning path section of the home page, that what I meant

[2018-04-17 11:25] Ali-Galal commented on #96
however, both pages have the same issue 😄

[2018-04-17 11:51] ahmedelbougha commented on #96
@Ali-Galal
Agree, but I have made a test of one of Learning Path pages and it was working fine i.e. upload one course image with dimensions Width: 292.5px and Hight: 370px and it was working fine, would you please recheck?

[2018-04-17 12:04] ahmedelbougha commented on #113
@HeshamHassan
Please provide us with complete scenario.
Also, please send us the username/password your are using.

[2018-04-17 12:45] Ali-Galal commented on #96
@HeshamHassan check again

[2018-04-17 13:26] HeshamHassan commented on #113
@ahmedelbougha
- Log in (username: user2 / password: 123456789)
- Click on Learning Paths menu
- Click on Small business builder
- Click on Building an Online Business
- Click on Course Resources
- Click on Trainer Flipping Book
- Click on Purchase now

_Note: Any users I create has password: 123456789_

[2018-04-17 13:40] HeshamHassan opened #127 "Banner Data"
**URL:**
**Subject:**
- [x] Banner data must be changed
![image](https://user-images.githubusercontent.com/11155105/38873299-15952b54-425e-11e8-9385-a87d59fc13f4.png)

[2018-04-17 13:44] LamiaSalah opened #128 "Contact email"
Please change the email in contact us page to info@skillsbuilderpro.com

[2018-04-17 14:44] ahmedelbougha commented on #127
@HeshamHassan
Please send specific changes that you need to include in banner.

[2018-04-17 14:46] LamiaSalah commented on #127
Dear Ahmed,

Messages are all sent to you earlier in word doc by me dated 10 April

Regards,

Lamiaa

From: ahmedelbougha [mailto:notifications@github.com]
Sent: Tuesday, April 17, 2018 4:45 PM
To: camelcasetechsd/skillsbuilder <skillsbuilder@noreply.github.com>
Cc: Lamia Salah <lamias@TheTalentTier.com>; Assign <assign@noreply.github.com>
Subject: Re: [camelcasetechsd/skillsbuilder] Banner Data (

[2018-04-17 15:13] ahmedelbougha commented on #127
@LamiaSalah
This is the text you sent:
[code]
Would you please specify which text put in which part? For example:

  - Photo1:
    - Upper text “Education is the most powerful weapon which you can use to change the world.”
    - Lower text "Nelson Mandela"

[2018-04-17 15:14] ahmedelbougha commented on #113
Thanks @HeshamHassan
@badr4php would you please check?

[2018-04-17 15:15] ahmedelbougha commented on #113
@badr4php
I think the USER role doesn't have privileges to use this, correct?

[2018-04-17 16:01] badr4php commented on #113
@ahmedelbougha  Yes,only you need to change privileges  for each role  from admin area

[2018-04-17 16:08] ahmedelbougha commented on #113
@HeshamHassan @Ali-Galal
Please check the permissions that you want to give to User role in admin area.

[2018-04-18 07:56] LamiaSalah commented on #127
Yes, the same as you wrote it down, all other text will be in one line and will be put in order with the current photos.

Please use the info in the same doc for the footer info.

Regards,

Lamiaa

From: ahmedelbougha [mailto:notifications@github.com]
Sent: Tuesday, April 17, 2018 5:13 PM
To: camelcasetechsd/skillsbuilder <skillsbuilder@noreply.github.com>
Cc: Lamia Salah <lamias@TheTalentTier.com

[2018-04-18 11:50] mahmoud-hussien1 commented on #128
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/112

[2018-04-18 12:54] badr4php commented on #122
PR : https://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/113

[2018-04-18 13:00] ahmedelbougha commented on #128
done

[2018-04-18 13:00] #128 closed, assigned to nobody

[2018-04-18 13:25] mahmoud-hussien1 commented on #127
@LamiaSalah banner text will be as below.

![screenshot from 2018-04-18 15 20 47](https://user-images.githubusercontent.com/35919348/38934611-82ded21e-431c-11e8-9c82-eee27d9b288f.png)
![screenshot from 2018-04-18 15 21 54](https://user-images.githubusercontent.com/35919348/38934613-83091650-431c-11e8-8bfc-6ea9811e1390.png)
![screenshot from 2018-04-18 15 22 12](https://user-images.githubuserconten

[2018-04-18 13:28] LamiaSalah commented on #127
That's ok, but please make the font of Nelson Mandela smaller than the other font and in italics if possible

[2018-04-18 13:32] mahmoud-hussien1 commented on #127
@LamiaSalah ok.

[2018-04-18 13:32] HeshamHassan commented on #128
Not yet proceed...
![image](https://user-images.githubusercontent.com/11155105/38935099-18bcbce8-4326-11e8-95f5-a43eee6516a8.png)

Did you publish it?

[2018-04-18 13:49] mahmoud-hussien1 commented on #127
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/114

[2018-04-18 14:34] ahmedelbougha opened #129 "Adding Links to Footer"
Add the following 5 columns to footer instead of current ones:
1- About SBP
  - Corporate Profile
  - Membership
  - How Can SBP help you
  - Value Pack
  - Our Customers
  - Booking

2- Learning Paths
  - Small Business Builder
  -  Personal Skills Builder
  -  Career Skills Builder
  -  Workplace Skills Builder
  -  Marketing Pro
  -  Sales Pro
  -  Job Skills Pro
  -  Talent Development Pro
  -

[2018-04-18 15:46] ahmedelbougha commented on #128
@HeshamHassan
What do you mean?

[2018-04-18 15:53] ahmedelbougha commented on #96
@Ali-Galal @LamiaSalah @HeshamHassan
Fixed but you need to re-upload the images with new size.

[2018-04-18 15:53] #96 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-18 15:57] ahmedelbougha commented on #113
No need to code fix.

[2018-04-18 15:57] #113 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-18 15:58] ahmedelbougha commented on #111
@Ali-Galal
Another kind reminder.

[2018-04-18 15:58] ahmedelbougha commented on #118
done.

[2018-04-18 15:58] #118 closed, assigned to badr4php

[2018-04-18 16:01] ahmedelbougha commented on #128
@HeshamHassan
Yes, it's published, sorry I didn't get you for first time.

[2018-04-19 07:54] LamiaSalah commented on #127
Hi, As per my call with Ahmed please find the new text to be added:

Photo 1: Learn the most practical, in-demand job skills employers seek. Explore more than 100 disciplines in accredited courses.
Photo 2: Learn the skills you need, qualify for top jobs, and build your career with Skills Builder Pro
Photo 3: Elevate your employees’ productivity and effectiveness, develop your workforce skills and

[2018-04-19 08:21] LamiaSalah opened #130 "Content for each Learning Path"
The content added for each learning path is removed and not shown on homepage, though it's added on the CMS

[2018-04-19 08:49] LamiaSalah commented on #126
Any updates on this issue?

[2018-04-19 08:50] Ali-Galal commented on #111
Hold it in mean while

[2018-04-19 09:42] HeshamHassan commented on #130
![image](https://user-images.githubusercontent.com/11155105/38984256-e09cd45c-43ce-11e8-9b0f-9a3b7659d865.png)
![image](https://user-images.githubusercontent.com/11155105/38984341-16180a7a-43cf-11e8-982f-6eba80feeb9b.png)

[2018-04-19 10:24] Ali-Galal commented on #130
@ahmedelbougha I need your prompt action

[2018-04-19 12:03] HeshamHassan commented on #130
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-19 12:06] HeshamHassan commented on #127
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-19 12:06] HeshamHassan commented on #126
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-19 12:06] HeshamHassan commented on #125
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-19 12:07] HeshamHassan commented on #123
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-19 12:07] HeshamHassan commented on #109
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-19 12:08] HeshamHassan commented on #108
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-19 12:09] HeshamHassan commented on #107
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-19 12:09] HeshamHassan commented on #91
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-19 12:10] HeshamHassan commented on #85
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-19 12:10] HeshamHassan commented on #82
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-19 12:12] HeshamHassan commented on #52
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-22 07:22] HeshamHassan commented on #85
Reminder...

[2018-04-22 07:22] HeshamHassan commented on #91
Reminder...

[2018-04-22 07:23] HeshamHassan commented on #107
Reminder...

[2018-04-22 07:23] HeshamHassan commented on #108
Reminder...

[2018-04-22 07:23] HeshamHassan commented on #109
Reminder...

[2018-04-22 07:24] HeshamHassan commented on #122
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-22 07:24] HeshamHassan commented on #123
Reminder...

[2018-04-22 07:24] HeshamHassan commented on #125
Reminder...

[2018-04-22 07:25] HeshamHassan commented on #126
Reminder...

[2018-04-22 07:25] HeshamHassan commented on #127
Reminder...

[2018-04-22 07:25] HeshamHassan commented on #130
Reminder...

[2018-04-22 08:49] LamiaSalah opened #131 "Size of flipping book file"
Please note that there's one file for one of the courses for flipping book that does not need to be uploaded on the website because of its size that is 215.469 KB

Please advise

[2018-04-22 09:49] LamiaSalah opened #132 "Issue with photo upload"
When a photo is uploaded to a page, then you click browse server, you get the website appearing!

[2018-04-22 09:54] LamiaSalah opened #133 "Registration button"
Add Register to be a Trainer button on Trainer's hub page that takes to the registration form

[2018-04-22 12:25] badr4php commented on #122
Done

[2018-04-22 16:52] mahmoud-hussien1 commented on #127
@LamiaSalah  is that you want?
![screenshot from 2018-04-22 18 48 31](https://user-images.githubusercontent.com/35919348/39097545-0afc58e4-465e-11e8-8208-fa8fc31e1080.png)
![screenshot from 2018-04-22 18 48 47](https://user-images.githubusercontent.com/35919348/39097546-0b2dccf8-465e-11e8-921c-b653a5e713a7.png)
![screenshot from 2018-04-22 18 48 57](https://user-images.githubusercontent.com/359193

[2018-04-23 08:05] ahmedelbougha commented on #127
@HeshamHassan @LamiaSalah
In order to finish this ticket, we need your confirmation about the above.

[2018-04-23 09:21] LamiaSalah commented on #127
Confirmed

[2018-04-23 09:50] ahmedelbougha commented on #132
@LamiaSalah
Sorry please elaborate the issue more

[2018-04-23 09:50] ahmedelbougha commented on #130
This is fixed and I informed Lamia today about it.

[2018-04-23 09:50] #130 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-23 09:59] ahmedelbougha commented on #133
@LamiaSalah
You can do this through CMS, @Ali-Galal would you please help with this?

[2018-04-23 10:06] ahmedelbougha commented on #125
@HeshamHassan the function is already running! we will remove the old resources types today En Shaa Allah.

[2018-04-23 10:10] ahmedelbougha commented on #125
this issue has been fixed

[2018-04-23 10:10] #125 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-23 10:15] ahmedelbougha opened #134 "Active categories"
- Make sure only active categories are displayed in home page
- In admin make sure to mark inactive categories in red

[2018-04-23 10:41] mahmoud-hussien1 commented on #127
@ahmedelbougha
PR - http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/114

[2018-04-23 10:48] LamiaSalah commented on #132
It's solved now, no worries

[2018-04-23 10:49] LamiaSalah commented on #133
@Ali-Galal
Please let me know Aly if I can work on it myself

[2018-04-23 10:55] LamiaSalah commented on #129
[Document1.docx](https://github.com/camelcasetechsd/skillsbuilder/files/1937805/Document1.docx)
Attached is the content for the full footer items with the correct order.
AS for the corporate profile link, here it is http://skillsbuilderpro.com/About/corportate_profile

[2018-04-23 10:56] Ali-Galal commented on #133
@LamiaSalah send the CMS page's URL to me, I will handle it

[2018-04-23 11:04] #132 closed, assigned to HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-23 11:07] Ali-Galal commented on #133
@LamiaSalah Check it please, AR & EN

[2018-04-23 11:07] #133 closed, assigned to nobody

[2018-04-23 11:16] mahmoud-hussien1 commented on #129
PR - http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/116

[2018-04-23 11:30] ahmedelbougha commented on #129
@LamiaSalah
The last document you sent contains 6 columns instead of 5 columns, which may affect the design of the template.
Please remove one column, or confirm that you need 6 columns even with design affected.

[2018-04-23 12:04] LamiaSalah opened #135 "Logo at the homepage"
Please delete the university logo in the middle of the home page and reduce the space above and below it

[2018-04-23 12:13] mahmoud-hussien1 commented on #134
@ahmedelbougha
PR - http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/117

[2018-04-23 12:40] LamiaSalah opened #136 "Course brief undownloadable"
The course brief in the resources section is not downloadable

[2018-04-23 12:49] LamiaSalah commented on #133
@Ali-Galal Thanks Aly

[2018-04-23 12:51] LamiaSalah commented on #129
@ahmedelbougha Keep them 5 with removing contact us column

[2018-04-23 13:03] ahmedelbougha commented on #135
@LamiaSalah
Where is that?

[2018-04-23 13:18] HeshamHassan commented on #135
This logo:
![image](https://user-images.githubusercontent.com/11155105/39128354-3ddb7350-4710-11e8-9a73-650acc829af1.png)

[2018-04-23 14:00] Ali-Galal commented on #123
2nd Reminder

[2018-04-23 14:02] HeshamHassan commented on #85
Second reminder...

[2018-04-23 14:03] HeshamHassan commented on #91
Second reminder...

[2018-04-23 14:03] HeshamHassan commented on #107
Second reminder...

[2018-04-23 14:03] HeshamHassan commented on #108
Second reminder...

[2018-04-23 14:04] HeshamHassan commented on #109
Second reminder...

[2018-04-23 14:06] HeshamHassan commented on #126
Second reminder...

[2018-04-23 14:06] HeshamHassan commented on #127
Second reminder...

[2018-04-23 14:08] HeshamHassan commented on #122
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-23 14:08] HeshamHassan commented on #129
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-23 14:09] HeshamHassan commented on #131
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-23 14:09] HeshamHassan commented on #135
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-23 14:09] HeshamHassan commented on #136
As per Mr. Moustafa Instructions, kindly inform us about the settlement date of this issue.

[2018-04-23 14:14] HeshamHassan commented on #82
Reminder..

[2018-04-23 14:26] HeshamHassan opened #137 "Top Courses 1st picture dimensions."
The 1st picture dimensions in the Top Courses is not the same of the other pictures.
- [ ] Fix the picture dimensions.
![image](https://user-images.githubusercontent.com/11155105/39132623-f07208c6-471a-11e8-84d7-ecaefc65956e.png)

[2018-04-23 14:37] ahmedelbougha commented on #82
@Ali-Galal
Shouldn't you upload the contents of EStore?

[2018-04-23 14:45] mahmoud-hussien1 commented on #136
PR - http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/118
done.

[2018-04-23 15:04] #82 closed, assigned to ahmedelbougha, Ali-Galal

[2018-04-23 15:14] mahmoud-hussien1 commented on #135
@LamiaSalah what about this space?
![screenshot from 2018-04-23 17 11 58](https://user-images.githubusercontent.com/35919348/39135656-b8eddd18-4719-11e8-8714-cad7da9a0746.png)
instead of this
![screenshot from 2018-04-23 17 12 18](https://user-images.githubusercontent.com/35919348/39135696-d2d9ad38-4719-11e8-8dbc-8f4e0cfe631f.png)

[2018-04-23 15:25] #111 closed, assigned to nobody

[2018-04-23 16:31] ahmedelbougha commented on #135
@mahmoud-hussien1
Please go ahead

[2018-04-24 08:13] LamiaSalah commented on #137
@ahmedelbougha please advise the size of the photo to amend it accordingly

[2018-04-24 08:17] LamiaSalah opened #138 "Flipping book file size"
There's one file with 215.469 KB that doesn't need to upload on the website.

[2018-04-24 08:31] ahmedelbougha commented on #138
You mean you cannot upload it?

[2018-04-24 08:32] LamiaSalah commented on #138
yes, it says that the file size is bigger than the capacity

[2018-04-24 08:34] ahmedelbougha opened #139 "Flipping book preview option in admin"
As per call with @LamiaSalah  admin Flipping book preview link.
@Ali-Galal
Please advise

[2018-04-24 08:57] Ali-Galal commented on #139
Hold it in the meantime, instead of this kindly solve [issue #136](136)

[2018-04-24 09:51] Ali-Galal commented on #131
duplicated [issue #138 ](138)

[2018-04-24 09:51] #131 closed, assigned to nobody

[2018-04-24 09:53] #122 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-24 09:57] Ali-Galal commented on #123
@HeshamHassan FYA

[2018-04-24 10:00] Ali-Galal commented on #136
@ahmedelbougha is it done for all resources?

[2018-04-24 10:03] ahmedelbougha commented on #136
@Ali-Galal
This is done for Brief PDF.

[2018-04-24 10:10] Ali-Galal commented on #136
@ahmedelbougha as I understood from my team, we faced it in all resources, kindly check from your side.

[2018-04-24 10:19] ahmedelbougha commented on #136
@Ali-Galal
You mean you need the Flipping Book to be downloadable? In that case it's better to give @LamiaSalah the option of #139 since it doesn't require the user to wait for long time downloading huge resource like Flipping Book.

[2018-04-24 10:21] ahmedelbougha commented on #136
@Ali-Galal Currently we have the following resources:

1- Student Guide  (flipping book)
2- Trainer's Guide  (flipping book)
3- Brief PDF
4- Audio Book (not downloadable)

[2018-04-24 10:23] Ali-Galal commented on #136
@LamiaSalah @ahmedelbougha we need a call for this

[2018-04-24 10:25] ahmedelbougha opened #140 "Private Training"
Fix the page
http://skillsbuilderpro.com/quote/training/private

[2018-04-24 10:27] Ali-Galal commented on #136
@LamiaSalah @ahmedelbougha https://global.gotomeeting.com/join/859631773

[2018-04-24 10:28] LamiaSalah opened #141 "Private training"
please make the link to private training on each course page go to the course separately not the full list of courses.

[2018-04-24 10:54] Ali-Galal commented on #139
@ahmedelbougha Kindly proceed

[2018-04-24 10:56] #140 closed, assigned to nobody

[2018-04-24 10:56] ahmedelbougha commented on #141
Fix the page
http://skillsbuilderpro.com/quote/training/private

[2018-04-24 12:11] mahmoud-hussien1 commented on #137
PR - http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/120

[2018-04-24 15:30] mahmoud-hussien1 commented on #141
http://git.camelcasetech.com/ahmed.elbougha/skillsbuilderpro/pulls/121

[2018-04-25 14:40] HeshamHassan opened #142 "Authorized Training Partner Program"
**URL:** http://skillsbuilderpro.com/About/Partner_with_SBP/atp_program
**Path:** About> Partner with SBP> ATP Program
**Subject:** The link of “Become an Authorized Training Partner” redirected to new user registration form, while I’m logged on.
![image](https://user-images.githubusercontent.com/11155105/39252974-7e5af4e6-48af-11e8-8ea6-3c0e3cbb3d6a.png)

This link must:
- [ ] Open the "Create Ne

[2018-04-26 08:23] LamiaSalah opened #143 "Customer Journey"
The same issue still exists for the customer journey regarding the course details.
For a new visitor, the steps should be:

1) More(for seeing course overview) and calendar only
2)find out more (takes him to log in)
3) after logging in, he can see the outlines and resources and download only pdf brief
4) in order to get the trainer's or student's guide he should register

[2018-04-28 20:34] ahmedelbougha commented on #127
merged

[2018-04-28 20:41] ahmedelbougha commented on #126
merged

[2018-04-28 20:44] ahmedelbougha commented on #129
merged

[2018-04-28 20:48] ahmedelbougha commented on #134
merged

[2018-04-28 20:48] #134 closed, assigned to mahmoud-hussien1

[2018-04-28 20:52] ahmedelbougha commented on #136
merged

[2018-04-28 20:52] ahmedelbougha commented on #139
merged

[2018-04-28 20:54] ahmedelbougha commented on #135
merged

[2018-04-28 20:54] #135 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-28 20:59] ahmedelbougha commented on #137
merged

[2018-04-28 21:03] ahmedelbougha commented on #143
duplicated issue with #126

[2018-04-28 21:03] #143 closed, assigned to nobody

[2018-04-28 21:04] ahmedelbougha commented on #141
merged

[2018-04-28 21:04] #141 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-28 21:07] ahmedelbougha commented on #142
@HeshamHassan
The link takes you to New Organization Form if you are logged in and to login page if you are not.
This is already how the link works, so what is the issue?

[2018-04-28 21:09] ahmedelbougha commented on #138
@Ali-Galal
Did you manage to increase the upload size from the server administration?

[2018-04-28 21:10] ahmedelbougha commented on #109
@LamiaSalah
Would you please check this tomorrow and confirm it is fixed?

[2018-04-28 21:11] ahmedelbougha commented on #120
@badr4php @mahmoud-hussien1
Did we fix this?

[2018-04-28 21:11] ahmedelbougha commented on #108
merged

[2018-04-28 21:11] #108 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-28 21:12] #106 closed, assigned to ahmedelbougha

[2018-04-28 21:16] ahmedelbougha commented on #123
@HeshamHassan @Ali-Galal
This was 4 days ago? did you review the layout? I want to close this issue.

[2018-04-28 21:18] ahmedelbougha commented on #91
@HeshamHassan
In order for you to test this issue you have to have a course with evaluation and that course was finished and people start to fill the evaluation of the course.
Did you test the above scenario? If not, I don't know where's the issue?

[2018-04-28 21:19] ahmedelbougha commented on #91
@HeshamHassan @Ali-Galal
Please test the scenario above in order to consider this a valid issue, or close it for now if you cannot.

[2018-04-28 21:35] #43 closed, assigned to solimansamy

[2018-04-29 07:49] LamiaSalah opened #144 "preview of courses on each learning paths"
the preview of each course on each learning path starts with Course overview, which shouldn't be the case. It should start with the content directly. Also the format of the content has some errors in the text

[2018-04-29 08:29] LamiaSalah commented on #126
@ahmedelbougha Please note that course outline disappeared from all courses

[2018-04-29 08:35] LamiaSalah commented on #138
Dear Aly,

Could you please advise?

Regards,

Lamiaa

From: ahmedelbougha [mailto:notifications@github.com]
Sent: Saturday, April 28, 2018 11:10 PM
To: camelcasetechsd/skillsbuilder <skillsbuilder@noreply.github.com>
Cc: Lamia Salah <lamias@TheTalentTier.com>; Assign <assign@noreply.github.com>
Subject: Re: [camelcasetechsd/skillsbuilder] Flipping book file size (#138)

@Ali-Galal<https://github.

[2018-04-29 08:36] LamiaSalah commented on #109
@ahmedelbougha The tab goes to the calendar page when I'm signed in, it should go to the estore

[2018-04-29 08:56] ahmedelbougha commented on #109
@LamiaSalah
This is the correct behavior, you cannot reserve a seat directly into course, but you have to reserve the seat in course event, which happens only from calendar.

[2018-04-29 08:59] ahmedelbougha commented on #126
@LamiaSalah
I can see the outline of the course normally. Are you logged in or not?

![skills builder pro](https://user-images.githubusercontent.com/8982139/39404947-7205954e-4b9c-11e8-9333-78fc6b6215aa.png)

[2018-04-29 09:07] LamiaSalah commented on #126
@ahmedelbougha yes, but can't see them

[2018-04-29 10:21] HeshamHassan commented on #142
@ahmedelbougha
After discussion and explaining from @Ali-Galal ... it's ok now

[2018-04-29 10:28] HeshamHassan commented on #123
Ok
Done!

[2018-04-29 11:41] HeshamHassan opened #145 "Consulting Services Form"
**URL:** http://skillsbuilderpro.com/Services/consulting_services
**Path:** Services > Consulting Services
**Subject:**
-  [ ] Consulting Services page must contain a form.

![image](https://user-images.githubusercontent.com/11155105/39406202-580286ec-4bbb-11e8-8cd4-57e3b93239d1.png)

[2018-04-29 11:52] HeshamHassan commented on #129
Some links are not working:

- About
- Learning Paths
- Training
- Servises
- Membership
- Value Pack
- Booking
![image](https://user-images.githubusercontent.com/11155105/39406272-de89a8fc-4bbc-11e8-8f96-39a69ea504e7.png)

[2018-04-30 06:43] Ali-Galal commented on #107
third reminder

[2018-04-30 06:44] Ali-Galal commented on #85
third reminder

[2018-04-30 07:59] Ali-Galal commented on #138
@LamiaSalah Done, kindly re-upload and confirm

[2018-04-30 10:49] mahmoud-hussien1 commented on #129
@HeshamHassan  URL needed for those links:

- About

- Learning Paths

- Training

[2018-04-30 12:12] ahmedelbougha commented on #85
Date: 2/5/2018

[2018-04-30 12:15] ahmedelbougha commented on #107
Date: 30/04/2018

[2018-04-30 12:23] Ali-Galal commented on #109
Course events have different price for each

[2018-04-30 12:23] ahmedelbougha commented on #120
To be discussed with @Ali-Galal

[2018-04-30 12:23] #109 closed, assigned to Ali-Galal

[2018-04-30 12:26] Ali-Galal commented on #120
@HeshamHassan add this to the enhancement file

[2018-04-30 12:26] #120 closed, assigned to mahmoud-hussien1

[2018-04-30 12:28] #123 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-30 12:35] Ali-Galal commented on #129
@ahmedelbougha Kindly remove the hyperlink from the following:
About
Learning Paths
Training
Services
eStore

[2018-04-30 12:36] ahmedelbougha commented on #129
30/04/2018

[2018-04-30 12:38] Ali-Galal commented on #139
@ahmedelbougha Trainer guide and some of the student guide are not working

[2018-04-30 12:43] #142 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-04-30 12:46] Ali-Galal commented on #144
@LamiaSalah kindly remove the "Course Overview" phrases from the CMS

[2018-05-01 08:41] HeshamHassan opened #146 "Show Courses in eStore"
**URL:** http://skillsbuilderpro.com/public/estore/
**Subject:**
-	I logged on eStore as admin
-	Go through: Catalog> Categories>
-	Deactivate all categories except “Software”
-	Renamed “Software” category to “Courses”
-	The eStore homepage now has one menu item: “Courses” and I cannot connect it with the courses items

- [x] How to insert courses under “Courses” menu.
- [x] How to modify the bann

[2018-05-01 09:07] HeshamHassan opened #147 "Take This Course"
**URL:** http://skillsbuilderpro.com/courses/more/3
**Path:** User11 Login > Learning Paths> Workplace Skills Builder> Managing Projects: First Steps First> More> Course Outlines> Take This Course>
**Subject:**
Take this course button leads to Course Calendar. I have to click on one of the active published courses in the calendar list to redirect me to the eStore to complete my payment.

- [x] The

[2018-05-01 10:00] HeshamHassan commented on #129
Any update??

[2018-05-01 10:00] HeshamHassan commented on #107
Any update??

[2018-05-02 08:20] LamiaSalah commented on #144
@Ali-Galal if this is deleted from the text, will it be set as standard in all courses' pages above the text? it needs to be there

[2018-05-02 08:25] Ali-Galal commented on #144
@LamiaSalah if this the case we have to add it in the Course Overview page
@ahmedelbougha kindly add the "Course Overview" phrases to the course page structure as a header instead of inserting them in the content.

[2018-05-02 08:48] LamiaSalah commented on #138
@ahmedelbougha The issue still exists

[2018-05-02 15:20] ahmedelbougha commented on #107
merged

[2018-05-02 15:20] #107 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-05-02 15:21] ahmedelbougha commented on #107
Moving to new git repository

[2018-05-02 15:22] #129 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-05-02 15:22] ahmedelbougha commented on #129
merged

[2018-05-02 15:23] ahmedelbougha commented on #138
@LamiaSalah
Please check with @Ali-Galal

[2018-05-02 15:25] ahmedelbougha commented on #144
ok

[2018-05-02 15:27] ahmedelbougha commented on #139
@Ali-Galal , @LamiaSalah , @HeshamHassan
Please send me an example for both trainer guide and student guide you are uploading, since we are used the example you sent use before and it seems working fine. I'm attaching the example to this ticket.
[SBPTest.zip](https://github.com/camelcasetechsd/skillsbuilder/files/1967896/SBPTest.zip)

[2018-05-02 15:31] ahmedelbougha commented on #147
@mahmoud-hussien1
Please use http://skillsbuilderpro.com/courses/calendar as template for this tab.

[2018-05-02 15:31] ahmedelbougha commented on #147
06/05/2018

[2018-05-02 15:32] ahmedelbougha commented on #144
03/05/2018

[2018-05-02 16:15] mahmoud-hussien1 commented on #144
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/10/sbp144-add-course-overview-phrase-and-its/diff

[2018-05-03 08:29] LamiaSalah opened #148 "Links to each Learning path"
Each learning path link has the name 'courses' and followed by a number. Could you please change the link with each relevant path to add it to internal pages?

[2018-05-03 08:41] LamiaSalah commented on #138
@Ali-Galal could you please advise?

[2018-05-03 09:34] LamiaSalah commented on #139
@ahmedelbougha @Ali-Galal @HeshamHassan The issue is now being fixed (for the Trainer) The problem was with the way the files were compressed.

[2018-05-03 16:56] mahmoud-hussien1 commented on #147
@ahmedelbougha
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/11/issue-sbp147-take-this-course/diff

[2018-05-07 08:15] Ali-Galal commented on #147
update?

[2018-05-07 09:23] Ali-Galal commented on #127
@ahmedelbougha we are ok with the Text but the style is not ok,

@LamiaSalah @ahmedelbougha we need to talk about this

[2018-05-07 09:31] Ali-Galal commented on #126
@LamiaSalah Hesham can see the outline as the attached screenshot, kindly inform us if the issue still occurs or has been settled

[2018-05-07 09:33] LamiaSalah commented on #126
@Ali-Galal issue resolved

[2018-05-07 09:34] #126 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-05-07 09:44] Ali-Galal commented on #85
update?

[2018-05-07 09:45] Ali-Galal commented on #144
update?

[2018-05-07 09:48] Ali-Galal commented on #148
@ahmedelbougha Your attention please, this issue has been opened since 4 days

[2018-05-07 09:53] #139 closed, assigned to nobody

[2018-05-07 09:57] LamiaSalah opened #149 "Duration Outline"
The duration needs to be for each unit please instead of having a duration for each title under the unit as in the attached
![capture](https://user-images.githubusercontent.com/37042927/39696349-c3e9600a-51ed-11e8-93e0-6cd8fbcc98ae.PNG)

[2018-05-07 10:03] LamiaSalah commented on #149
@ahmedelbougha please note we need this urgently asap

[2018-05-07 12:13] ahmedelbougha commented on #148
@Ali-Galal @LamiaSalah
Currently, category pages are landing pages special to categories (learning paths) and not CMS pages i.e. their hyperlinks are not customized like CMS pages.
Please let me know what do you need and I can let you know if it's applicable or not.

[2018-05-07 12:15] ahmedelbougha commented on #149
@Ali-Galal @LamiaSalah
This is an enhancement of already running functionality, I will put estimation to finish this and let your En Shaa Allah.

[2018-05-07 12:16] Ali-Galal commented on #148
@ahmedelbougha we need to change the link from http://skillsbuilderpro.com/categories/ **courses/1**
to http://skillsbuilderpro.com/categories/ **Small-Business-Builder**

@LamiaSalah confirm

[2018-05-07 12:19] LamiaSalah commented on #148
@Ali-Galal Confirmed

[2018-05-07 16:49] mahmoud-hussien1 commented on #149
@ahmedelbougha
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/13/duration-outline/diff

[2018-05-08 08:33] LamiaSalah opened #150 "Contact Us Page"
Please add Egypt Address in the contact us page as follows:

P.O Box 23,New Cairo, 11477
Tel: +2 02 23094632
email: info@skillsbuilderpro.com

[2018-05-08 08:47] HeshamHassan commented on #146
@ahmedelbougha

Reminder...

[2018-05-08 09:07] ahmedelbougha commented on #146
@HeshamHassan @Ali-Galal
This is not a coding issue, it's a matter of 1 hour training, so please consider a free time to do this.
I suggest 4:00 PM today

[2018-05-08 09:10] ahmedelbougha commented on #148
@Ali-Galal , @LamiaSalah
We are checking the best way to do this, we will put our suggestions and estimation today En Shaa Allah.

[2018-05-08 10:15] ahmedelbougha commented on #150
@LamiaSalah
Would you please send the position on Google Maps?

[2018-05-08 10:21] ahmedelbougha commented on #85
merged and tested working on production

[2018-05-08 10:23] ahmedelbougha commented on #144
sorry, it's merged, but you need to remove the word "Overview" and "موجز الدورة التدريبية" from course body

[2018-05-08 10:23] #144 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-05-08 11:07] mahmoud-hussien1 commented on #150
@ahmedelbougha
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/14/issue-150-contact-us-page-new-address/diff

[2018-05-08 11:40] Ali-Galal commented on #138
@LamiaSalah kindly try again

[2018-05-08 11:47] HeshamHassan commented on #144
I removed the "**Course Overview**" and refreshed the page.  but the fixed header: "Course Overview" is not present at the page as shown in the screen shot below

![image](https://user-images.githubusercontent.com/11155105/39755474-a77c43ec-52ce-11e8-9205-cf600fee08c5.png)

[2018-05-08 12:05] ahmedelbougha commented on #150
merged

[2018-05-08 12:05] #150 closed, assigned to ahmedelbougha, HeshamHassan, mahmoud-hussien1, Ali-Galal

[2018-05-08 12:15] HeshamHassan commented on #85
I tried to work with it. the same situation.
@ahmedelbougha
Would you advice how to work with it?

[2018-05-08 12:17] HeshamHassan commented on #146
@ahmedelbougha
Ready but at 4:00pm KSA or 4:00pm CLT?

[2018-05-08 14:01] ahmedelbougha commented on #85
ok

[2018-05-08 14:28] ahmedelbougha commented on #85
@HeshamHassan
Login using: `admin`
on another browser login using: `student`

Now, the `student` chat screen you can see list of logged in admins, you can click any of them to start new chat session, at that moment new chat session starts at admin end as well.

[2018-05-08 14:29] ahmedelbougha commented on #147
merged

[2018-05-08 14:29] #147 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-05-08 14:32] ahmedelbougha commented on #127
@Ali-Galal @LamiaSalah
Please note that this needs some 2 level text to be shown as expected.

[2018-05-08 16:26] mahmoud-hussien1 commented on #148
@LamiaSalah
@Ali-Galal
We need to add other radio button named `Category` in menu item add/edit page `http://skillsbuilderpro.com/cms/menuitem/edit/71` for example, this to allow dropdown list of Categories.

Also we need to add text field to add URL for category in admin category add/edit page `http://skillsbuilderpro.com/categories/edit/1` for example.

So, admin add the URL for category and use

[2018-05-10 11:54] HeshamHassan opened #151 "eStore Name"
Replace the estore name at all locations to that letter format: **eStore**

[2018-05-13 07:44] LamiaSalah commented on #144
@ahmedelbougha please note that the spelling issue still exists in the preview of the courses as in the attached
![capture](https://user-images.githubusercontent.com/37042927/39965060-36671048-5692-11e8-91a3-01ed8781e795.PNG)

[2018-05-13 09:31] LamiaSalah commented on #127
@ahmedelbougha Attached is the text for the header with the kay out and links
[Header text.docx](https://github.com/camelcasetechsd/skillsbuilder/files/1998295/Header.text.docx)

[2018-05-13 12:39] mahmoud-hussien1 commented on #148
@LamiaSalah
we will finish this Issue on 14/05/2018.

[2018-05-13 12:40] mahmoud-hussien1 commented on #148
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/15/issue-sbp148-links-to-each-learning-path/diff

[2018-05-13 14:28] LamiaSalah commented on #149
@ahmedelbougha Updates??

[2018-05-14 11:11] ahmedelbougha commented on #145
@Ali-Galal
This issue is a change request, as agreed we are will not implement any new features or enhancements until done with main bugs.

[2018-05-14 11:11] ahmedelbougha commented on #145
@Ali-Galal
Please close for now.

[2018-05-14 11:17] Ali-Galal commented on #145
@LamiaSalah kindly remove this menu from the menu structure
@HeshamHassan Add it to the enhancement file

[2018-05-14 11:17] #145 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-05-14 12:01] mahmoud-hussien1 commented on #151
14/05/2018

[2018-05-14 12:03] mahmoud-hussien1 commented on #151
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/16/issue-151-change-estore-word-to-estore/diff

[2018-05-14 13:58] Ali-Galal commented on #137
@ahmedelbougha still has a problem with the picture stretching

[2018-05-14 14:02] LamiaSalah commented on #110
@ahmedelbougha please delete the three tabs at the top of each course page

[2018-05-14 14:04] LamiaSalah opened #152 "Delete from footer"
@ahmedelbougha Please delete Consulting Services and How can SBP help you from the footer

[2018-05-14 14:06] Ali-Galal commented on #152
@ahmedelbougha kindly inform me with the path of the footer page to edit it by myself

[2018-05-14 15:00] ahmedelbougha commented on #146
@HeshamHassan as agreed:
The first and third issue are fixed.

How to modify the banner to be clickable (open the course when click on it). - I will check @Ali-Galal En Shaa Allah.

The footer issue, we will fix it by 16/05/2018

[2018-05-14 21:47] HeshamHassan commented on #110
![image](https://user-images.githubusercontent.com/11155105/40025187-78ff49f0-57d9-11e8-8e57-bbfcf037b964.png)

[2018-05-14 22:30] HeshamHassan commented on #137
The pictures in the hot courses section at homepage have unsuitable dimensions. Some are stretched and other are shrunk.
![image](https://user-images.githubusercontent.com/11155105/40026792-846263f8-57df-11e8-9c65-ffbd01733944.png)

[2018-05-14 22:49] HeshamHassan opened #153 "The White Gab between Banner and the Section Next to It"
**URL:** http://skillsbuilderpro.com/
**Subject:** There is a white space   between the banner picture and the 4 icons in the below section.   Remove this space or adjust   the banner pictures size.
![image](https://user-images.githubusercontent.com/11155105/40027309-1e588cec-57e2-11e8-8b95-e0c861114bc4.png)

![image](https://user-images.githubusercontent.com/11155105/40027312-2140c9e2-57e2-11e8-8

[2018-05-15 06:45] Ali-Galal commented on #153
@ahmedelbougha I think the issue with image size (we need to unify it)

[2018-05-15 06:58] Ali-Galal commented on #146
@ahmedelbougha is today ok with you to meet?

[2018-05-15 11:16] mahmoud-hussien1 commented on #137
@HeshamHassan
the images uploaded with dims:
width: 1912 pixels
height: 1270 pixels
but it should be with height: 370 px and width: about 325 px.

[2018-05-15 11:29] Ali-Galal commented on #137
@LamiaSalah Kindly change the size and upload it again

[2018-05-15 11:48] LamiaSalah commented on #137
@Ali-Galal I don't have access to change anything on the home page also having the photo with these dimensions will have it pixilated.  Attached is the photo with the original size, could you please help with this?
![istock-516357942](https://user-images.githubusercontent.com/37042927/40054911-9b47cd9e-5846-11e8-826e-615c13b42490.jpg)

[2018-05-15 12:15] LamiaSalah commented on #137
@Ali-Galal
![325x370](https://user-images.githubusercontent.com/37042927/40056072-7bfa8770-584a-11e8-973a-5aae12d672e9.jpg)

[2018-05-17 09:02] Ali-Galal commented on #137
@LamiaSalah I think CamelCase will need the 4 pictures in the same size, kindly proceed.

[2018-05-17 09:53] LamiaSalah commented on #137
@ahmedelbougha Please advise the photos names on the system so I can edit them.

[2018-05-20 08:35] mahmoud-hussien1 commented on #152
@Ali-Galal
path to footer: /themes/skillsbuilder/layout/footer_front.phtml

[2018-05-20 09:07] badr4php commented on #153
Merged

[2018-05-20 09:07] badr4php commented on #151
@here Merged

[2018-05-20 09:15] LamiaSalah commented on #127
@ahmedelbougha any updates?

[2018-05-20 09:15] LamiaSalah commented on #110
@ahmedelbougha any updates?

[2018-05-20 09:27] Ali-Galal commented on #153
The issue still exist as before

[2018-05-20 09:28] Ali-Galal commented on #151
Still exist

[2018-05-20 09:30] Ali-Galal commented on #151
![2](https://user-images.githubusercontent.com/36264944/40277568-8eba9c82-5c29-11e8-8443-0601802f309a.PNG)
![1](https://user-images.githubusercontent.com/36264944/40277569-8edc84a0-5c29-11e8-9ea4-76fc5add8e60.PNG)

[2018-05-20 14:42] ahmedelbougha commented on #146
@Ali-Galal
Let's have a meeting tomorrow by 2:00 PM Riyadh time En Shaa Allah

[2018-05-21 07:24] Ali-Galal commented on #146
https://global.gotomeeting.com/join/578768597

[2018-05-21 09:12] badr4php commented on #149
@here Merged

[2018-05-21 09:27] mahmoud-hussien1 opened #154 "The new theme is not clear"
we can't navigate into the theme and the screenshots on the site page are small, so can you send me template source code if available please? @Ali-Galal
http://www.dreamtemplate.com/templates/9363/university-degree-site-template.html

[2018-05-21 09:30] Ali-Galal commented on #154
I didn't purchase it yet, I need the confirmation from your side that It could be implemented in KWP website to proceed its payment

[2018-05-21 09:41] ahmedelbougha commented on #154
@mahmoud-hussien1
Please check this for live preview of the theme: http://www.dreamtemplate.com/preview/?url=http://www.htmlpreviews.com/cloud/university/strophy6/

[2018-05-21 10:04] badr4php commented on #153
@here Merged

[2018-05-21 10:04] #153 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-05-21 10:29] badr4php commented on #151
@Ali-Galal  This is menu item you can change it  in admin  here http://skillsbuilderpro.com/cms/menuitem
![40277569-8edc84a0-5c29-11e8-9ea4-76fc5add8e60](https://user-images.githubusercontent.com/24792169/40303355-b1411442-5cf2-11e8-88b0-e0312ecc47c0.PNG)

[2018-05-21 10:43] #151 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-05-21 11:11] badr4php commented on #110
@here Done

[2018-05-21 11:11] #110 closed, assigned to badr4php

[2018-05-21 11:26] mahmoud-hussien1 commented on #127
https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/21/issue-127-change-banner-data/diff

[2018-05-21 11:47] Ali-Galal opened #155 "The space between 4 squares and footer"
![capture](https://user-images.githubusercontent.com/36264944/40306091-fb902cdc-5d05-11e8-9f1b-a385a8a6c59a.PNG)

[2018-05-21 11:50] Ali-Galal opened #156 "Alignment of text for categories"
we need the alignment to be left for English and right for the Arabic for the below section
![capture](https://user-images.githubusercontent.com/36264944/40306160-480b2d8c-5d06-11e8-9e3c-50621e1d77cb.PNG)

[2018-05-21 11:53] Ali-Galal opened #157 "The HTML code appeared to the user in brief for learning paths"
![capture](https://user-images.githubusercontent.com/36264944/40306247-9c718d44-5d06-11e8-97a2-3d331980c98c.PNG)

[2018-05-21 12:22] badr4php commented on #127
@here Merged

[2018-05-21 14:31] mahmoud-hussien1 commented on #155
@Ali-Galal just wait page to load please.

[2018-05-21 14:47] ahmedelbougha commented on #155
@mahmoud-hussien1
It seems the problem is not related to page loading, I found that div has a fixed height 740px.
Please check again.

[2018-05-22 08:33] badr4php commented on #157
@here Merged

[2018-05-22 08:37] LamiaSalah opened #158 "Learning Paths link"
@ahmedelbougha this issue has been raised before and I'm not sure if it's closed. The link for each learning path should have its name and not with numbers ( http://skillsbuilderpro.com/categories/courses/1)

[2018-05-22 08:39] badr4php commented on #156
@here Merged

[2018-05-22 11:04] Ali-Galal commented on #156
still exist

[2018-05-22 11:06] LamiaSalah commented on #137
@ahmedelbougha @Ali-Galal Attached are the other 3 photos with the required dimensions
![1](https://user-images.githubusercontent.com/37042927/40358831-e224c5c6-5dc0-11e8-9421-a9be21225ca0.jpg)
![2](https://user-images.githubusercontent.com/37042927/40358835-e5111f0a-5dc0-11e8-8373-f66d8530d5da.jpg)
![3](https://user-images.githubusercontent.com/37042927/40358837-e6f0aa3e-5dc0-11e8-8973-454590c2fe

[2018-05-22 11:08] Ali-Galal commented on #157
solved only in the screenshot's place, still exist in other places, the screenshot is just an example

[2018-05-22 11:11] Ali-Galal commented on #127
@LamiaSalah please confirm

[2018-05-22 11:20] Ali-Galal commented on #149
@ahmedelbougha we need the following:

- [x] activate all outlines

- [x] the default status for the outline should be active when the admin creates it.

[2018-05-22 11:22] mahmoud-hussien1 commented on #157
@Ali-Galal as I saw, it's solved in learning path page. please tell me where i find problem.

[2018-05-22 11:23] badr4php commented on #149
@ahmedelbougha Please advise

[2018-05-22 11:29] Ali-Galal commented on #157
in the **learning path>Small Business Builder**
in the **Crowdsourcing for Quick Results** brief

but this also just another example

[2018-05-22 11:34] mahmoud-hussien1 commented on #156
@Ali-Galal I saw problem happened in learning path pages. is there any other page?

[2018-05-22 11:35] ahmedelbougha commented on #158
@mahmoud-hussien1
are we done with this? if so please update the ticket with PR.

[2018-05-22 11:48] LamiaSalah commented on #127
@Ali-Galal confirmed. Only on the second photo, please remove the comma in the first line.

[2018-05-22 11:57] ahmedelbougha commented on #137
@Ali-Galal , @LamiaSalah
I uploaded these images for this time, in the future in case you want to change them again, you need to edit their relevant courses from CMS:
http://skillsbuilderpro.com/courses/edit/12
http://skillsbuilderpro.com/courses/edit/44
http://skillsbuilderpro.com/courses/edit/66
http://skillsbuilderpro.com/courses/edit/80

[2018-05-22 11:57] #137 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-05-22 12:01] ahmedelbougha commented on #156
@mahmoud-hussien1
Home Page only

[2018-05-22 12:02] ahmedelbougha commented on #155
23/05/2018

[2018-05-22 12:04] ahmedelbougha commented on #149
@Ali-Galal
I will close this issue and reopen new issue for this since they are different issues.

[2018-05-22 12:04] #149 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-05-22 12:05] ahmedelbougha opened #159 "Activate Outlines"
@Ali-Galal
Activate all outlines
The default status for the outline should be active when the admin creates it.

Estimated: 3 hours.
Date: 23/05/2018

[2018-05-22 12:08] ahmedelbougha commented on #156
today.

[2018-05-22 12:09] #138 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-05-22 12:10] ahmedelbougha commented on #127
today

[2018-05-22 12:12] ahmedelbougha commented on #146
@Ali-Galal
As agreed we will remove Banner slider, and footer slider of Manufacturers.
Another ticket will be created to do allow you making buy from eStore and reflect status on SkillsBuilder .

[2018-05-22 12:13] ahmedelbougha commented on #146
24/05/2018

[2018-05-22 14:50] mahmoud-hussien1 commented on #146
@ahmedelbougha
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/26/slideshow-and-carousel-modules-dont/diff

[2018-05-22 15:44] mahmoud-hussien1 commented on #158
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/15/issue-sbp148-links-to-each-learning-path/diff

[2018-05-23 07:34] Ali-Galal commented on #127
@LamiaSalah done, please confirm

[2018-05-23 08:13] LamiaSalah commented on #127
@Ali-Galal Confirmed

[2018-05-23 08:14] #127 closed, assigned to badr4php

[2018-05-23 09:05] badr4php commented on #159
@ahmedelbougha  PR : https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/27/enhancment-sbp-159-activate-outlines/diff

[2018-05-23 10:48] badr4php commented on #157
@here Merged

[2018-05-23 10:48] #157 closed, assigned to badr4php

[2018-05-23 12:19] mahmoud-hussien1 commented on #156
@here Merged

[2018-05-23 12:20] mahmoud-hussien1 commented on #155
PR  - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/29/issue-155-set-div-height-with-element/diff

[2018-05-23 12:22] mahmoud-hussien1 commented on #146
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/26/slideshow-and-carousel-modules-dont/diff

[2018-05-24 11:00] Ali-Galal commented on #156
the alignment is center, we need it left for English and right for Arabic

[2018-05-24 12:31] mahmoud-hussien1 commented on #156
@Ali-Galal i will check it

[2018-05-24 13:06] ahmedelbougha commented on #156
@Ali-Galal
I can see the homepage category title alignment all to left as agreed, since you told me just to do that not the body, are you talking about something else?

![sbp-lp](https://user-images.githubusercontent.com/8982139/40487265-e2207f1c-5f63-11e8-9b9c-7e4a269e01c8.png)

[2018-05-28 12:50] ahmedelbougha commented on #156
@Ali-Galal
would you please check to close?

[2018-05-28 13:00] ahmedelbougha commented on #155
done
@Ali-Galal
Please check to close

[2018-05-28 13:01] ahmedelbougha commented on #159
done
@Ali-Galal please check to close

[2018-05-28 13:02] ahmedelbougha commented on #146
@Ali-Galal would you please check to close?

[2018-05-30 11:14] LamiaSalah opened #160 "Spelling Mistake"
@ahmedelbougha please edit the spelling of the word 'Required' in Contact Us page

[2018-05-30 14:22] ahmedelbougha commented on #160
31/05/2018

[2018-05-31 09:45] LamiaSalah opened #161 "pending issues"
@ahmedelbougha please note the below issues that need fixing:

Homepage:
1) The more details button under Why Skills Builder Pro, can we delete it and reduce the space?
2) The panel under the banner where the four buttons are: Trainr’s is misspelled. It should be' Trainer’s'

Courses
1) Remove 'We are currently full from all courses

Training:
1) Please remove the link from Training, it's a root t

[2018-05-31 10:43] LamiaSalah commented on #159
@ahmedelbougha confirmed

[2018-05-31 11:14] ahmedelbougha commented on #161
@mahmoud-hussien1
Please check and update with expected date of delivery.

[2018-05-31 11:19] mahmoud-hussien1 commented on #161
estimated date: Sunday 03/06/2018.

[2018-06-03 14:21] mahmoud-hussien1 commented on #160
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/30/issue-118-spelling-mistake/diff

[2018-06-05 10:42] mahmoud-hussien1 commented on #161
@LamiaSalah please tell me the URL to training page and the link you need us to remove it.

[2018-06-05 10:48] LamiaSalah commented on #161
http://skillsbuilderpro.com/resource_not_found

we need to remove, it doesn't need to link to any page

[2018-06-05 11:03] mahmoud-hussien1 commented on #161
@LamiaSalah this page means you have not access to target page.
so, if there is link found in any page and redirect you to this URL, please tell me.

[2018-06-05 11:04] LamiaSalah commented on #161
@mahmoud-hussien1 could you please call me as I'm not sure I understand what you mean?

[2018-06-05 11:06] mahmoud-hussien1 commented on #161
please call @ahmedelbougha.

[2018-06-05 11:41] ahmedelbougha commented on #161
@LamiaSalah the issue of Training menu item issue has been resolved, it can be fixed from CMS admin, please check this: http://skillsbuilderpro.com/cms/menuitem/edit/53

[2018-06-05 11:53] mahmoud-hussien1 commented on #161
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/31/issue-161-pending-issues/diff

[2018-06-07 14:17] ahmedelbougha commented on #160
merged

[2018-06-07 14:17] #159 closed, assigned to ahmedelbougha

[2018-06-07 14:17] ahmedelbougha commented on #156
closing due to inactivity.

[2018-06-07 14:18] ahmedelbougha commented on #155
closed due to inactivity

[2018-06-07 14:18] #155 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-06-07 14:21] ahmedelbougha commented on #160
@LamiaSalah
Issue fixed, please confirm.

[2018-06-07 14:24] ahmedelbougha commented on #161
merged.

[2018-06-07 14:25] ahmedelbougha commented on #161
@LamiaSalah
Issues fixed, would you please check and confirm?

[2018-06-11 07:30] LamiaSalah commented on #160
@ahmedelbougha confirmed

[2018-06-11 07:31] LamiaSalah commented on #161
@ahmedelbougha  confirmed

[2018-06-11 07:38] LamiaSalah commented on #161
@ahmedelbougha  Confirmed. But please note that the address in the US map has not changed

[2018-06-11 08:36] #160 closed, assigned to ahmedelbougha, Ali-Galal, LamiaSalah

[2018-06-11 08:41] ahmedelbougha commented on #161
@mahmoud-hussien1
Would you please check and change the map address?

[2018-06-13 15:06] mahmoud-hussien1 commented on #161
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/32/issue-161-change-address-for-usa/diff

[2018-06-14 10:32] ahmedelbougha commented on #161
merged, @LamiaSalah please confirm

[2018-06-14 12:05] LamiaSalah commented on #161
Confirmed

[2018-06-24 07:37] HeshamHassan commented on #156
The body text - appeared at the screen shot you share - is centered in some places.
Align all ( Header and body) left in English and right in Arabic.

[2018-06-24 08:28] HeshamHassan commented on #85
@ahmedelbougha
Sorry Ahmed, we checked this issue online together, but I tested the chat today and still no admin name at the chat box of the students.

[2018-06-24 12:04] Ali-Galal commented on #156
done

[2018-06-24 12:04] #156 closed, assigned to badr4php

[2018-06-24 16:40] #161 closed, assigned to ahmedelbougha, Ali-Galal, LamiaSalah

[2018-06-24 16:41] ahmedelbougha commented on #146
@Ali-Galal
Would you please confirm.

[2018-06-25 09:35] ahmedelbougha commented on #147
@Ali-Galal , @HeshamHassan
Confirmation please?
This issue is closed but @LamiaSalah said that Hesham told here the issue still persisting.

[2018-06-25 09:36] ahmedelbougha commented on #148
@LamiaSalah
This is a big change I need to review it carefully, though it's finished since some time, but I need to finish reviewing first before this done.

[2018-06-25 09:37] ahmedelbougha commented on #152
@Ali-Galal , @HeshamHassan
Confirmation please?
This issue is closed but @LamiaSalah said that Hesham told here the issue still persisting.

[2018-06-25 09:38] ahmedelbougha commented on #154
@LamiaSalah @Ali-Galal
We need to close SkillsBuilder first before starting new theming project.

[2018-06-25 09:39] ahmedelbougha commented on #149
@Ali-Galal , @HeshamHassan
Confirmation please?
This issue is closed but @LamiaSalah said that Hesham told here the issue still persisting.

[2018-06-25 09:41] ahmedelbougha commented on #158
@LamiaSalah this is a duplicate for #148 , I'm closing this to avoid confusion.

[2018-06-25 09:41] #158 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-06-25 09:54] HeshamHassan commented on #152
@ahmedelbougha
The issue still available:
![image](https://user-images.githubusercontent.com/11155105/41843697-debef674-7876-11e8-858a-c9924a6196e4.png)

[2018-06-25 09:59] LamiaSalah commented on #152
@ahmedelbougha,  yes, this needs to be deleted

[2018-06-25 10:02] HeshamHassan commented on #149
Done

[2018-06-25 10:07] HeshamHassan commented on #158
@ahmedelbougha
Now we have a duplicated issue: #148 or #158. Which one you have to close, because you closed both of them?!

[2018-06-25 10:09] HeshamHassan commented on #147
Done

[2018-06-25 10:46] ahmedelbougha commented on #158
@HeshamHassan as said in the comment above I'm closing (this) which means I'm closing #158, it's already closed.

[2018-06-25 10:55] HeshamHassan commented on #158
@ahmedelbougha
Then we will continue with #148 for now

[2018-06-25 11:32] Ali-Galal commented on #146
@ahmedelbougha we don't know yet how to assign a particular product as a featured one

[2018-06-25 11:48] ahmedelbougha commented on #146
@Ali-Galal
From Admin > Extensions > modules > "Featured > Home Page"
But anyway, we make this done automatically as you create or update any course resource, so you don't need to do it manually.

[2018-06-25 11:48] Ali-Galal commented on #152
@ahmedelbougha @LamiaSalah I will remove it after the delivery of the project

[2018-06-25 13:02] ahmedelbougha commented on #146
@Ali-Galal
Would you please confirm and close?

[2018-06-25 13:33] HeshamHassan commented on #146
Done

[2018-06-25 13:43] Ali-Galal commented on #154
@ahmedelbougha I didn't get it, kindly explain

[2018-06-25 13:45] #152 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-06-25 14:32] ahmedelbougha commented on #85
@HeshamHassan
OK, checking that.

[2018-06-27 15:55] ahmedelbougha commented on #146
@LamiaSalah
Why did you re-open this ticket? Would you please mention the reason here.

[2018-06-28 14:05] HeshamHassan commented on #85
@ahmedelbougha
Waiting for your sign of running the chat feature to start testing.

[2018-06-28 14:13] HeshamHassan commented on #91
I just received the sandbox credential 20 min. ago, and will start checking this issue soon.

[2018-06-29 11:54] ahmedelbougha commented on #85
Thanks @HeshamHassan
I will let you know once ready En Shaa Allah

[2018-06-29 11:55] ahmedelbougha commented on #91
OK, please let me know the status.

[2018-07-01 09:38] HeshamHassan opened #162 "Course Resources Purchasing Error"
**URL:** http://skillsbuilderpro.com/something_went_wrong
**Path:** Learning Path> Small Business Builder> Building a Consulting Business> More> Course Resources> Purchase now
**Subject:**
Cannot purchase from SkillsBuilderPro.com
![image](https://user-images.githubusercontent.com/11155105/42133032-aa024f30-7d2b-11e8-9409-659d8c5d0dbb.png)

[2018-07-02 06:41] Ali-Galal commented on #162
@ahmedelbougha give this a high priority for this issue as we need to finalize the project as you know

[2018-07-02 06:50] HeshamHassan opened #163 "Instructor Materials Appear in Hushes"
**URL:** http://skillsbuilderpro.com/courses/training-materials#
**Path:** User Menu> Instructor> Instructor resources> Training Materials
**Subject:**
Instructor materials appear in hushes.
![image](https://user-images.githubusercontent.com/11155105/42149063-4c5e1d66-7ddd-11e8-86f2-78d40343cc90.png)

[2018-07-02 06:55] HeshamHassan opened #164 "Instructor General Resources: Not Found"
**URL:** http://skillsbuilderpro.com/resource_not_found
**Path:** User Menu> Instructor> Instructor resources> General Resources
**Subject:**
Instructor General Resources: Not Found
![image](https://user-images.githubusercontent.com/11155105/42149223-ff45b6d2-7ddd-11e8-986e-9e4489441c2e.png)

[2018-07-03 10:18] ahmedelbougha commented on #164
we will create script to copy courses and resources from skillesbuilder to estore as products En Shaa Allah.

[2018-07-03 10:19] ahmedelbougha commented on #146
As agreed, only resources (trainer and student guide is to be shown here) as feature products.

[2018-07-03 10:19] #146 closed, assigned to ahmedelbougha

[2018-07-03 10:55] HeshamHassan commented on #91
I could not complete the planned scenario:

- I purchased a course

![image](https://user-images.githubusercontent.com/11155105/42215856-809af7c0-7ec8-11e8-8609-9d0bd991a7a1.png)

- But it did not start when I clicked on "Checkup" link..

![image](https://user-images.githubusercontent.com/11155105/42215860-84bc5d30-7ec8-11e8-8599-c99421eccc9e.png)

[2018-07-04 08:42] LamiaSalah opened #165 "Homepage Banner Links"
•	The second banner in the carousel is: Learn the skills you need. It currently links to Career Skills Builder. Please link it to Workplace Skills Builder. http://skillsbuilderpro.com/categories/courses/5
•	The fourth banner in the carousel is: Enrich your portfolio. add the text: Partner with SBP above “Enrich Your Portfolio''

[2018-07-04 08:43] LamiaSalah opened #166 "Learning Paths Pages"
Please provide the option of adding text under the main titles for each learning paths

[2018-07-04 08:58] LamiaSalah opened #167 "Courses"
1)Please hide the following for now:
- Course Calendar Tabon the left.
- The Public dates
- Private Dates
- View Full Schedule

2)Edit the word Day(s) under each course title to be Days.
3) The course objectives should be appearing in the same page for the Course Overview, the content is added but it doesn't show.

[2018-07-04 09:00] LamiaSalah opened #168 "Reserve Page"
http://skillsbuilderpro.com/quote?type=Private

Please fix the tabs view at the top(Public Training) and (Private Training)
Remove all Hijri dates from the website.

[2018-07-04 09:30] Ali-Galal commented on #164
@ahmedelbougha update? and delivery date?

[2018-07-04 09:31] Ali-Galal commented on #85
delivery date?

[2018-07-04 09:32] Ali-Galal commented on #91
@ahmedelbougha update? and delivery date?

[2018-07-04 09:32] Ali-Galal commented on #148
@ahmedelbougha update? and delivery date?

[2018-07-04 09:33] Ali-Galal commented on #154
@ahmedelbougha update? and delivery date?

[2018-07-04 09:33] Ali-Galal commented on #162
@ahmedelbougha update? and delivery date?

[2018-07-04 09:33] Ali-Galal commented on #163
@ahmedelbougha update? and delivery date?

[2018-07-04 12:16] LamiaSalah opened #169 "Contact Us Page"
Can we move the feedback form to the top of the page above the addresses?

[2018-07-04 12:22] LamiaSalah opened #170 "Links for Social Media"
On all courses, the three social media tabs at the bottom should link to
- www.facebook.com/skillsbuilderpro
-https://twitter.com/SBP_2016?lang=en
- https://www.linkedin.com/company/skillsbuilderpro/

[2018-07-04 13:30] LamiaSalah opened #171 "Courses Duration"

[2018-07-04 13:31] LamiaSalah commented on #171
@ahmedelbougha  could you please hide the duration of the course added in all courses for now?

[2018-07-05 10:28] mahmoud-hussien1 commented on #167
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/36/issue-167-comments-in-issue-done/diff

[2018-07-05 10:40] mahmoud-hussien1 commented on #165
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/37/issue-165-comments-in-issue-done/diff

[2018-07-05 10:49] mahmoud-hussien1 commented on #166
@ahmedelbougha please advise.

[2018-07-05 12:05] mahmoud-hussien1 commented on #168
PR  - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/38/issue-168-reserve-page/diff

[2018-07-08 06:55] HeshamHassan opened #172 "New ATP"
We need to have separate registration forms for each user. ATP, Trainer and Students.
[Website Application Form -Trainers.docx](https://github.com/camelcasetechsd/skillsbuilder/files/2173617/Website.Application.Form.-Trainers.docx)
[Website Application Form-ATP.docx](https://github.com/camelcasetechsd/skillsbuilder/files/2173619/Website.Application.Form-ATP.docx)

[2018-07-08 07:01] HeshamHassan opened #173 "Footer links"
**Subject:**
The following links are leading to empty pages:
- [ ] Footer> Services> Skills GAP Analysis
- [ ] Footer> eStore> Membership
- [ ] Footer> eStore> Bookink
![image](https://user-images.githubusercontent.com/11155105/42417547-e431e48a-8295-11e8-91ad-ca2ac5bb59f9.png)

[2018-07-08 09:08] Ali-Galal commented on #164
@ahmedelbougha update? and delivery date?

[2018-07-08 09:10] Ali-Galal commented on #91
@ahmedelbougha update? and delivery date?

[2018-07-08 10:05] Ali-Galal commented on #163
@ahmedelbougha update? and delivery date?

[2018-07-08 10:05] Ali-Galal commented on #162
@ahmedelbougha update? and delivery date?

[2018-07-08 10:05] Ali-Galal commented on #148
@ahmedelbougha update? and delivery date?

[2018-07-08 10:06] Ali-Galal commented on #85
@ahmedelbougha update? and delivery date?

[2018-07-08 11:52] mahmoud-hussien1 commented on #169
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/39/move-feedback-form-to-top-op-page/diff

[2018-07-08 12:09] mahmoud-hussien1 commented on #170
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/40/change-social-media-links/diff

[2018-07-08 12:18] mahmoud-hussien1 commented on #171
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/41/issue-171-hide-duration-from-course-more/diff

[2018-07-08 14:31] HeshamHassan commented on #91
**@ahmedelbougha**

1. Evaluation in the course setting has been activated.
2. Course scenario has been made. And materials have been sold.
- [x] How can I access the evaluation form as a student or a trainer to fill it?

   - Student name: user15@thinkcsi.com – Course: Building Relationships: The First Step in Sales.
   - Trainer name: user14@thinkcsi.com – Course: Building Relationships: The Fir

[2018-07-09 08:10] ahmedelbougha commented on #171
merged

[2018-07-09 08:11] ahmedelbougha commented on #170
merged

[2018-07-09 08:15] ahmedelbougha commented on #169
merged

[2018-07-09 08:17] ahmedelbougha commented on #165
merged

[2018-07-09 08:22] LamiaSalah commented on #169
@ahmedelbougha the form is still at the bottom of the page

[2018-07-09 08:23] LamiaSalah commented on #165
@ahmedelbougha the links are still the same

[2018-07-09 08:28] ahmedelbougha commented on #167
merged

[2018-07-09 08:32] ahmedelbougha commented on #169
@LamiaSalah check again please

[2018-07-09 08:33] ahmedelbougha commented on #165
@LamiaSalah check again please

[2018-07-09 08:36] ahmedelbougha commented on #91
@HeshamHassan
You have to wait until the end date of the course in order to access the evaluation form.
I suggest to make the end date more recent or something in the past.

Also, please don't add any user/pass here, since this is public and can be viewed by anyone, I suggest you to change all the passwords of the users to new ones.

[2018-07-09 08:39] ahmedelbougha commented on #173
- Footer> Services> Skills GAP Analysis: it was disabled and we re-activated it
- eStore> Membership: please don't start any links paths with **/estore** as it's reserved for eStore pages
- eStore> Bookink: please don't start any links paths with **/estore** as it's reserved for eStore pages

[2018-07-09 08:40] ahmedelbougha commented on #162
@HeshamHassan I think you mentioned this was fixed in another ticket correct?

[2018-07-09 09:12] ahmedelbougha commented on #162
https://github.com/camelcasetechsd/skillsbuilder/issues/91#issuecomment-403291714

[2018-07-09 09:13] ahmedelbougha commented on #163
@mahmoud-hussien1
Please check and fix.

[2018-07-09 09:16] ahmedelbougha commented on #164
@mahmoud-hussien1
Please check and fix.

[2018-07-09 09:17] LamiaSalah commented on #165
@ahmedelbougha Confirmed

[2018-07-09 09:17] LamiaSalah commented on #169
@ahmedelbougha confirmed

[2018-07-09 09:17] ahmedelbougha commented on #148
Sunday 15th of July

[2018-07-09 09:18] ahmedelbougha commented on #85
Sunday 15th of July

[2018-07-09 09:22] ahmedelbougha commented on #168
@LamiaSalah
Merged.
@mahmoud-hussien1
Please fix the width of the page.

[2018-07-09 09:24] ahmedelbougha commented on #172
Estimation of needed work, I'll let you know about it today En Shaa Allah

[2018-07-09 09:37] ahmedelbougha commented on #154
@Ali-Galal
Please go ahead purchase it.

[2018-07-09 11:03] LamiaSalah commented on #168
@ahmedelbougha Hijri dates are still available

[2018-07-09 12:03] HeshamHassan commented on #173
@Ali-Galal
Kindly advice

[2018-07-09 12:04] HeshamHassan commented on #162
Done

[2018-07-09 12:04] #162 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-07-09 13:54] #165 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-07-09 13:56] #169 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-07-09 13:59] ahmedelbougha commented on #168
@LamiaSalah ok, @mahmoud-hussien1 please take care of this.

[2018-07-09 14:02] ahmedelbougha commented on #167
@LamiaSalah please confirm

[2018-07-09 14:11] ahmedelbougha commented on #171
@LamiaSalah please confirm to close

[2018-07-09 14:12] ahmedelbougha commented on #170
@LamiaSalah please confirm to close

[2018-07-10 03:48] ahmedelbougha commented on #172
@Ali-Galal and @LamiaSalah
I have sent both of you and email with files commented.

[2018-07-10 06:02] Ali-Galal commented on #173
@LamiaSalah Kindly edit the URLs

[2018-07-10 06:14] #154 closed, assigned to Ali-Galal

[2018-07-10 08:19] LamiaSalah commented on #170
@ahmedelbougha please use the above links, I edited them. Sorry for the inconvenience.

[2018-07-10 08:56] ahmedelbougha commented on #170
@LamiaSalah there's no changes in the links, they are all the same.

[2018-07-10 09:29] LamiaSalah commented on #167
@ahmedelbougha

- The duration of each course is deleted, what I asked for is the duration of units, not courses.
- The format of the learning objectives section is a total mess and needs to be fixed.

[2018-07-10 09:29] LamiaSalah commented on #171
The units duration is the one needed to be hidden , not this one please

[2018-07-10 09:34] LamiaSalah commented on #170
@ahmedelbougha  links updated

[2018-07-10 10:31] LamiaSalah commented on #173
@Ali-Galal I'm not sure what links that need to be edited

[2018-07-10 10:35] LamiaSalah commented on #173
@Ali-Galal we just need to delete how can SBP help you

[2018-07-11 08:21] Ali-Galal commented on #173
Regarding the issue @ahmedelbougha we don't know how to edit the links paths, kindly advise

Regarding "delete how can SBP help you"
@LamiaSalah I will do it after the delivery it will not take time
@HeshamHassan kindly add it to my tasks

[2018-07-12 07:51] LamiaSalah commented on #166
@ahmedelbougha please advise the status

[2018-07-12 08:11] LamiaSalah opened #174 "Trainer and Student Guides"
@ahmedelbougha we need to have the current Trainers and Student's Guides titles highlighted as English from the drop-down in the resources section, and others to be highlighted as Arabic, upon adding the Arabic resources, they will be having the same names.

[2018-07-12 08:13] LamiaSalah commented on #171
@ahmedelbougha please advise what is done about this!

[2018-07-15 07:20] ahmedelbougha commented on #171
Sunday: 15/07/2018

[2018-07-15 07:26] ahmedelbougha commented on #166
Sunday 15/07/2018

[2018-07-15 07:27] ahmedelbougha commented on #170
Sunday 15/07/2018

[2018-07-15 07:28] ahmedelbougha commented on #167
Monday 16/07/2018

[2018-07-15 08:29] ahmedelbougha commented on #173
@Ali-Galal
The change of paths can be done through CMS

[2018-07-15 14:14] ahmedelbougha commented on #174
@LamiaSalah
Please put more elaborating description, I cannot understand where to do the above and when to do it.

[2018-07-15 16:44] ahmedelbougha commented on #170
done

[2018-07-15 16:46] ahmedelbougha commented on #171
done

[2018-07-15 16:46] ahmedelbougha commented on #166
done

[2018-07-15 17:50] mahmoud-hussien1 commented on #168
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/45/issue-168-notes-on-reserve-page/diff

[2018-07-16 07:01] LamiaSalah commented on #174
@ahmedelbougha no problem, can discuss this later as it's related to the Arabic section. Won't be delivered in this phase.

[2018-07-16 07:07] LamiaSalah commented on #170
@ahmedelbougha confirmed

[2018-07-16 07:07] LamiaSalah commented on #171
Confirmed

[2018-07-16 07:10] LamiaSalah commented on #166
It's applied but the text is extremely aligned to the left, quite to the edge of the screen and it's not clear as in the attached
![capture](https://user-images.githubusercontent.com/37042927/42746433-0cbc8aac-88d8-11e8-85f6-2dcea293c11d.PNG)

[2018-07-16 07:52] #171 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-07-16 07:52] #170 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-07-16 08:07] Ali-Galal commented on #174
@ahmedelbougha when we adding the trainer guide or student guide, we need to differentiate between EN and AR version

[2018-07-16 08:26] Ali-Galal commented on #173
@ahmedelbougha How?

[2018-07-16 08:31] mahmoud-hussien1 commented on #166
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/46/issue-166-make-text-under-learning-path/diff

[2018-07-16 08:49] ahmedelbougha commented on #166
merged
@LamiaSalah
please check and confirm.

[2018-07-16 09:09] mahmoud-hussien1 commented on #164
@HeshamHassan @ahmedelbougha
it's because of inactivation of the CMS page.
i activate it and it works now.

[2018-07-16 09:11] LamiaSalah commented on #166
@ahmedelbougha why there's a dot at the beginning of the second line in all paths?

[2018-07-16 09:17] mahmoud-hussien1 commented on #163
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/47/issue-163-instructor-material-appear-in/diff

[2018-07-16 12:44] LamiaSalah commented on #172
@ahmedelbougha please advise the status of this request

[2018-07-17 09:57] ahmedelbougha commented on #168
done

[2018-07-17 09:58] ahmedelbougha commented on #168
@LamiaSalah please confirm

[2018-07-17 09:59] LamiaSalah commented on #168
Confirmed

[2018-07-17 09:59] ahmedelbougha commented on #163
done

[2018-07-17 10:07] #168 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-07-17 13:57] HeshamHassan commented on #163
Done.

[2018-07-17 13:57] #163 closed, assigned to ahmedelbougha, Ali-Galal, LamiaSalah

[2018-07-17 14:31] HeshamHassan opened #175 "After Reviewing the Scope"
### Phase 2
2.1 Registration modifications:
- [x] Disabling testing center administrator and testing center proctor roles.
	_These roles appear in the user profile when S.Admin open._
- [x] For instructor role, allow user to add video link, upload bio file(doc,pdf,ppt) and writing a bio in wysiwyg enabled text area.
	_There is no option to allow the instructor to upload files._

2.2 Course and cou

[2018-07-17 15:49] ahmedelbougha commented on #164
Thanks @mahmoud-hussien1
@HeshamHassan would you please check and confirm?

[2018-07-17 16:13] ahmedelbougha commented on #148
Done, @LamiaSalah @HeshamHassan please check and confirm.
How to use:
1- Go to Admin > categories > edit category
2- Fill the path of the category in `Path` field like `/my-category-path`
3- Go to Admin > CMS > Menu Items
4- Click `Edit` in front of the category menu item and
5- In `Menu Item Type` select `Category`
6- Select the category from dropdown list
7- Save
Example of the above check `Smal

[2018-07-17 20:40] ahmedelbougha commented on #172
@LamiaSalah
I sent you an email with the estimated time, you didn't reply me with approval until now. Do you want us to go ahead with this?

[2018-07-17 20:45] ahmedelbougha commented on #174
@Ali-Galal , @LamiaSalah
Whenever you add/edit any resource, you can upload 2 versions English and Arabic.
![sbp-tg-sg](https://user-images.githubusercontent.com/8982139/42844404-17942354-8a13-11e8-970a-f2ebce070080.png)

[2018-07-17 20:49] ahmedelbougha commented on #173
@Ali-Galal
Please don't worry, all pages are working now.

[2018-07-17 21:12] ahmedelbougha commented on #167
Done, please checking example: http://skillsbuilderpro.com/courses/more/34

[2018-07-17 21:20] ahmedelbougha commented on #166
@LamiaSalah Because you are selecting the text direction to right to left from admin.
I changed `Personal Skills Builder`
![cat-r](https://user-images.githubusercontent.com/8982139/42845972-d552593e-8a17-11e8-8850-0bf97b7e090e.png)

While `Workplace Skills Builder` is still as is
![cat-w](https://user-images.githubusercontent.com/8982139/42846011-ea91f14c-8a17-11e8-98c2-6063a631baf9.png)

[2018-07-18 07:39] LamiaSalah commented on #172
@ahmedelbougha I haven't got anything. Yes, you can start immediately. Ho long would this take, please?

[2018-07-18 07:40] LamiaSalah commented on #174
@ahmedelbougha in the estore, there's no option in the drop-down for Arabic Trainer or Student Guides

[2018-07-18 07:42] LamiaSalah commented on #167
There's still an issue with the font and size format Ahmed. When this was added, we ensured they're all with the same font size and color.

[2018-07-18 07:50] LamiaSalah commented on #166
@ahmedelbougha Thanks
Confirmed

[2018-07-18 08:47] ahmedelbougha commented on #172
@LamiaSalah time estimation is 6.5 days, please check for email subject `Status Update`

[2018-07-18 08:48] #49 closed, assigned to badr4php

[2018-07-18 08:48] #14 closed, assigned to nobody

[2018-07-18 08:49] #15 closed, assigned to nobody

[2018-07-18 08:49] #16 closed, assigned to nobody

[2018-07-18 08:49] #17 closed, assigned to nobody

[2018-07-18 08:49] #18 closed, assigned to nobody

[2018-07-18 08:50] #1 closed, assigned to badr4php

[2018-07-18 08:50] #10 closed, assigned to nobody

[2018-07-18 08:50] #12 closed, assigned to nobody

[2018-07-18 08:50] #13 closed, assigned to nobody

[2018-07-18 08:51] ahmedelbougha commented on #53
Done

[2018-07-18 08:51] #53 closed, assigned to solimansamy

[2018-07-18 08:52] #19 closed, assigned to nobody

[2018-07-18 08:58] LamiaSalah commented on #172
@ahmedelbougha thanks

[2018-07-18 09:05] HeshamHassan commented on #167
Done.

[2018-07-18 09:06] HeshamHassan commented on #85
Any update?

[2018-07-18 09:12] HeshamHassan commented on #164
Done

[2018-07-18 09:12] #164 closed, assigned to ahmedelbougha, Ali-Galal

[2018-07-19 20:25] #31 closed, assigned to nobody

[2018-07-19 21:17] ahmedelbougha commented on #23
fixed

[2018-07-19 21:17] #23 closed, assigned to badr4php

[2018-07-19 21:19] #166 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-07-19 21:19] ahmedelbougha commented on #148
@HeshamHassan , @LamiaSalah
Confirm please !!

[2018-07-19 21:33] ahmedelbougha commented on #167
@LamiaSalah
The font color is fixed, I made it black, but for the font type, size ..etc, you need to fix this on your own from CMS backend.

[2018-07-19 22:31] ahmedelbougha commented on #167
Example: http://skillsbuilderpro.com/courses/more/34
@LamiaSalah @HeshamHassan
Confirm!

[2018-07-19 22:32] ahmedelbougha commented on #173
@HeshamHassan @LamiaSalah
Confirm and close please.

[2018-07-22 06:59] HeshamHassan commented on #173
Done

[2018-07-22 06:59] #173 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-07-22 08:20] HeshamHassan commented on #91
**@ahmedelbougha**
There are many courses events in calendar that had been reached the end date.
There are also users enrolled in these courses.
I logged on with different users that enrolled in finished courses.
I cannot reach the evaluation.
I tried to create new events, but I that events did not appear in the users calendar.

**Kindy advice.**

[2018-07-22 13:18] LamiaSalah commented on #148
@ahmedelbougha confirmed

[2018-07-22 17:59] ahmedelbougha commented on #91
@HeshamHassan
Please go to
User menu > my courses
Click `View more` in front of the course name you can find the evaluate button there.

[2018-07-23 09:54] HeshamHassan opened #176 "Enroll to Course"
**URL:** http://skillsbuilderpro.com/courses/more/8
**Path:** Learning Paths> Small Business Builder> Course Outlines> Take This Course> Enroll
**Subject:**
Error message appears when click on “Enroll”. This error appears with all roles even Admin.

![image](https://user-images.githubusercontent.com/11155105/43070047-647d653c-8e77-11e8-9b17-5d548832e1a5.png)

![image](https://user-images.githubuse

[2018-07-23 10:41] ahmedelbougha commented on #176
done
@HeshamHassan
Check and confirm.

[2018-07-24 09:47] HeshamHassan commented on #91
@ahmedelbougha
I successfully accessed the course evaluation and fill in it.
So, we have to get back to the main issue: How can I (as Admin, TM or TCA) view the evaluation results?

[2018-07-24 10:09] HeshamHassan commented on #85
**@ahmedelbougha**
Any update?

[2018-07-24 10:10] HeshamHassan commented on #176
Done

[2018-07-24 10:10] #176 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-07-24 10:14] HeshamHassan opened #177 "Course Event has No Price"
**URL:** http://skillsbuilderpro.com/estore/index.php?route=checkout/cart
**Path:** Learning Paths> Small Business Builder> Course Outlines> Take This Course> Enroll
**Subject:**
Course event has no price.
- [ ] How to create “Course Event Price”?

![image](https://user-images.githubusercontent.com/11155105/43132045-43ac7a42-8f43-11e8-88b6-efd5c834d03e.png)

[2018-07-24 10:21] HeshamHassan opened #178 "Training Manager Event List"
**Subject:**
Training Manager can create events. But, he cannot view the events list.
- [x] How can TM access his created events (Event List)?

[2018-07-24 12:13] ahmedelbougha commented on #177
@HeshamHassan
You have to fill course price in SkillsBuilder itself, it will update the eStore automatically.

[2018-07-24 12:13] ahmedelbougha commented on #177
@HeshamHassan
Please confirm and close.

[2018-07-24 12:28] ahmedelbougha commented on #178
@HeshamHassan
This could be done by CMS! Anyway I have changed this myself, please take care of this in the future.
Now, you can reach that page when you login as TM using Training Manager > Training Calendar

[2018-07-24 12:28] ahmedelbougha commented on #178
@HeshamHassan
Please confirm and close.

[2018-07-24 13:06] HeshamHassan commented on #177
@ahmedelbougha
Where to fill that price?

[2018-07-24 13:09] HeshamHassan commented on #178
Done.

[2018-07-24 13:09] #178 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-07-24 13:18] ahmedelbougha commented on #177
@HeshamHassan
Go to any course edit page: example http://skillsbuilderpro.com/courses/edit/34
You can find Price field there.

[2018-07-30 06:06] HeshamHassan commented on #91
**@ahmedelbougha**
Any update?

[2018-07-30 06:10] HeshamHassan commented on #85
**@ahmedelbougha**
Any update?

[2018-07-30 07:40] LamiaSalah commented on #167
Confirmed

[2018-07-30 07:40] #167 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-07-30 07:42] LamiaSalah commented on #167
Confirm

[2018-07-31 09:33] HeshamHassan commented on #172
**@ahmedelbougha**
Any update?

[2018-07-31 10:17] #148 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-08-01 06:27] ahmedelbougha commented on #177
@HeshamHassan
Any update????????????

[2018-08-01 06:35] HeshamHassan commented on #177
**@ahmedelbougha**
Each course has its recommended price.
While creating an event, The ATP will modify the course recommended price so the modified price will affect only the current created event.

[2018-08-01 06:44] ahmedelbougha commented on #177
@HeshamHassan
No, that wasn't the requirement, please return to Ali to let you know about this.

[2018-08-01 07:09] HeshamHassan commented on #177
**@Ali-Galal**
Kindly advice!

[2018-08-01 07:43] #177 closed, assigned to nobody

[2018-08-01 10:20] ahmedelbougha commented on #172
Issue in progress.

[2018-08-02 09:49] HeshamHassan commented on #85
**@ahmedelbougha**
Any update?

[2018-08-06 07:29] HeshamHassan commented on #85
**@ahmedelbougha**
Any update?

[2018-08-06 07:29] HeshamHassan commented on #91
**@ahmedelbougha**
Any update?

[2018-08-06 07:30] HeshamHassan commented on #172
**@ahmedelbougha**
Any update?

[2018-08-06 07:30] HeshamHassan commented on #174
**@ahmedelbougha**
Any update?

[2018-08-06 07:39] HeshamHassan commented on #175
**@ahmedelbougha**
Any update?

[2018-08-06 08:08] LamiaSalah commented on #174
@ahmedelbougha as agreed yesterday you were supposed to send us a demo for this

[2018-08-06 11:06] ahmedelbougha commented on #175
@HeshamHassan
Check with @Ali-Galal

[2018-08-06 11:06] ahmedelbougha commented on #172
@HeshamHassan
Check with @Ali-Galal

[2018-08-06 11:06] ahmedelbougha commented on #91
@HeshamHassan
Check with @Ali-Galal

[2018-08-06 11:06] ahmedelbougha commented on #85
@HeshamHassan
Check with @Ali-Galal

[2018-08-06 12:12] LamiaSalah commented on #172
@ahmedelbougha This is to confirm that the forms that will be added are:
- Trainers Form
- ATP
- Student

We don't need a form for RESELLERS.
I'll send you the student's form shortly

[2018-08-08 07:09] LamiaSalah commented on #172
[Student Registration Form.docx](https://github.com/camelcasetechsd/skillsbuilder/files/2269263/Student.Registration.Form.docx)

@ahmedelbougha attached is the registration form for students

[2018-08-13 09:00] LamiaSalah commented on #172
@ahmedelbougha the delivery date for this was supposed to be 20 days ago as per your advise in the thread above!!

[2018-08-26 08:59] LamiaSalah opened #179 "pdf attachment"
can we add the option of attaching text to a pdf file?

[2018-08-26 14:13] LamiaSalah opened #180 "Access to courses"
The access to the courses from the learning paths dropdown is not working, it only works from the internal pages.

[2018-08-29 11:49] HeshamHassan opened #181 "eStore Log in and Registration"
**URL:** http://skillsbuilderpro.com/estore/index.php?route=checkout/checkout
**Path:** SBP Home> eStore> Add to cart> Checkout
**Subject:**
Scenario:
1.	SBP home page “as a guest”.
2.	Click on eStore menu
3.	Add item to the cart
4.	Checkout
![image](https://user-images.githubusercontent.com/11155105/44785748-a1a41b00-ab9a-11e8-9edf-bbe5abc5d99f.png)

 - [ ] New Customer must redirect to the new u

[2018-08-29 12:06] HeshamHassan opened #182 "Trainer Hub Page for Registered Instructor"
**URL:** http://skillsbuilderpro.com/Training/Trainer's_hub
**Path:** SBP Home> Training> Trainer Hub
**Subject:**
At the end of Trainer Hub page, there is a link: “Apply Now” which redirect me to the new registration form. When I login as an instructor:
- [ ] The link “Apply Now” must not appear.
Or, at least redirect to the instructor profile, not the new registration form.

[2018-08-29 12:12] HeshamHassan opened #183 "ATP Page for Registered Trainer Manager"
**URL:** http://skillsbuilderpro.com/About/Partner_with_SBP/ATP
**Path:** SBP Home> About> Partner with SBP> ATP
**Subject:**
At the end of Authorized Training Partner page, there is a link: “Apply Now” which redirect me to the new registration form. When I login as an TM:
- [x] The link “Apply Now” must not appear.
Or, at least redirect to the TM profile, not the new registration form.

[2018-09-02 09:02] mahmoud-hussien1 commented on #183
@HeshamHassan
this is a static page. there is no option in static pages to do what you want.

[2018-09-02 09:09] Ali-Galal commented on #183
@ahmedelbougha it doesn't make sense that the logged in user can access the registration page.

you can redirect any logged in user that trying to access the registration page to its profile page.

[2018-09-02 11:48] mahmoud-hussien1 commented on #180
@LamiaSalah
i tested this page and it works. if you see other thing, please tell me.
http://skillsbuilderpro.com/categories/courses/8

[2018-09-02 12:09] LamiaSalah commented on #180
It's working now.

[2018-09-03 09:43] HeshamHassan opened #184 "Needs API (Meeting)"
- [x] use live chat instead of current one (replacement to current chat)

[2018-09-03 09:44] HeshamHassan opened #185 "Bugs (Meeting)"
- [x] take space between radio button and menu item type
- [x] remove ATC from organizations form
- [x] in ATP form " I agree to Atp's privacy statement" capitalize
- [ ] add category description in the learning path page
- [x] Number of items in cart in eStore need to be displayed

[2018-09-03 09:45] HeshamHassan opened #186 "Settings (Meeting)"
- [x] add Home link in the estore to return to skillsbuilder
- [x] student and trainer guide links in estore to be main items not sub-items
- [x] remove cash on delivery

[2018-09-03 09:46] HeshamHassan opened #187 "Enhancements (Meeting)"
- [x] rename category to learning path in backend
- [x] header height to be smaller
- [x] cut the end of course description in frontend at end of a phrase (dot) after 150 character (at the end to be 5 lines)

[2018-09-03 09:47] HeshamHassan opened #188 "New requirements (Meeting)"
- [x] when click admin menu from frontend open it in new tab
- [ ] adding countries, regions, pricing per region
- [ ] admin can change the statements
- [ ] home page administration from backend to control the content of Home Page
- [ ] assign user to distributer
- [ ] distributer can approve and add reseller and ATPs in its region
- [ ] reseller can approve and add reseller and ATPs in its sub-re

[2018-09-03 09:48] HeshamHassan opened #189 "To be ignored items (Meeting)"
- [ ] sort by menu item parent

[2018-09-03 12:28] Ali-Galal opened #190 "docusign"
@ahmedelbougha Creating Docusign contracts for the following roles:
1- Distributor
2- Reseller
3- ATP
4- Instructor

[2018-09-03 12:28] Ali-Galal commented on #190
https://developers.docusign.com/esign-rest-api/guides

[2018-09-03 13:10] Ali-Galal opened #191 "purchasing"
@ahmedelbougha we need to change the authority of purchasing to be for organizations only, and to be assigned to the students via the organizations

[2018-09-05 13:37] Ali-Galal commented on #85
@ahmedelbougha kindly find the chat code

`
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 10096423;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName(

[2018-09-05 19:21] ahmedelbougha commented on #181
@Ali-Galal @HeshamHassan
"Guest checkout" option removed, since it's a setting in the system.
The other 2 options are enhancements, please approve.

[2018-09-06 08:01] ahmedelbougha commented on #172
ATP:
        user: http://skillsbuilderpro.com/atp/register
        organization: http://skillsbuilderpro.com/front/organizations/new/2

Student: http://skillsbuilderpro.com/student/register
Trainer: http://skillsbuilderpro.com/trainer/register

[2018-09-06 08:02] ahmedelbougha commented on #183
@badr4php
Please check

[2018-09-06 08:03] #189 closed, assigned to ahmedelbougha, Ali-Galal

[2018-09-06 08:44] ahmedelbougha commented on #85
@badr4php please remove old Chat and add the above code instead.

[2018-09-06 08:52] LamiaSalah opened #192 "web analytics"
@ahmedelbougha we'll use the same email for skilled Matrix to create web analytics account.
please advise when this will be in place

[2018-09-06 09:46] ahmedelbougha commented on #185
All fixed except "in ATP form " I agree to Atp's privacy statement" capitalize", which is part of statements, to be deployed within 1 day En Shaa Allah.

[2018-09-06 12:12] badr4php commented on #183
@ahmedelbougha  PR :  https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/57/183-when-loged-in-user-try-to-access/diff

[2018-09-06 12:21] Ali-Galal commented on #181
@ahmedelbougha
1- As we agreed only logged in users (student or instructor), can purchase, so it doesn't make sense that the visitor can access eStore.

2- we already paid to fully implement the eStore, which means that the eStore credentials are synced with our portal.

[2018-09-06 12:26] badr4php commented on #85
@ahmedelbougha  PR : https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/58/85-third-party-service-to-handel-chat/diff

[2018-09-06 13:48] LamiaSalah commented on #172
@ahmedelbougha please find below feedback about the above forms:

New User Form:

- [x]	Change title to  ‘ New Organization’s Admin’
- [x]	Delete Space at the top, too much spacing
- [ ]	Make Titles: Admin First name, etc….
- [x]	Make Security Answers all in one line.

Student Form:

- [ ]	City must not be textbox. It must be DDM that filtered with the cities related to the chosen country.
@ahmede

[2018-09-09 08:53] HeshamHassan commented on #192
**@ahmedelbougha**
Any update?

[2018-09-09 08:53] HeshamHassan commented on #191
**@ahmedelbougha**
Any update?

[2018-09-09 08:53] HeshamHassan commented on #190
**@ahmedelbougha**
Any update?

[2018-09-09 08:54] HeshamHassan commented on #183
**@ahmedelbougha**
Any update?

[2018-09-09 08:54] HeshamHassan commented on #182
**@ahmedelbougha**
Any update?

[2018-09-09 08:54] HeshamHassan commented on #181
**@ahmedelbougha**
Any update?

[2018-09-09 08:55] HeshamHassan commented on #179
**@ahmedelbougha**
Any update?

[2018-09-09 08:56] HeshamHassan commented on #174
**@ahmedelbougha**
Any update?

[2018-09-09 08:56] HeshamHassan commented on #172
**@ahmedelbougha**
Any update?

[2018-09-09 09:05] HeshamHassan commented on #85
**@ahmedelbougha**
Any update?

[2018-09-09 12:29] HeshamHassan opened #193 "Course Page – Resources Section"
**URL:** http://skillsbuilderpro.com/categories/courses/
**Subject:**
The resources section in the course pages is not the same.
The 3 contents (Outlines, Trainer Guide, Student Guide) at the below pages are not in the same order as the rest of the same section at the other course pages:
![image](https://user-images.githubusercontent.com/11155105/45264418-dd659d00-b444-11e8-9731-14f71e94a9b2.png)

[2018-09-09 12:36] HeshamHassan opened #194 "User Profile Saving Issue"
**Subject:**
When trying to create a new account or modify an existing account, the form refuses to save changes. And there is no error message to indicate the missing data.
**Case1:** I tried to modify user15 to be Instructor.
**Case2:** I tried to create a new user account.

[2018-09-11 11:51] HeshamHassan commented on #180
Sorry,
It still not working till now.
**Scenario:**
1. Open http://skillsbuilderpro.com/home-default as a guest.
2. click on Learning Path DDM to open
3. click on any learning path in the menu
4. page redirects me to "Log In" page
Also, most roles act the same as "Guest" and cannot access the learning path DDM.

[2018-09-12 15:58] ahmedelbougha commented on #85
fixed

[2018-09-12 16:05] ahmedelbougha commented on #91
@HeshamHassan
1- Login as admin
2- go to course events
3- click evaluation icon beside course event.

![evaluation-icon](https://user-images.githubusercontent.com/8982139/45438073-77804c00-b6b6-11e8-8289-4ea81e411336.png)

[2018-09-12 16:12] #11 closed, assigned to nobody

[2018-09-12 16:12] #20 closed, assigned to nobody

[2018-09-12 16:12] #39 closed, assigned to solimansamy

[2018-09-12 16:12] #40 closed, assigned to solimansamy

[2018-09-12 16:13] #45 closed, assigned to ahmedelbougha

[2018-09-12 16:13] #52 closed, assigned to badr4php

[2018-09-12 16:14] ahmedelbougha commented on #52
@HeshamHassan
Sorry, that was internal issue, please ignore

[2018-09-12 16:36] ahmedelbougha commented on #180
Fixed

[2018-09-12 16:59] ahmedelbougha commented on #185
@HeshamHassan
Please check

[2018-09-13 06:09] HeshamHassan commented on #85
It's Ok for SBP pages.
But it must appear at all eStore pages too.

[2018-09-13 06:35] HeshamHassan opened #195 "Organization Information View Page"
**URL:** http://skillsbuilderpro.com/organizations/more/6
**Subject:**
Fix the view of the page. Data is overlapped in the tables.
![image](https://user-images.githubusercontent.com/11155105/45690755-bbb09800-bb5f-11e8-8548-7892af6c0662.png)

[2018-09-13 06:59] HeshamHassan opened #196 "Private Training Reservation"
**URL:** http://skillsbuilderpro.com/quote/training/private/4
**Path:** Learning Path> Course> Book a private session> Reserve>
**Subject:**
Reservation is not working. It gives the below message:
![image](https://user-images.githubusercontent.com/11155105/45472016-9aa10f00-b73b-11e8-95a5-ff711bfc8569.png)

[2018-09-13 07:08] HeshamHassan commented on #180
Done.

[2018-09-13 07:08] #180 closed, assigned to HeshamHassan

[2018-09-13 08:52] HeshamHassan commented on #91
**@ahmedelbougha**
Thanks, I heve found the evaluation Icon.
But I logged in as "user14" and "user15" and the evaluate button is not present for now!!
I checked it before!!!
So, kindly check and advice.

[2018-09-13 09:31] HeshamHassan commented on #185
1. Done.
2. Done.
3. Done.
4. Not complete:
5. Done.

**4.** Not complete: when opening the learning path from the home page, I can find the category description. but when open the same learning path from the menu, the description is dismissed.

[2018-09-16 13:16] HeshamHassan opened #197 "My Courses Page Is Empty"
**URL:** http://skillsbuilderpro.com/courses/mycourses
**Path:** User menu> User> My courses
**Subject:** When accessing the page “My courses” I found it empty.
I bought 3 courses 5 minutes ago and I cannot see them in the “My Courses” page.
Note: The mentioned courses are bought with user12@thinkcsi.com
![image](https://user-images.githubusercontent.com/11155105/45596883-e9fd6e80-b9cb-11e8-91cf-c

[2018-09-16 13:18] HeshamHassan opened #198 "Filtered Pages By Learning Path Needs To Be Fixed"
**URL:** http://skillsbuilderpro.com/Management-Pro?page=2
**Subject:**
When accessing the learning path “Management Pro” page 2, all courses become in the same learning path. The pages transferred from 3 pages to 11 pages.
![image](https://user-images.githubusercontent.com/11155105/45596898-292bbf80-b9cc-11e8-867f-665ede4f4539.png)

[2018-09-16 13:19] HeshamHassan commented on #194
**@ahmedelbougha**
Any update?

[2018-09-17 13:31] HeshamHassan commented on #187
- [ ] Ability to **stop,** **pause** and **resume** a purchased course for a particular user.
- [x] **Pre** and **Post** assessment for each course.

[2018-09-18 09:45] HeshamHassan opened #199 "Documentation"
**@ahmedelbougha**
Documentation

[2018-09-18 11:44] #199 closed, assigned to ahmedelbougha, Ali-Galal

[2018-09-18 13:07] ahmedelbougha commented on #198
@HeshamHassan, @LamiaSalah
It has been fixed and deployed to production

[2018-09-18 13:08] ahmedelbougha commented on #192
@LamiaSalah
As we agreed together on the phone last week, this is small issue, and we are waiting until finishing the current issues (forms and statements), if it's priority to you then I can work on it first.

[2018-09-18 13:08] ahmedelbougha commented on #179
@LamiaSalah , @HeshamHassan
Not yet, it seems as new requirement, I'm not sure if you have send me details about it?

[2018-09-18 13:08] ahmedelbougha commented on #172
@LamiaSalah , @HeshamHassan
We are done with the forms and most of your comments (except two of them) also, styling is finished, right now we are doing enhancements for the validation styling and other stuff to make the forms look better.
You can look on latest changes on production for the time being.

[2018-09-18 13:16] HeshamHassan commented on #185
**@ahmedelbougha**
Any update?

[2018-09-18 13:57] HeshamHassan commented on #198
Done.

[2018-09-18 13:57] #198 closed, assigned to ahmedelbougha, Ali-Galal

[2018-09-19 08:17] HeshamHassan commented on #85
**@ahmedelbougha**
Any update?

[2018-09-19 08:27] HeshamHassan commented on #91
**@ahmedelbougha**
Any update?

[2018-09-19 08:28] HeshamHassan commented on #174
**@ahmedelbougha**
Any update?

[2018-09-19 08:33] HeshamHassan commented on #181
**@ahmedelbougha**
Any update?

[2018-09-19 08:38] HeshamHassan commented on #183
**@ahmedelbougha**
Any update?

[2018-09-19 08:40] HeshamHassan commented on #190
**@ahmedelbougha**
Any update?

[2018-09-19 08:41] HeshamHassan commented on #191
**@ahmedelbougha**
Any update?

[2018-09-19 08:52] HeshamHassan commented on #193
**@ahmedelbougha**
Any update?

[2018-09-19 08:52] HeshamHassan commented on #194
**@ahmedelbougha**
Any update?

[2018-09-19 08:53] HeshamHassan commented on #195
**@ahmedelbougha**
Any update?

[2018-09-19 08:54] HeshamHassan commented on #197
**@ahmedelbougha**
Any update?

[2018-09-19 10:51] LamiaSalah commented on #172
@ahmedelbougha thanks Ahmed, this looks much better. Kindly advise when this is completed to have a final review.

[2018-09-19 10:57] LamiaSalah commented on #179
@ahmedelbougha I need to have the option of linking any text to a pdf file after uploading it to the system

[2018-09-24 15:09] mahmoud-hussien1 commented on #195
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/67/issue-195-fix-li-height-in-organization/diff

[2018-09-24 15:44] mahmoud-hussien1 commented on #193
PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/68/issue-193-order-resources-relative-to-type/diff

[2018-09-27 09:56] mahmoud-hussien1 commented on #196
@ahmedelbougha this problem related to migration.

[2018-09-27 15:49] ahmedelbougha commented on #196
done

[2018-09-27 15:54] ahmedelbougha commented on #193
done

[2018-09-30 08:06] HeshamHassan commented on #193
Done

[2018-09-30 08:06] #193 closed, assigned to ahmedelbougha, Ali-Galal

[2018-09-30 08:28] HeshamHassan commented on #196
Done

[2018-09-30 08:28] #196 closed, assigned to ahmedelbougha, Ali-Galal

[2018-09-30 08:53] HeshamHassan commented on #197
Done

[2018-09-30 08:53] #197 closed, assigned to ahmedelbougha, Ali-Galal

[2018-09-30 10:03] HeshamHassan commented on #85
Done

[2018-09-30 10:03] #85 closed, assigned to HeshamHassan

[2018-09-30 13:29] HeshamHassan commented on #187
**@ahmedelbougha
Point 2**
The header height is not smaller than before.
I cannot determine any shrunk height.

[2018-09-30 13:36] HeshamHassan commented on #185
**@ahmedelbougha**
**Point 4: Category Description.**
When accessing the learning pass from the menu, I cannot find the description.
But when accessing the same learning pass from the home page, the description exists.
Kindly check the below screenshots:
- From Menu:
![image](https://user-images.githubusercontent.com/11155105/46258188-d3c4d780-c4ce-11e8-9525-ceb40051401e.png)

- From Home Page:
![

[2018-09-30 13:40] HeshamHassan commented on #195
@ahmedelbougha
The issue still as it is.
Any update?

[2018-09-30 14:22] HeshamHassan commented on #194
**@ahmedelbougha**
The new user profile applied. But the form still denies being saved. And I faced the following issues:
- The available form shows only the student fields. I cannot find the instructor fields for the instriuctor user (_check user14 and user3 profiles_)
- the google map does not appear in the new form.
- When creating a new user with the role "Instructor" I'm trying to update the

[2018-10-01 07:47] HeshamHassan commented on #184
Done

[2018-10-01 07:47] #184 closed, assigned to ahmedelbougha, Ali-Galal

[2018-10-01 07:49] HeshamHassan commented on #190
**@ahmedelbougha**
Any update?

[2018-10-01 07:50] HeshamHassan commented on #183
**@ahmedelbougha**
Any update?

[2018-10-01 07:51] HeshamHassan commented on #181
**@ahmedelbougha**
Point 2 Solved.
Still, Point 1...

[2018-10-01 08:17] ahmedelbougha commented on #183
@HeshamHassan it's already fixed:

          Page can be accessed by unregistred users , but if logged in user it should
          act as:
          1- Admin && TM will be redirected to /users/new
          2- other roles will be be redirected to /no-access

Please confirm and close

[2018-10-01 08:25] ahmedelbougha commented on #183
@HeshamHassan
We cannot change _Apply Now_ link as it's written inside CMS pages content which cannot control it, but we can control the user redirection only.

[2018-10-01 08:37] ahmedelbougha commented on #175
@HeshamHassan please confirm and close, as agreed with @LamiaSalah  she don't need the Coming Soon section.

[2018-10-01 08:38] ahmedelbougha commented on #185
@HeshamHassan
Fixed, confirm and close.

[2018-10-01 08:54] Ali-Galal commented on #183
@ahmedelbougha you can redirect any logged in user that trying to access the registration page to its profile page.

[2018-10-01 09:11] ahmedelbougha commented on #91
@HeshamHassan
Both user14 and user15 are enrolled in courses that have no evaluation!
Please build the evaluation of those courses first before you can evaluate them.

[2018-10-01 09:40] HeshamHassan commented on #175
As per **@LamiaSalah** confirmation,
The "Coming Soon Section" point will be postponed for now.

[2018-10-01 09:40] #175 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-10-01 09:46] HeshamHassan commented on #185
All Done.

[2018-10-01 09:46] #185 closed, assigned to HeshamHassan

[2018-10-01 10:02] Ali-Galal commented on #175
@HeshamHassan create a new issue for coming soon and label it as postponed

[2018-10-01 10:06] HeshamHassan commented on #91
All Done.
Thanks

[2018-10-01 10:06] #91 closed, assigned to HeshamHassan

[2018-10-01 10:09] HeshamHassan opened #200 "Coming soon"
**Phase** 3
3.1 Homepage structure: **Coming soon** It is not available.

[2018-10-01 11:26] ahmedelbougha commented on #200
@HeshamHassan
fixed

[2018-10-01 13:12] Ali-Galal commented on #200
@ahmedelbougha This issue instead of issue number 175

[2018-10-02 07:10] ahmedelbougha commented on #200
@Ali-Galal , @HeshamHassan
This is already fixed, why did you label it as postponed?

[2018-10-02 07:11] ahmedelbougha commented on #200
@Ali-Galal
OK

[2018-10-02 07:12] ahmedelbougha commented on #172
@LamiaSalah, @HeshamHassan , @Ali-Galal
It's completed, please check and let me know your feedback

[2018-10-02 07:15] ahmedelbougha commented on #183
@Ali-Galal
That means (ANY) role will be redirected to profile page (Other than Admin) OK?

[2018-10-02 07:15] ahmedelbougha commented on #182
@HeshamHassan @Ali-Galal
This is duplicate of #183, please close it.

[2018-10-02 07:23] Ali-Galal commented on #200
@heshamhassan kindly check it and confirm or attach the screenshot

[2018-10-02 07:26] Ali-Galal commented on #183
@Ahmedelbougha I got your point I have a question about it before to decide I will call you in this regard

[2018-10-02 07:32] HeshamHassan commented on #200
![image](https://user-images.githubusercontent.com/11155105/46334679-a7739d00-c62d-11e8-8cd8-6438ec9b84df.png)

[2018-10-02 08:24] ahmedelbougha commented on #186
@HeshamHassan
Done, please confirm and close.

[2018-10-02 08:24] ahmedelbougha commented on #190
Work in progress

[2018-10-02 08:49] ahmedelbougha commented on #194
@HeshamHassan
It seems there's misunderstanding. Right now we have 3 new forms:
1- Student
2- Instructor (Trainer)
3- Training Manager
The new forms should be reviewed against the new requirements that you sent, but I have the feeling that you are checking old requirements.
Please check with Ali, as I sent him the URLs for new registration forms.

[2018-10-02 08:52] ahmedelbougha commented on #200
No need, as I was confused between this and some other issue.

[2018-10-02 10:30] LamiaSalah commented on #172
Dear Ahmed,

I’ll reply here as there are lots of details. The info added for the two forms (ATP and Trainer) have lots of variations from the documents I sent you.

Organization

-          The sections are different from those in the doc provided, they should only be two main sections:

Part 1: Business Account Profile
Part 2: ATP Partner Qualifications and Business Plan

-          The content

[2018-10-02 11:00] HeshamHassan commented on #186
Done

[2018-10-02 11:00] #186 closed, assigned to Ali-Galal

[2018-10-02 18:00] mahmoud-hussien1 commented on #172
@ahmedelbougha @LamiaSalah
In Progress.

[2018-10-03 10:22] HeshamHassan opened #201 "Flipping Books to be Re-uploaded"
**@ahmedelbougha**
Is there a limitation for the flipping book size? I cannot upload the flipping book because of the .zip file size. I got the message in the below screenshot.
 - [ ] Kindly free up the .zip flipping book size.
![image](https://user-images.githubusercontent.com/11155105/46404710-aa928a00-c70e-11e8-8523-d923f1d8b7b0.png)

[2018-10-04 09:52] ahmedelbougha commented on #182
@HeshamHassan @Ali-Galal
Please close this issue as it's a duplicate

[2018-10-04 11:11] #182 closed, assigned to ahmedelbougha, Ali-Galal

[2018-10-04 14:29] HeshamHassan commented on #172
**@ahmedelbougha**
Kindly update me with the forms URLs

[2018-10-07 09:51] ahmedelbougha commented on #201
@HeshamHassan
If I remember it correctly, I think @Ali-Galal increased that size once before from server settings, but we will check on our side if there's additional limitation En Shaa Allah and let you know today.
What is the size of the book you are trying to upload?

[2018-10-07 09:55] ahmedelbougha commented on #194
@HeshamHassan @Ali-Galal
Any update from your side?

[2018-10-07 09:56] ahmedelbougha commented on #195
@HeshamHassan
merged and uploaded to production

[2018-10-07 10:37] HeshamHassan commented on #195
Done

[2018-10-07 10:37] #195 closed, assigned to nobody

[2018-10-07 10:42] HeshamHassan commented on #201
**@ahmedelbougha**
Till now... I have one with 300MB!
We may have larger flipping book files.

**@Ali-Galal**
Kindly advice about the size.

[2018-10-07 11:00] Ali-Galal commented on #201
@ahmedelbougha is it applicable to remove the limitation at all?

[2018-10-07 12:04] HeshamHassan commented on #194
**@ahmedelbougha**
- [ ] Cannot modify old user to be an instructor.
- [ ] Cannot create new Instructor user:
![image](https://user-images.githubusercontent.com/11155105/46581473-23148600-ca42-11e8-8daa-a042495407a4.png)

[2018-10-08 07:25] HeshamHassan commented on #201
@ahmedelbougha
This issue appears to me and my colleagues in Egypt:
When uploading the flipping book, the status bar count the uploading to 99% then the following page appears:
![image](https://user-images.githubusercontent.com/11155105/46596231-717a6100-cae4-11e8-9b68-b9580d3015fd.png)

[2018-10-08 11:42] ahmedelbougha commented on #201
@HeshamHassan
This is a server issue, the maximum size of file must be 200 Mb or less, you need to change the server configuration to support hat size of files.

[2018-10-08 12:02] HeshamHassan commented on #201
**@Ali-Galal**
Kindly Advice

[2018-10-09 09:32] Ali-Galal commented on #201
@HeshamHassan try again please

[2018-10-09 13:24] LamiaSalah commented on #172
@ahmedelbougha please advise when this will be in place?

[2018-10-09 14:25] HeshamHassan opened #202 "Evaluation Template Saving Error"
I tried to modify the evaluation template. the website denied saving the changes. and gives me the following message:
![image](https://user-images.githubusercontent.com/11155105/46675835-f9955f00-cbe7-11e8-9531-d760ae0e26ed.png)

[2018-10-09 14:38] HeshamHassan commented on #202
**@ahmedelbougha**
I tried multi ways, I found that the text box does not accept any special characters. except for the question mark in both English and Arabic languages.
- [ ] Kindly fix it to accept letters, numbers, and special characters.

[2018-10-10 08:42] HeshamHassan opened #203 "SBP - Trainer Resources Page WireFrame"
![image](https://user-images.githubusercontent.com/11155105/46723783-4d07bb80-cc81-11e8-8ec5-ca118dc323b1.png)

In case of Video Activity
![image](https://user-images.githubusercontent.com/11155105/46723810-5f81f500-cc81-11e8-8016-f7e1b845fd02.png)

[2018-10-10 10:20] LamiaSalah opened #204 "Courses Format"
@ahmedelbougha This has been discussed in our meeting but no issue was raised. The text for each course on each learning Path page need to end with a full sentence, as discussed, you need to end the text in the preview page after a full stop.

Also, there are some errors in the preview text as per below:
http://skillsbuilderpro.com/small-business-builder

**Smart Strategies for Going Global**
With

[2018-10-10 10:33] LamiaSalah opened #205 "Talent Development Pro"
@ahmedelbougha Please note that the courses under the above learning path do not appear as I highlighted to you earlier.

[2018-10-10 12:06] mahmoud-hussien1 commented on #172
@LamiaSalah fixed, please check.

[2018-10-10 12:13] LamiaSalah opened #206 "Photos"
@ahmedelbougha

 I need to replace the photos in the preview section for the below courses with the attached photos as they’re distorted.

Personal Skills Builder http://skillsbuilderpro.com/personal-skills-builder
Power of self-leadership

Career Skills Builder http://skillsbuilderpro.com/Career-Skills-Builder
Public Speaking with confidence

Workplace Skills Builder http://skillsbuilderpro.com/W

[2018-10-10 12:54] HeshamHassan opened #207 "Evaluation Template Question Types"
Add evaluation template question types that allow the candidate to answer the question with typing a free text.

[2018-10-10 13:12] Ali-Galal commented on #172
Could you please send the URLs

[2018-10-11 10:58] mahmoud-hussien1 commented on #202
@HeshamHassan Can i ask the opposite question? which characters you don't want the website to accept?

[2018-10-11 10:58] LamiaSalah commented on #172
@ahmedelbougha for the Trainers Form:

**User profile:**
The country code filed should have the Country before the code and added in Alphabetical order
**Training Background:**
- In Professional Certifications section the form is not like the one we provided and missing fields.
**Work Experience**
- Please add the same text as requested:  SBP Learning Paths you want to teach. Click all that apply.

[2018-10-11 11:02] LamiaSalah commented on #172
Dear Ahmed,

I went through the forms and checked the edits. There are still lots of variations between the forms and what we requested. Especially the text for each field.

Also the format need to be fixed as the titles for the fields are added in many lines.

I added my comments on Github. Please advise when these edits will be finalized.

Regards,

Lamiaa

From: Ali-Galal [mailto:notifications@

[2018-10-11 11:10] HeshamHassan commented on #202
**@mahmoud-hussien1**
All types of characters are accepted: letters, numbers, and special characters. Also, for any language.
Conceder it as a normal text box.

[2018-10-11 12:01] mahmoud-hussien1 commented on #202
@ahmedelbougha PR - https://bitbucket.org/camelcasetech/skillsbuilderpro/pull-requests/84/issue-202-evaluation-template-saving-error/diff

[2018-10-11 12:02] mahmoud-hussien1 commented on #202
@HeshamHassan will fixed soon En Shaa Allah.

[2018-10-14 06:54] HeshamHassan commented on #172
**@ahmedelbougha**
_Student Form_:
![image](https://user-images.githubusercontent.com/11155105/46913519-2609fc00-cf97-11e8-975e-48365ab112cf.png)

[2018-10-14 07:00] HeshamHassan commented on #172
**@ahmedelbougha**
_Instructor Form_:
![image](https://user-images.githubusercontent.com/11155105/46913556-01faea80-cf98-11e8-86e9-db1ecda9f0b8.png)

[2018-10-14 07:07] HeshamHassan commented on #172
**@ahmedelbougha**
_New Organization’s Admin_:
![image](https://user-images.githubusercontent.com/11155105/46913589-e9d79b00-cf98-11e8-8b24-264abd18500c.png)

[2018-10-14 07:18] HeshamHassan commented on #172
**@ahmedelbougha**
_New Organization Form_:
![image](https://user-images.githubusercontent.com/11155105/46913661-5a32ec00-cf9a-11e8-8ec9-b19bfb35c768.png)

[2018-10-14 08:06] ahmedelbougha commented on #207
@Ali-Galal
This is a new feature, is it a priority for you?

[2018-10-14 08:06] ahmedelbougha commented on #206
@LamiaSalah
What happens if you upload them?

[2018-10-14 08:17] LamiaSalah commented on #206
I can't, this is something I don't have access to, it has to be fixed from your side

[2018-10-14 08:18] Ali-Galal commented on #207
@ahmedelbougha no it is not

[2018-10-16 10:24] LamiaSalah commented on #192
Confirmed

[2018-10-16 10:24] #192 closed, assigned to ahmedelbougha, Ali-Galal, LamiaSalah

[2018-10-16 11:02] HeshamHassan opened #208 "SBP Email Credential"
**@ahmedelbougha**
- Email : info@skillsbuilderpro.com
- SMTP: info@skillsbuilderpro.com

The Password is on your email.

[2018-10-16 13:43] mahmoud-hussien1 commented on #205
@LamiaSalah fixed.

[2018-10-16 13:45] LamiaSalah commented on #205
confirmed

[2018-10-16 13:45] #205 closed, assigned to ahmedelbougha, Ali-Galal

[2018-10-18 10:00] ahmedelbougha commented on #202
@HeshamHassan
Fixed

[2018-10-18 10:00] ahmedelbougha commented on #181
@HeshamHassan
Fixed

[2018-10-18 10:02] ahmedelbougha commented on #183
@Ali-Galal
What is your point?

[2018-10-18 10:04] ahmedelbougha commented on #194
Fixed, please check and close.

[2018-10-18 11:20] mahmoud-hussien1 commented on #206
@LamiaSalah
width: 293px.
height: 370px.

[2018-10-18 11:36] LamiaSalah commented on #206
Thanks

[2018-10-18 11:36] #206 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-10-18 11:54] HeshamHassan commented on #194
Done.

[2018-10-18 11:54] #194 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-10-18 11:57] HeshamHassan commented on #181
All points are done.

[2018-10-18 11:57] #181 closed, assigned to ahmedelbougha, Ali-Galal

[2018-10-18 12:09] HeshamHassan commented on #202
Done.

[2018-10-18 12:09] #202 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-10-21 10:07] HeshamHassan opened #209 "Training Manager Authorities"
Training manager must assign the trainer and the trainees/students to the course.

[2018-10-21 10:57] HeshamHassan commented on #172
**Trainer Form:**
The form cannot be submitted:
- [x] Resume is not accepted to be uploaded.
- [ ] Resume field needs a note explains the supported file types.
![image](https://user-images.githubusercontent.com/11155105/47265995-c6809300-d538-11e8-8f69-bcbeb4045082.png)

[2018-10-21 11:49] HeshamHassan commented on #172
**@ahmedelbougha**
Captcha keeps the previous values and shows them on mouse click. Kindly stop that for this field.
![image](https://user-images.githubusercontent.com/11155105/47266493-1e6ec800-d540-11e8-891b-94549d1f5384.png)

[2018-10-29 10:29] HeshamHassan commented on #172
Student Form is done.

[2018-10-29 10:29] HeshamHassan commented on #172
Instructor Form is done.

[2018-10-29 10:31] HeshamHassan commented on #172
TM Form is done.

[2018-10-29 11:55] HeshamHassan commented on #172
Organization Form is done.

[2018-10-29 11:56] #172 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-10-29 12:26] HeshamHassan opened #210 "Forms Issues"
- [x] Captcha keeps the previous values.

Captcha keeps the previous values and shows them on mouse click. That issue appears in all forms. Kindly stop that for this field.
![image](https://user-images.githubusercontent.com/11155105/47649600-d595bf80-db8e-11e8-8059-2257d6ed5ff7.png)

- [ ] City fields must be DDM.

The city fields in all forms must be DDM not a free text box.
![image](https://user

[2018-10-29 13:38] HeshamHassan commented on #201
Done

[2018-10-29 13:38] #201 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-10-29 13:56] HeshamHassan opened #211 "ATP Activation by Admin"
As an admin role... I'm trying to approve the new ATP. But I couldn't!
- [ ] How to activate some inactive ATP?

![image](https://user-images.githubusercontent.com/11155105/47654245-70949680-db9b-11e8-8237-176640c1b5f6.png)

[2018-10-29 14:01] HeshamHassan commented on #183
**@ahmedelbougha**
I clicked on _Apply Now_ and redirected to the TM profile. but I couldn't edit.

Kindly help.

[2018-11-04 11:51] mahmoud-hussien1 commented on #211
@HeshamHassan
edit organization and check **status** checkbox.

[2018-11-05 09:32] mahmoud-hussien1 commented on #210
@HeshamHassan
please, tell me the maximum size that you want to the files.

[2018-11-06 06:31] HeshamHassan commented on #210
**@mahmoud-hussien1**
I didn't get what you ask for?

[2018-11-06 08:16] HeshamHassan opened #212 "Pre and Post Assessments"
As the Pre&Post Assessments has been published, Kindly guide how to access, handle and activate.

[2018-11-06 14:16] mahmoud-hussien1 commented on #210
@HeshamHassan  i mean what is the maximum size that you want me to assign for uploading files? or make it as the maximum size that server accept.

[2018-11-07 07:22] HeshamHassan commented on #210
**@mahmoud-hussien1**
What is the maximum size that the database can accept from the user when he uploads it?
Just write down it as info for the user.
Also, mention the file types that user can upload.

[2018-11-08 08:58] HeshamHassan commented on #212
**@ahmedelbougha**
Now,  I can see the course assessment and I created 1 pre assessment and 1 post assessment.
- [x] How can I run the pre assessment
- [x] How can I run the post assessment

_Note: I careated them to course: "MANAGING PROJECTS: FIRST STEPS FIRST"_

[2018-11-08 09:12] HeshamHassan opened #213 "SBP Arabic Version"
I want to test the Arabic version of the portal.
So, I need your guidance; how to access the Arabic interface.

[2018-11-08 12:43] mahmoud-hussien1 commented on #191
@HeshamHassan @Ali-Galal Can organization cancel assigning **resource** to user after assigning it?

[2018-11-08 13:04] HeshamHassan commented on #191
**@mahmoud-hussien1**
The organization cannot cancel assigning the resources at all.
But Admin(super admin) must be able to do that.

[2018-11-08 13:12] mahmoud-hussien1 commented on #191
@HeshamHassan So, Training Manager can only assign resource but Admin(Super Admin) can assign and cancel resource. resource can be assign to any user/role in this organization.
please confirm that (i want to understand all roles and it's privilege belong to this issue).

[2018-11-08 13:23] HeshamHassan commented on #191
**@mahmoud-hussien1**
- [ ] TM can assign trainer resources any Trainer.
- [ ] TM can assign student resources any student.
- [ ] Add this privilege as a checkbox to the Role page to get flexibility in assigning this privilege.

[2018-11-08 17:24] mahmoud-hussien1 commented on #191
@HeshamHassan what if admin cancel resource assign? Can TM assign this resource unit to other one or not?
for  example,
TM perchused 5 units. then assign one to student. so he has 4 units to assign.
Admin cancel this assign. what is the number of resources to assign in this case? will be 5 again or still 4.

[2018-11-11 06:51] HeshamHassan commented on #191
**@mahmoud-hussien1**
If admin cancels the resource, he will have one of to actions:
* Cancel it permanently (TC will have 4 of 5)
* Reassign it again to the TM ( TC will have 5 of 5 again)
The decision in Admin's hands.

[2018-11-13 06:53] HeshamHassan commented on #213
**@ahmedelbougha**
Any update?

[2018-11-13 06:54] Ali-Galal commented on #213
@ahmedelbougha high priority please

[2018-11-13 06:54] HeshamHassan commented on #212
**@ahmedelbougha**
Any update?

[2018-11-13 06:54] Ali-Galal commented on #212
@ahmedelbougha high priority please

[2018-11-13 06:55] HeshamHassan commented on #211
Done

[2018-11-13 06:55] #211 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-11-13 06:56] HeshamHassan commented on #210
**@ahmedelbougha**
Any update?

[2018-11-13 06:56] HeshamHassan commented on #209
**@ahmedelbougha**
Any update?

[2018-11-13 06:57] HeshamHassan commented on #207
**@ahmedelbougha**
Any update?

[2018-11-13 07:06] HeshamHassan commented on #191
Any update?

[2018-11-13 07:54] HeshamHassan opened #214 "User Menu: Purchasing History"
- [ ] We need a page that lists all purchased courses' materials for each user.
- [ ] That page can be accessed using a submenu of the user menu.
- [ ] The user can click on each course to run its Flipping book.

[2018-11-13 08:09] HeshamHassan opened #215 "Training Manager Registration Form Issue"
The registration is on 2 stages if I have any incorrect data the registration transfer me to the next page and after I finish it redirects me to the incorrect data in the previous page.

[2018-11-14 07:02] Ali-Galal commented on #212
@ahmedelbougha any update?

[2018-11-14 07:02] Ali-Galal commented on #213
@ahmedelbougha Any Update?

[2018-11-14 08:38] HeshamHassan opened #216 "My Profile Issue"
When a user accesses his profile, he will find a picture placeholder at the top left of the page.
![image](https://user-images.githubusercontent.com/11155105/48469169-1f251200-e7ff-11e8-8b6c-4c65c635114b.png)

- [x] Activate the picture insertion in all forms.
- [x] If the user did not add his picture, make an avatar as default.
![image](https://user-images.githubusercontent.com/11155105/48470047-

[2018-11-14 08:44] HeshamHassan commented on #183
**@ahmedelbougha**
Any update?

[2018-11-14 08:47] HeshamHassan commented on #174
**@ahmedelbougha**
Any update?

(( related to #213 ))

[2018-11-14 09:44] HeshamHassan opened #217 "User Private Training Issue"
When some user tries to reserve a private training session, the reservation page - preferred date field is caching.
![image](https://user-images.githubusercontent.com/11155105/48472825-27ce1600-e808-11e8-85fc-82a46aaee416.png)

- [x] Remove caching from the "Preferred Date" field.

[2018-11-14 09:48] HeshamHassan opened #218 "User Public Training Issue"
When some user tries to reserve a public training session, the courses page has expired courses.
Also I can register in that expired courses.
![image](https://user-images.githubusercontent.com/11155105/48474717-2f8fb980-e80c-11e8-9217-b2a9b57c5ed5.png)

- [x] Stop registring on any expired course.
- [x] Remove expired courses from the reservation page.

[2018-11-15 09:54] HeshamHassan commented on #212
1- URL for start an assessment: http://skillsbuilderpro.com/courses/exam/5
- [x] The URL works only with Admin. Other roles give "Access denied"
- [x] User must have a link or a button to start the pre-assessment with every single course.
- [x] User must have a link or a button to start the post-assessment with only his purchased course.
- [x] The page contains only the word "EXAM" ![image](https:

[2018-11-19 06:08] HeshamHassan commented on #213
**@ahmedelbougha**
Update me Pls.

[2018-11-19 06:09] #213 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-11-19 06:10] HeshamHassan commented on #218
**@ahmedelbougha**
Update me Pls.

[2018-11-19 06:11] HeshamHassan commented on #217
**@ahmedelbougha**
Update me Pls.

[2018-11-19 06:11] HeshamHassan commented on #216
**@ahmedelbougha**
Update me Pls.

[2018-11-19 06:25] HeshamHassan commented on #215
- [ ] The next button must not move me to the next tab if there is a missing data.
- [ ] The previous button must not move me to the previous tab if there is a missing data.

[2018-11-19 06:27] HeshamHassan commented on #214
**@ahmedelbougha**
Update me Pls.

[2018-11-19 06:29] HeshamHassan commented on #212
**@ahmedelbougha**
Update me Pls.

[2018-11-19 06:30] HeshamHassan commented on #210
**@ahmedelbougha**
Update me Pls.

[2018-11-19 06:31] HeshamHassan commented on #209
**@ahmedelbougha**
Update me Pls.

[2018-11-19 06:32] HeshamHassan commented on #208
**@ahmedelbougha**
Update me Pls.

[2018-11-19 06:33] HeshamHassan commented on #207
**@ahmedelbougha**
Update me Pls.

[2018-11-19 06:35] HeshamHassan commented on #203
**@ahmedelbougha**
Update me Pls.

[2018-11-19 06:42] HeshamHassan commented on #200
**@ahmedelbougha**
Update me Pls.

[2018-11-19 06:44] HeshamHassan commented on #191
**@ahmedelbougha**
**@mahmoud-hussien1**
Update me Pls.

[2018-11-19 07:00] HeshamHassan commented on #174
**@ahmedelbougha**

The above process -you sent- is not the current one to add the arabic recourses.
Kindly update me with the right process.

[2018-11-19 07:50] HeshamHassan commented on #212
**@ahmedelbougha**
The user (Student) can see the assessments now as a new tap under each course resourses.
But he cannot access them.
![image](https://user-images.githubusercontent.com/11155105/48692470-3a20c900-ebe7-11e8-99ee-61cf7b0e1ec2.png)

[2018-11-19 14:37] HeshamHassan opened #219 "Social Media Sharing Issue"
The social media buttons act like that:
* Twitter button opens SBP account @ twitter.
* LinkedIn button opens SBP account @ LinkedIn.
* Facebook button opens SBP account @ Facebook.
![image](https://user-images.githubusercontent.com/11155105/48713086-80464e80-ec20-11e8-9678-0bad9a1b5d9d.png)

It must act like that:
- [x] Twitter button share the concerned course @ twitter.
- [x] LinkedIn button sh

[2018-11-27 07:40] HeshamHassan commented on #219
Any update?

[2018-11-27 07:42] HeshamHassan commented on #218
Any update?

[2018-11-27 07:42] HeshamHassan commented on #217
Any update?

[2018-11-27 07:42] HeshamHassan commented on #216
Any update?

[2018-11-27 07:43] HeshamHassan commented on #215
Any update?

[2018-11-27 07:43] HeshamHassan commented on #214
Any update?

[2018-11-27 09:15] HeshamHassan commented on #212
Any update?

[2018-11-27 09:17] HeshamHassan commented on #210
Any update?

[2018-11-27 09:18] HeshamHassan commented on #209
Any update?

[2018-11-27 09:23] HeshamHassan commented on #207
Any update?

[2018-11-27 09:25] HeshamHassan commented on #203
Any update?

[2018-11-27 09:26] HeshamHassan commented on #200
Any update?

[2018-11-27 09:27] HeshamHassan commented on #191
Any update?

[2018-11-27 09:28] HeshamHassan commented on #190
Any update?

[2018-11-27 09:31] HeshamHassan commented on #183
Any update?

[2018-11-27 09:50] HeshamHassan commented on #174
Any update?

[2018-11-27 11:10] HeshamHassan opened #220 "Edit/Modify Old Users' Profiles"
I cannot edit or modify any user profile.
Whatever the user's role, edit profile page appears with one-page form without tabs (Old form view)
Also, the forme labeled: "New User"
![image](https://user-images.githubusercontent.com/11155105/49078020-eef16080-f24d-11e8-8122-93974cd2e8fc.png)

[2018-11-28 07:56] LamiaSalah opened #221 "Press Pages"
@ahmedelbougha Please

- [x] make the summary in the press release optional

 and

- [x] photo in the press release optional

 in the press pages insert form.

@ahmedelbougha

- [x] how can I access the press release's pages?

[2018-11-28 11:48] LamiaSalah commented on #215
@ahmedelbougha please also find below some areas that need modifications:

- [ ] The address fields are incomplete | Add State in front of the   field after US, which is where the state will be; Add a City Field and a Zip   code field after Address 1 and Address 2
- [ ] Areas of expertise only allow for one selection. Many trainers will have more than one area of   expertise, please make this a ch

[2018-11-28 11:51] LamiaSalah commented on #204
@ahmedelbougha please note that there are some courses that have the text broken and not complete in the preview display like marketing in the digital world.

[2018-11-28 11:54] LamiaSalah commented on #174
@HeshamHassan  this has been finished. Will close the issue

[2018-11-28 11:54] #174 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-11-28 13:37] LamiaSalah opened #222 "Arabic Format"
The layout of the Arabic pages in the Learning objectives section is not correct, the title appears next to the added text instead of being at the top.

And the spaces are not fixed at the bottom

![image](https://user-images.githubusercontent.com/37042927/49155397-82489580-f323-11e8-98c7-4ced79d76e3f.png)

Also, the order of the text in the course days need to be fixed

![image](https://user-imag

[2018-11-28 13:39] LamiaSalah opened #223 "Arabic Commands"
The tabs at the right of the course are missing in Arabic for Assessments and Resources
![image](https://user-images.githubusercontent.com/37042927/49155515-cf2c6c00-f323-11e8-95b6-f11fc2909f6b.png)

[2018-11-28 13:44] LamiaSalah commented on #212
@ahmedelbougha
- [ ] please note that also the English content does not appear only showing the Arabic ones as attached

![image](https://user-images.githubusercontent.com/37042927/49155801-84f7ba80-f324-11e8-90b7-bda8a80c7989.png)

[2018-11-29 09:24] LamiaSalah opened #224 "Arabic Pages' Link"
We need to have the Arabic section as www.skillsbuilderpro.com/ar, currently, this is not available now, when I change the language to Arabic it' the same link www.skillsbuilderpro.com

[2018-12-02 08:10] Ali-Galal commented on #191
@ahmedelbougha 19 days asking for update with no reply, kindly explain why?

[2018-12-02 08:33] ahmedelbougha commented on #224
@LamiaSalah
Do you need to change the language using switching button or to have it under different path/domain?

[2018-12-02 08:34] ahmedelbougha commented on #223
@mahmoud-hussien1
Please check and fix

[2018-12-02 08:35] ahmedelbougha commented on #222
@LamiaSalah
let's discuss this in our phone call today En Shaa Allah.

[2018-12-02 08:39] LamiaSalah commented on #224
@ahmedelbougha  I'm not sure how this is technically applied. I just need the link to be  www.skillsbuilderpro.com/ar when I switch the language button to Arabic.

[2018-12-02 08:40] LamiaSalah commented on #222
@ahmedelbougha
OK

[2018-12-02 08:58] Ali-Galal commented on #224
@LamiaSalah this will be very hard as you will put two paths for each page in the CMS. please hold on it in meantime till we discuss it.

[2018-12-02 13:42] HeshamHassan opened #225 "Building an Online Business - Purchasing Trainer Guide Issue"
- I logged on as a trainer.
- I went to the learning path: Small Business Builder
- I clicked on the course: Building an Online Business
- I chose the resources and clicked to purchase the trainer guide.
- The following message appeared:
![image](https://user-images.githubusercontent.com/11155105/49340460-2d718b80-f651-11e8-8440-27a6a6d56416.png)

- [x] Kindly check and solve.

[2018-12-03 14:58] LamiaSalah commented on #221
@ahmedelbougha we need this issue to be handled at the soonest please, let's discuss tomorrow urgently.

[2018-12-04 05:50] Ali-Galal commented on #221
@ahmedelbougha I need your immediate attention to this issue
how can I access the press release's pages?

[2018-12-04 06:30] ahmedelbougha commented on #221
@Ali-Galal
This is the page in frontend, obviously it needs theming to match SkillsBuilder frontend design.
http://skillsbuilderpro.com/cms/press-release

[2018-12-04 06:38] Ali-Galal commented on #221
@ahmedelbougha So?

[2018-12-04 06:38] ahmedelbougha commented on #221
@Ali-Galal
So, we will do it ya Ali En Shaa Allah :)

[2018-12-04 08:05] LamiaSalah commented on #221
@ahmedelbougha could you please advise when it'll be finished?

[2018-12-04 11:37] mohamedMahdyCc commented on #212
@HeshamHassan access denied issue resolved!

[2018-12-04 11:46] HeshamHassan commented on #212
Thanks Mohamed. My issues have done.
the rest is one point from @LamiaSalah : the question contents.
Welcome to the team.

[2018-12-04 11:46] mohamedMahdyCc commented on #212
@LamiaSalah working on this nchallah