[2018-12-04 12:09] mohamedMahdyCc commented on #212
Thanks @HeshamHassan  ^^ , yes working on the question contents issue

[2018-12-04 12:52] mohamedMahdyCc commented on #221
@LamiaSalah tomorrow nchallah,

[2018-12-05 13:57] mohamedMahdyCc commented on #221
@LamiaSalah @ahmedelbougha
Done! and merged it should be on the live version today nchallah

[2018-12-05 13:58] mohamedMahdyCc commented on #212
@LamiaSalah @HeshamHassan @ahmedelbougha
Done! and merged it should be on the live server today nchallah

[2018-12-06 10:48] LamiaSalah commented on #221
@mohamedMahdyCc what about this page http://skillsbuilderpro.com/cms/press-release the main Press realeases one and its theme?

[2018-12-06 14:04] mohamedMahdyCc commented on #221
@LamiaSalah @ahmedelbougha
its done and live now on new url http://skillsbuilderpro.com/press-release , also i added `unsubscribe` button instead of empty area just wait to merge and push live

[2018-12-06 14:09] mohamedMahdyCc commented on #212
@LamiaSalah @HeshamHassan @ahmedelbougha

please check and close this issue if done!, it's important to close the done issues please to avoid confusing please and focus on remaining issues ^^

[2018-12-06 14:26] HeshamHassan opened #226 "Arabic Pre-Assessment Editing Issue"
When we type/insert a big amount of Arabic letters in the question body field, and click on submit, the Arabic contents disappear and when refreshing the page, the whole question disappears.

Ex.: Q3 in the course: SMART STRATEGIES FOR GOING GLOBAL
![image](https://user-images.githubusercontent.com/11155105/49590032-e4387900-f97b-11e8-8ac8-5c7c0a60e719.png)

[2018-12-09 07:53] LamiaSalah commented on #221
@mohamedMahdyCc thank you. This main page does need to be the same as the regular press release page. As discussed it needs to include the links to the press releases that will be created. It needs to be created as a press release, not a Page. This is urgent

[2018-12-09 07:59] LamiaSalah commented on #212
@confirmed

[2018-12-09 07:59] #212 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-12-09 08:57] LamiaSalah opened #227 "Learning Paths for Arabic Courses"
@ahmedelbougha as discussed, the Learning Paths in the Arabic Courses page, appears in English as attached

![image](https://user-images.githubusercontent.com/37042927/49695266-40301700-fba1-11e8-9522-04d400b346a1.png)

[2018-12-09 10:12] mohamedMahdyCc commented on #221
@LamiaSalah
The press releases page is different than the regular pages, http://skillsbuilderpro.com/press-release is supposed to contain a list of any content page that you create it as press release.
To create new press release you need to go to admin -> CMS -> Pages, click `Create new Page` button, then change the `Type` of that page to be `Press Release`

[2018-12-09 10:47] LamiaSalah commented on #221
@mohamedMahdyCc so any page created under Press release category will be shown in this page?

[2018-12-09 11:18] mohamedMahdyCc commented on #221
![ae5a8d10-181b-4baf-a673-2dda6564654b](https://user-images.githubusercontent.com/40764593/49696598-c4d86080-fbb4-11e8-8ceb-fdc258e23daa.jpeg)
yes but to confirm please check attachment , press release just page type not category

[2018-12-09 11:24] mohamedMahdyCc commented on #221
@LamiaSalah please confirm and close

[2018-12-09 11:53] LamiaSalah commented on #221
Confirmed

[2018-12-09 11:58] LamiaSalah opened #228 "Addresses"
@mohamedMahdyCc Please change the addresses on the Contact Us page for Egypt and USA to the following:

Egypt
9471 Hoda Sharawy St. South (S).
Almokattam, Cairo
Telephone:  +2 (02) 28408480

USA
1200 G Street, NW,
Suite 800
Washington, District of Columbia 20005
Telephone: +(1) 202-661-2178

[2018-12-10 08:18] LamiaSalah commented on #221
@mohamedMahdyCc The fields of the photos and summary were supposed NOT to be mandatory, however, on creating a new release, the system still refuses to save unless they are added!

[2018-12-11 10:13] HeshamHassan commented on #226
Any update?

[2018-12-11 10:14] HeshamHassan commented on #225
Any update?

[2018-12-11 10:14] HeshamHassan commented on #223
Any update?

[2018-12-11 10:17] HeshamHassan commented on #220
Any update?
It is an important issue.

[2018-12-11 10:17] HeshamHassan commented on #219
Any update?

[2018-12-11 10:18] HeshamHassan commented on #218
Any update?

[2018-12-11 10:20] HeshamHassan commented on #216
Any update?

[2018-12-11 10:21] HeshamHassan commented on #215
Any update?

[2018-12-11 10:22] mohamedMahdyCc commented on #227
@LamiaSalah @ahmedelbougha Done please confirm and close
http://skillsbuilderpro.com/courses

[2018-12-11 10:24] HeshamHassan commented on #214
Any update?

[2018-12-11 10:25] HeshamHassan commented on #210
Any update?

[2018-12-11 10:26] HeshamHassan commented on #209
Any update?

[2018-12-11 10:26] HeshamHassan commented on #208
Any update?

[2018-12-11 10:27] HeshamHassan commented on #207
Any update?

[2018-12-11 10:28] HeshamHassan commented on #203
Any update?

[2018-12-11 10:29] HeshamHassan commented on #191
Any update?

[2018-12-11 10:30] HeshamHassan commented on #190
Any update?

[2018-12-11 10:30] HeshamHassan commented on #188
Any update?

[2018-12-11 10:35] LamiaSalah commented on #227
@mohamedMahdyCc confirmed

[2018-12-11 10:35] #227 closed, assigned to HeshamHassan, Ali-Galal, mohamedMahdyCc

[2018-12-11 11:07] mohamedMahdyCc commented on #221
@LamiaSalah @ahmedelbougha its done now please confirm and close
http://skillsbuilderpro.com/press-release

[2018-12-11 11:17] LamiaSalah commented on #221
@mohamedMahdyCc  the issue is fixed, but after posting the release, there's a place for the image still available in the live page. Please check  this

![image](https://user-images.githubusercontent.com/37042927/49797094-1ca6d100-fd47-11e8-8dd2-8ea80b8a33a3.png)

[2018-12-11 11:19] LamiaSalah commented on #221
Please change the URL to be Press Room rather than Press Release

[2018-12-11 11:51] mohamedMahdyCc commented on #226
@HeshamHassan @ahmedelbougha fixed its live now please confirm and close
http://skillsbuilderpro.com/courses/assessment/questions/33

[2018-12-11 11:54] mohamedMahdyCc commented on #221
@LamiaSalah thanks for info working on this

[2018-12-11 13:55] mohamedMahdyCc commented on #221
@LamiaSalah Done pelase confirm and close
http://skillsbuilderpro.com/press-rooms

[2018-12-11 14:02] LamiaSalah commented on #221
@mohamedMahdyCc  thank you, the image issue has been fixed, however:

- on clicking the press room from the menu either in English or Arabic, an error occurs and page doesn't show
![image](https://user-images.githubusercontent.com/37042927/49805466-da3cbe80-fd5d-11e8-9752-c71f990fb4dd.png)

- Also, the alignment of title تصريحات صحفية and text need to be right in Arabic
- The text at the bottom re

[2018-12-11 14:22] mohamedMahdyCc commented on #221
thanks @LamiaSalah for info i checked the menu urls from here: http://skillsbuilderpro.com/cms/menuitem?title=&directUrl=press-rooms&type=&menu=&status=&filter=%D8%AA%D8%B5%D9%81%D9%8A%D8%A9,
and updated the urls to press-rooms please check now

[2018-12-11 14:25] LamiaSalah commented on #221
Thanks, could you please remove the flowers photo in the main press page and the press release page

[2018-12-11 14:33] mohamedMahdyCc commented on #221
@LamiaSalah Done!

[2018-12-11 14:47] LamiaSalah commented on #221
Thanks, Just the Arabic allignment issue is left

[2018-12-11 15:09] mohamedMahdyCc commented on #221
@LamiaSalah ok working on this

[2018-12-12 08:22] LamiaSalah commented on #228
@mohamedMahdyCc  can we have this amended today urgently, please?

[2018-12-12 08:30] HeshamHassan commented on #221
**@mohamedMahdyCc**
- [x] How to add a new post or an essay to the press room page?

[2018-12-12 12:52] mohamedMahdyCc commented on #221
@LamiaSalah
press rooms style fixed now please check
http://skillsbuilderpro.com/press-rooms

[2018-12-12 15:28] mohamedMahdyCc commented on #221
@HeshamHassan @LamiaSalah
![49696598-c4d86080-fbb4-11e8-8ceb-fdc258e23daa](https://user-images.githubusercontent.com/40764593/49879702-3ae9fb00-fe33-11e8-8f46-350cf8e42bc5.jpeg)
basically from any page just change the page type to `press release`

please confirm and close this issue

[2018-12-13 11:35] HeshamHassan commented on #221
Form my side, it's ok. Done.
**@LamiaSalah** : Please check if you have something in this issues.

[2018-12-13 13:05] mohamedMahdyCc commented on #217
@HeshamHassan sorry hisham for late reply, will check today and reply you ASAP nchallah

[2018-12-13 15:18] mohamedMahdyCc commented on #217
@HeshamHassan done , please confirm and close

http://skillsbuilderpro.com/quote/training/private/23

[2018-12-13 15:22] mohamedMahdyCc commented on #221
@LamiaSalah @HeshamHassan @ahmedelbougha
I think all is done now please confirm and close

[2018-12-13 15:24] mohamedMahdyCc commented on #216
@HeshamHassan very sorry for late reply , working on this

[2018-12-13 15:38] mohamedMahdyCc commented on #216
If the user did not add his picture, make an avatar as default. `please what you mean by this one`

[2018-12-13 16:17] mohamedMahdyCc commented on #224
@LamiaSalah @Ali-Galal @ahmedelbougha
please confirm and close till you take a decision regarding to this issue

[2018-12-13 16:18] mohamedMahdyCc commented on #228
@LamiaSalah ok working on this , sorry for late reply

[2018-12-13 17:29] mohamedMahdyCc commented on #216
@HeshamHassan @ahmedelbougha

Done! , please confirm and close

[2018-12-13 17:32] mohamedMahdyCc commented on #228
@LamiaSalah @ahmedelbougha

Done! please confirm and close

[2018-12-13 17:34] mohamedMahdyCc commented on #188
@HeshamHassan @ahmedelbougha
i prepare to start with them next week nchallah

[2018-12-16 08:31] HeshamHassan commented on #217
Done.

[2018-12-16 08:31] #217 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, mohamedMahdyCc

[2018-12-16 09:24] LamiaSalah commented on #228
@mohmedMahdyCc please make telephone numbers all in one line

[2018-12-16 09:24] LamiaSalah commented on #224
@mohamedMahdyCc please send to Aly the cost for this function so we can decide.

[2018-12-16 09:40] mohamedMahdyCc commented on #224
ok @LamiaSalah  will check and reply you ASAP

[2018-12-16 09:47] LamiaSalah opened #229 "Pages unsaved"

[2018-12-16 09:47] LamiaSalah opened #230 "Pages unsaved"
@mohamedMahdyCc the Pages still unsaved. Trying to edit the Courses page again but changes are not saved. This is urgent, please

[2018-12-16 09:51] mohamedMahdyCc commented on #230
@LamiaSalah ok will check ...

[2018-12-16 09:56] mohamedMahdyCc commented on #230
@LamiaSalah it working fine with me can you send more details please , what you try to edit ? which page ? link please

[2018-12-16 10:02] mohamedMahdyCc commented on #230
@LamiaSalah please send link for this page to check  ?

[2018-12-16 10:11] mohamedMahdyCc commented on #228
Done! please confirm and close
@LamiaSalah

[2018-12-16 10:12] LamiaSalah commented on #230
@mohamedMahdyCc http://skillsbuilderpro.com/Training/Courses/

[2018-12-16 10:14] LamiaSalah commented on #230
@mohamedMahdyCc  Could you please also remove the one line gaps in all the addresses?

[2018-12-16 12:37] mohamedMahdyCc commented on #230
@LamiaSalah i just check this feature now and it working fine with me , can you please send more details about the issue, what you try to update in `courses` page ?

[2018-12-16 13:40] mohamedMahdyCc commented on #228
@LamiaSalah @ahmedelbougha
gaps removed
Done! please confirm and close
http://skillsbuilderpro.com/contact-us

[2018-12-16 13:48] LamiaSalah commented on #221
@mohamedMahdyCc  it is still Press Room**s,** it should be Press Room
also, the Arabic should be غرفة الصحافة

[2018-12-16 13:52] mohamedMahdyCc commented on #221
@LamiaSalah ok working on this ...

[2018-12-16 13:56] LamiaSalah commented on #230
@mohamedMahdyCc confirmed it's working now

[2018-12-16 13:56] #230 closed, assigned to nobody

[2018-12-16 14:01] LamiaSalah commented on #228
@mohamedMahdyCc confirmed

[2018-12-16 16:03] mohamedMahdyCc commented on #229
@LamiaSalah @ahmedelbougha
i think this working fine please close

[2018-12-16 16:05] mohamedMahdyCc commented on #221
@LamiaSalah @ahmedelbougha
Done! please confirm and close

http://skillsbuilderpro.com/press-room

[2018-12-17 06:58] HeshamHassan commented on #216
Not yet.
![image](https://user-images.githubusercontent.com/11155105/50071266-354d3600-01e2-11e9-9c70-cfe9988ade44.png)

Also:
- [x] How can I add/remove this picture?

[2018-12-17 06:59] LamiaSalah commented on #221
@mohamedMahdyCc the page title is fixed, while the menu name in the drop down menu is still Press Rooms, also the link need gives error from the menu. I'm not sure why this is taking so long to be fixed!

[2018-12-17 07:50] #229 closed, assigned to nobody

[2018-12-17 10:03] HeshamHassan opened #231 "Theme Act"
**In all pages:**
- [x] Fix the jump that happened to the header when scrolling down and up.
- [x] Remove the white space under the header.

[2018-12-17 10:05] HeshamHassan commented on #220
Any update?

[2018-12-17 11:40] mohamedMahdyCc commented on #220
@HeshamHassan @Ali-Galal working to fix this

[2018-12-17 13:50] HeshamHassan opened #232 "Arabic Courses in Resources List"
I uploaded Arabic resources (Trainer and Student) but I cannot find the Arabic resources on the list. I need to check to download it.
Also, when I change the interface language to Arabic and try to download the Arabic materials, I find the English materials instead.

![image](https://user-images.githubusercontent.com/11155105/50090939-fa1b2900-021a-11e9-960d-3839fe5c1a3e.png)

![image](https://use

[2018-12-17 14:49] mohamedMahdyCc commented on #223
@ahmedelbougha @HeshamHassan Done! please confirm and close

[2018-12-17 14:53] mohamedMahdyCc commented on #220
@HeshamHassan @Ali-Galal @ahmedelbougha Done! please confirm and close

[2018-12-17 14:55] mohamedMahdyCc commented on #231
@HeshamHassan , can you please descripe more info about the issue you mean in all cms/pages , or on all website pages ?

[2018-12-17 17:58] mohamedMahdyCc commented on #231
@HeshamHassan Remove the white space under the header. Done!

[2018-12-17 18:02] mohamedMahdyCc commented on #226
@HeshamHassan @ahmedelbougha fixed its live now please confirm and close

[2018-12-17 18:03] mohamedMahdyCc commented on #232
@HeshamHassan ok will check and reply ASAP

[2018-12-17 18:09] mohamedMahdyCc commented on #225
@HeshamHassan ok will check and reply you tomorrow nchallah

[2018-12-18 07:15] HeshamHassan commented on #231
**@mohamedMahdyCc**
All website pages

[2018-12-18 07:41] HeshamHassan opened #233 "Upload files Issue"
When asking for uploading a file (Ex. Bio) the system uploads the file first then checks for the type if compatible or not.
- [x] System must check for the file type first. If it is compatible then proceed to upload, else give a popup message.

[2018-12-18 08:09] HeshamHassan commented on #220
Admin profile OK

[2018-12-18 08:21] HeshamHassan commented on #220
Other profiles OK

[2018-12-18 08:21] #220 closed, assigned to nobody

[2018-12-18 08:25] LamiaSalah commented on #223
@ahmedelbougha  @mohamedMahdyCc  the page format is still messy, no image, large spaces, Courses Assessments still in English

[2018-12-18 08:49] HeshamHassan commented on #226
@mohamedMahdyCc

The 3rd question is missing. the English part was entered successfully. When the Arabic part entered with the long text, the whole question disappeared.
Check this URL: http://skillsbuilderpro.com/courses/assessment/question/edit/33/265
Or this: http://skillsbuilderpro.com/courses/assessment/question/edit/33/266

[2018-12-18 08:54] LamiaSalah commented on #228
@mohamedMahdyCc please change the ggogle map for USA address to the same text address

[2018-12-18 10:01] mohamedMahdyCc commented on #233
@HeshamHassan @ahmedelbougha
ok working on this ...

[2018-12-18 10:15] HeshamHassan commented on #224
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 10:16] HeshamHassan commented on #222
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 10:32] HeshamHassan commented on #219
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 10:32] HeshamHassan commented on #218
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 10:51] HeshamHassan commented on #215
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 10:51] HeshamHassan commented on #214
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 10:51] HeshamHassan commented on #210
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 10:51] HeshamHassan commented on #209
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 10:51] HeshamHassan commented on #208
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 10:52] LamiaSalah opened #234 "Trainers' Registration form"
@ahmed
Please fix  the following in the Trainers' form:

- Make the default number a US number
- Add State in front of the field after US, which is where the state will be; Aa Zip code field after Address 1 and Address 2
- Add more spaces for Education

[2018-12-18 10:52] HeshamHassan commented on #207
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 10:53] HeshamHassan commented on #204
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 10:53] HeshamHassan commented on #203
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 10:53] HeshamHassan commented on #200
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 10:54] HeshamHassan commented on #191
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 10:55] HeshamHassan commented on #187
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 10:55] HeshamHassan commented on #183
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 10:56] HeshamHassan commented on #179
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 12:07] mohamedMahdyCc commented on #232
@HeshamHassan @ahmedelbougha
the resources list fetch all resources without consider the selected language with the query ,

[2018-12-18 12:50] HeshamHassan commented on #232
**@mohamedMahdyCc**
Right

[2018-12-18 14:19] Ahmed commented on #234
Me?

On Tue, Dec 18, 2018, 05:52 LamiaSalah <notifications@github.com wrote:

[2018-12-18 14:41] mohamedMahdyCc commented on #228
@LamiaSalah in progress

[2018-12-18 15:55] mohamedMahdyCc commented on #233
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
we just consider the file format here when click `choose file` the file explorer should show files with the needed format
Done! please confirm and close

[2018-12-18 16:13] mohamedMahdyCc commented on #231
@ahmedelbougha  @HeshamHassan
about the header jump when scroll down, this behavior normal and already exist with the  original theme `source code`, kindly you can download new version from it if you want and we can integrate

about page gabs Done! please confirm and close

[2018-12-18 16:21] mohamedMahdyCc commented on #221
@LamiaSalah @ahmedelbougha
we already done, i think you need to update the menu name from admin panel http://skillsbuilderpro.com/cms/menuitem , i updated it for you now

@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
please confirm and close

[2018-12-18 17:06] mohamedMahdyCc commented on #228
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-18 17:20] mohamedMahdyCc commented on #218
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-19 06:43] HeshamHassan commented on #231
- Remove the white space under the header : Done

[2018-12-19 06:44] HeshamHassan commented on #231
- Fix the jump that happened to the header when scrolling down and up.

**@Ali-Galal** : Kindly advice

[2018-12-19 06:46] HeshamHassan commented on #221
- [ ] The press room is nor present at the footer.

[2018-12-19 08:29] HeshamHassan commented on #226
**@mohamedMahdyCc**
You fixed the long Arabic text. Also, you made the text boxes expandable. That's a good thing. But, the text boxes are very big.
- [x] Let the text box be 1 line hight with the ability to expand.

[2018-12-19 10:23] mohamedMahdyCc commented on #232
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-19 10:53] LamiaSalah commented on #234
@ahmedelbougha

[2018-12-19 11:38] HeshamHassan commented on #233
Done

[2018-12-19 11:38] #233 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, mohamedMahdyCc

[2018-12-19 12:06] LamiaSalah commented on #221
@mohamedMahdyCc could you please add it in the footer?

[2018-12-19 17:37] mohamedMahdyCc opened #235 "SEO for pages categories courses"

[2018-12-19 17:37] mohamedMahdyCc commented on #235
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-20 10:25] HeshamHassan commented on #232
Done.

[2018-12-20 10:25] #232 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2018-12-20 11:54] mohamedMahdyCc commented on #223
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! we made many lot of updates with this issue, please check and let me know if some thing still messy or confirm and close

[2018-12-20 13:50] mohamedMahdyCc commented on #226
@HeshamHassan
Done! and will push live next sunday nchallah

[2018-12-20 13:56] mohamedMahdyCc commented on #234
@LamiaSalah ok will working on this next week nchallah

[2018-12-20 13:56] mohamedMahdyCc commented on #228
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-20 14:01] mohamedMahdyCc commented on #224
@LamiaSalah will send estimation next Sunday nchallah, sorry for lateness

[2018-12-20 14:14] mohamedMahdyCc commented on #222
@HeshamHassan
ok will working n this ASAP

[2018-12-20 14:19] mohamedMahdyCc commented on #221
@LamiaSalah @HeshamHassan @Ali-Galal  ok will working on this as Enhancement ok ?
if yes please close this issue and create new one with the label `Enhancement`

[2018-12-20 14:47] HeshamHassan opened #236 "Contact Us Page -Arabic Section"
Make "Contact Us" page a dynamic page.

[2018-12-20 14:48] mohamedMahdyCc commented on #219
@HeshamHassan please explain with more info what is the issue here ?

[2018-12-20 14:48] mohamedMahdyCc commented on #218
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-20 14:58] mohamedMahdyCc commented on #216
![image](https://user-images.githubusercontent.com/40764593/50291878-66469880-0478-11e9-8e1d-ff95d5c96d5f.png)

@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-20 15:00] mohamedMahdyCc commented on #215
@HeshamHassan ok will working on this

[2018-12-20 15:09] mohamedMahdyCc commented on #214
Ok @HeshamHassan , will working on this as new feature, please confirm ?

[2018-12-20 15:11] mohamedMahdyCc commented on #210
@HeshamHassan Apologize for the delay about this issue , will working on it Next week nchallah

[2018-12-20 15:17] mohamedMahdyCc commented on #209
ok @HeshamHassan will working on this as new feature please confirm ?

[2018-12-20 15:28] mohamedMahdyCc commented on #208
@HeshamHassan @ahmedelbougha
we need meeting for discussing this issue please

[2018-12-20 15:33] mohamedMahdyCc commented on #207
@HeshamHassan @Ali-Galal @ahmedelbougha @LamiaSalah
will include this as new feature please confirm ?

[2018-12-20 15:38] mohamedMahdyCc commented on #204
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-20 15:39] mohamedMahdyCc commented on #203
@HeshamHassan @Ali-Galal @ahmedelbougha @LamiaSalah
will include this as new feature please confirm ?

[2018-12-20 15:43] mohamedMahdyCc commented on #200
@HeshamHassan @Ali-Galal @ahmedelbougha @LamiaSalah
please send to me more details about this issue, what is the required here ?

[2018-12-20 15:47] mohamedMahdyCc commented on #191
@HeshamHassan @Ali-Galal @ahmedelbougha @LamiaSalah
will include this as new feature please confirm ?

[2018-12-20 15:50] mohamedMahdyCc commented on #190
@ahmedelbougha @HeshamHassan

very sorry Hesham for late reply, will discussing this with developers and reply you ASAP.

[2018-12-20 15:55] mohamedMahdyCc commented on #188
@HeshamHassan
please i need to split this **to do list** into separate issues to determine the new feature from the bug and enhancement

[2018-12-20 15:56] mohamedMahdyCc commented on #187
this one is done Pre and Post assessment for each course.
@HeshamHassan @Ali-Galal @ahmedelbougha @LamiaSalah
will include this `Ability to stop, pause and resume a purchased course for a particular user.` as new feature please confirm ?

[2018-12-20 16:03] mohamedMahdyCc commented on #183
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done edit profile button appear now! please confirm and close

[2018-12-20 16:03] mohamedMahdyCc commented on #179
@HeshamHassan @Ali-Galal @ahmedelbougha @LamiaSalah
will include this as new feature please confirm ?

[2018-12-20 16:04] #34 closed, assigned to badr4php

[2018-12-20 16:27] HeshamHassan commented on #183
Not yet !!!

This screenshot is recentle taken:
![image](https://user-images.githubusercontent.com/11155105/50297175-2fc74880-048d-11e9-9e20-af4af2f70aba.png)

[2018-12-20 16:30] HeshamHassan commented on #187
- [x] How to do that feature?

[2018-12-20 16:38] HeshamHassan commented on #191
@Ali-Galal
Kindly advice.

[2018-12-20 16:42] HeshamHassan commented on #200
This feature is present at the project scope. and till now it is not present at real.
Kindly, discuss its details with **@ahmedelbougha**

[2018-12-20 16:42] HeshamHassan commented on #203
**@Ali-Galal**
Kindly Advice.

[2018-12-20 16:45] HeshamHassan commented on #207
**@Ali-Galal**
Kindly advice.

[2018-12-20 16:46] HeshamHassan commented on #208
**@mohamedMahdyCc**
Any time as suite you.

[2018-12-20 16:49] HeshamHassan commented on #216
**@mohamedMahdyCc**
This feature "Picture: Browse" is not available to all registration forms.

[2018-12-20 16:50] HeshamHassan commented on #214
**@Ali-Galal**
Kindly advice.

[2018-12-20 16:51] HeshamHassan commented on #219
**@mohamedMahdyCc**
Let's discuss this issue in our next meeting.

[2018-12-20 16:55] HeshamHassan commented on #221
**@mohamedMahdyCc**
I think it is a fixing process of the footer.

**@Ali-Galal**
Kindly advice.

[2018-12-23 13:25] mohamedMahdyCc commented on #187
@HeshamHassan
ok will discuss this with the team and replying you ASAP nchallah

[2018-12-23 14:20] LamiaSalah commented on #223
@mohamedMahdyCc Yes it's been taking too long, yet there are still some issues with it! the order of the text in Arabic needs to be changed as I highlighted earlier.
1 الأيام   needs to be switched

also, the spaces and titles need some editing as attached

![image](https://user-images.githubusercontent.com/37042927/50384540-af902580-06ce-11e9-882f-4a048037137d.png)

[2018-12-23 14:25] mohamedMahdyCc commented on #183
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-24 08:12] LamiaSalah commented on #204
@mohamedMahdyCc issue ie resolved, but please note there are some courses that have on eor tow words only in the description, like Managing Anger and Coaching and Mentoring your team in Mangement PRo. Just add two or three lines please in full scentences.

[2018-12-24 09:21] LamiaSalah commented on #221
@mohamedMahdyCc This is relevant to the same issue about the footer, it's just an edit and not an enhancement.

[2018-12-24 10:25] mohamedMahdyCc commented on #234
@LamiaSalah @ahmedelbougha
Done! please confirm and close

[2018-12-24 10:28] mohamedMahdyCc commented on #226
@ahmedelbougha @HeshamHassan
Done! please confirm and close

[2018-12-24 10:33] mohamedMahdyCc commented on #223
@LamiaSalah @ahmedelbougha
please check it now and let me know if there are some thing messy here

[2018-12-24 10:41] HeshamHassan commented on #226
Done.

[2018-12-24 11:32] LamiaSalah commented on #223
@mohamedMahdyCc the spacing issue still exist
on the first bar عن هذة الدورة  the rotating button is on the text

[2018-12-24 11:39] mohamedMahdyCc commented on #221
ok @LamiaSalah please close this issue and keep the footer request` in the relevant issue

[2018-12-25 12:15] #221 closed, assigned to ahmedelbougha, Ali-Galal

[2018-12-25 12:18] LamiaSalah commented on #200
@HeshamHassan  @mohamedMahdyCc this is not needed at the current stage. will close it for now

[2018-12-25 12:18] #200 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-12-25 12:36] LamiaSalah commented on #223
@mohamedMahdyCc please change Course Assessments to قياس المهارات in all Arabic courses

[2018-12-25 12:40] HeshamHassan commented on #225
**@mohamedMahdyCc**
Any update?

[2018-12-25 12:42] HeshamHassan commented on #224
**@mohamedMahdyCc**
Any update?

[2018-12-25 12:55] HeshamHassan commented on #218
Done.

[2018-12-25 12:55] #218 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, mohamedMahdyCc

[2018-12-25 13:01] HeshamHassan commented on #216
**@mohamedMahdyCc**
Any update?

[2018-12-25 13:02] HeshamHassan commented on #215
**@mohamedMahdyCc**
Any update?

[2018-12-25 13:02] HeshamHassan commented on #210
**@mohamedMahdyCc**
Any update?

[2018-12-25 13:03] HeshamHassan commented on #209
**@mohamedMahdyCc**
Any update?

[2018-12-25 13:04] HeshamHassan commented on #208
**@mohamedMahdyCc**
Any update about this issue or about our meeting?

[2018-12-25 13:06] HeshamHassan commented on #188
**@mohamedMahdyCc**
Any update?

[2018-12-25 13:07] HeshamHassan commented on #187
**@mohamedMahdyCc**
Any update?

[2018-12-25 13:41] LamiaSalah opened #237 "Forgot my password window"
@mohamedMahdyCc we need to add the option of forgetting my password at the signing in process

[2018-12-25 13:46] LamiaSalah opened #238 "Press Releases"
@mohamedMahdyCc In the press release page, the send to a friend button is not working and the download button gives and error message
also we need to add the release year button to allow narrow the presses search.

[2018-12-25 13:46] LamiaSalah opened #239 "Message for contact us page"
We need to add a thank you message after you submit your request that your message submitted successfully with an automatic email stating that my request is in progress

[2018-12-25 14:09] LamiaSalah opened #240 "language tab"
@mohamedMahdyCc we need to have the language tab only seen by ADMIN not any USER

[2018-12-27 10:19] mohamedMahdyCc opened #241 "in course - font size in English version"
![image](https://user-images.githubusercontent.com/40764593/50476676-a4404100-09d1-11e9-8d4e-1bb6dbcef053.png)

[2018-12-27 10:34] LamiaSalah commented on #234
@mohamedMahdyCc confirm please go ahead

[2018-12-27 10:52] mohamedMahdyCc commented on #210
@ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-27 11:43] HeshamHassan commented on #210
Done.

[2018-12-27 11:48] HeshamHassan commented on #210
The below points is not finished yet:

They are at the main issue.

[2018-12-27 12:16] LamiaSalah opened #242 "Log in"
Please add the option of forget my username or password option in the log in step

[2018-12-27 12:18] mohamedMahdyCc commented on #241
@LamiaSalah @ahmedelbougha @Ali-Galal
Done! please confirm and close

[2018-12-27 12:19] LamiaSalah opened #243 "Courses links in Learning Paths"
@mohamedMahdyCc please make the course title in each learning path clickable to take you to course(currently only the tab (More) takes you there)

[2018-12-27 12:22] LamiaSalah commented on #241
@mohamedMahdyCc confirmed

[2018-12-27 12:22] #241 closed, assigned to ahmedelbougha, LamiaSalah, mohamedMahdyCc

[2018-12-27 12:28] #242 closed, assigned to nobody

[2018-12-27 12:30] mohamedMahdyCc commented on #243
@LamiaSalah Working on this

[2018-12-27 12:31] LamiaSalah commented on #234
@mohamedMahdyCc confirmed

[2018-12-27 12:31] #234 closed, assigned to nobody

[2018-12-27 12:33] LamiaSalah opened #244 "Registration for Trainers"
@mohamedMahdyCc
Trainer registration form Mandatory video need to be optional to pass the registration and allow him to add it after that once it is ready and his account will not be visible on the website until he is approved from our side
Please change 'Instructor' to 'Trainer'

In the Training manager form, there's an issue with telephone numbers.
+1 386 281-5395 It keeps asking for a valid 6-8

[2018-12-27 12:35] #215 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-12-27 12:36] LamiaSalah opened #245 "Search Bar"
@mohamedMahdyCc We need to have a search bar in the website at the header that is accessible in all pages

[2018-12-27 12:37] LamiaSalah opened #246 "Audio Files"
@mohamedMahdyCc we should have the option of uploading audio files to the website. I'm not sure where are we at this process, please advise

[2018-12-27 12:39] LamiaSalah opened #247 "Blog section"
@mohamedMahdyCc this has been postponed in phase one, but we need to launch it now. Please advise what is required.

[2018-12-27 12:40] LamiaSalah opened #248 "Footer"
@mohamedMahdyCc Please add Press Room under About Us in the footer section

[2018-12-27 12:40] mohamedMahdyCc commented on #204
@LamiaSalah @ahmedelbougha @Ali-Galal
Done! please confirm and close

[2018-12-27 12:41] LamiaSalah commented on #235
@mohamedMahdyCc  please advise what this is about

[2018-12-27 12:43] mohamedMahdyCc commented on #235
@LamiaSalah
in cms -> pages -> edit
there are 4 new inputs for Search Engine Optimization , will need to fill this inputs to got top ranks with google results

[2018-12-27 12:45] mohamedMahdyCc commented on #243
@LamiaSalah @ahmedelbougha @Ali-Galal
Done! please confirm and close

[2018-12-27 12:52] mohamedMahdyCc commented on #248
@LamiaSalah @ahmedelbougha
Working on this

[2018-12-27 14:13] mohamedMahdyCc commented on #223
@LamiaSalah Done

[2018-12-27 14:14] mohamedMahdyCc commented on #223
working on this

[2019-01-01 12:56] MuhammedMahdy commented on #248
@LamiaSalah @ahmedelbougha
please close this issue , footer menu now dynamic so you can control the sorting

[2019-01-01 13:00] MuhammedMahdy commented on #247
@ahmedelbougha @Ali-Galal

please advice

[2019-01-01 13:03] MuhammedMahdy commented on #246
@LamiaSalah please let me know more details about this issue

[2019-01-01 13:08] MuhammedMahdy commented on #245
@LamiaSalah

please determine more details about this feature , what is the expected result when search for some thing

[2019-01-01 13:37] MuhammedMahdy commented on #244
@HeshamHassan there are no video input at training manager registration form

[2019-01-01 13:52] HeshamHassan commented on #244
@mohamedMahdyCc
Page 3 at the instructor registration form
![image](https://user-images.githubusercontent.com/11155105/50573467-7ac65180-0de5-11e9-9230-cb9eee181518.png)

[2019-01-01 14:32] MuhammedMahdy commented on #238
@HeshamHassan will check the `send to friend` button and i checked the download button and its working

[2019-01-01 14:37] mohamedMahdyCc commented on #235
@LamiaSalah @ahmedelbougha @Ali-Galal
 please confirm and close

[2019-01-02 06:35] HeshamHassan commented on #238
**@MuhammedMahdy**
Download bottom is working, but with Admin role only.

**@Ali-Galal** : Kindly advice: Is Download feature must be available for guests? or only for the registered roles?

[2019-01-02 07:37] HeshamHassan commented on #246
**@Ali-Galal**
kindly Advice.

[2019-01-02 07:47] mohamedMahdyCc commented on #245
As we discussed with @HeshamHassan

As admin i need to search for all back end and expect to see search results as:
Pages
 -  page 1
 - page 2
Courses
 course 1
Etc

As user i want to search in all front end pages and expect to see the search result as :
Pages
 -  page 1
 - page 2
Courses
 course 1
Etc

[2019-01-02 07:50] mohamedMahdyCc commented on #244
@HeshamHassan

As Trainer ( Instructor ) I no need to upload `video Link`

[2019-01-02 07:54] HeshamHassan commented on #244
**@LamiaSalah**
Kindly elaborate.

[2019-01-02 08:00] mohamedMahdyCc commented on #240
As **just super** admin i need to access the language switcher

[2019-01-02 08:05] mohamedMahdyCc commented on #239
@LamiaSalah kindly prepare this message and email template.

[2019-01-02 08:31] mohamedMahdyCc commented on #231
@HeshamHassan
As user when scroll down i need to keep see the page title or course title

[2019-01-02 09:13] mohamedMahdyCc commented on #209
@HeshamHassan
waiting for approval

[2019-01-02 09:15] HeshamHassan commented on #209
**@Ali-Galal**
Kindly Advice.

[2019-01-02 09:46] HeshamHassan commented on #209
Duplicated Issue #191

[2019-01-02 09:46] #209 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, mohamedMahdyCc

[2019-01-02 09:53] mohamedMahdyCc commented on #188
@HeshamHassan

please recheck this todo list and close this issue , and take the not done to custom new issue please

[2019-01-02 09:56] mohamedMahdyCc commented on #187
@HeshamHassan
waiting for confirm

[2019-01-02 09:57] mohamedMahdyCc commented on #187
@HeshamHassan please close this issue and create new issue with title `Ability to stop, pause and resume a purchased course for a particular user`

[2019-01-02 09:57] HeshamHassan commented on #187
**@Ali-Galal**
Kindly Advice.

[2019-01-02 10:04] mohamedMahdyCc commented on #183
![image](https://user-images.githubusercontent.com/40764593/50587414-8584f300-0e86-11e9-96d5-d208ea746c68.png)
cannot access user profile when login with `user25`

[2019-01-02 10:09] mohamedMahdyCc commented on #179
@LamiaSalah
kindly need more details about this issue please

[2019-01-02 12:42] #187 closed, assigned to ahmedelbougha, Ali-Galal

[2019-01-02 12:44] HeshamHassan opened #249 "Control the Users Course"
- [ ] Add the ability to stop, pause and resume a purchased course for a particular user.

[2019-01-02 12:48] HeshamHassan commented on #187
As agreed in the meeting between **@mohamedMahdyCc** and **@HeshamHassan** today..
This feature is moved to a new issue. its new number is: #249

[2019-01-02 12:54] HeshamHassan opened #250 "Forms Issues : City fields"
- [ ] City fields must be Drop Down Menu.

[2019-01-02 12:55] HeshamHassan commented on #210
As agreed in the meeting between @mohamedMahdyCc and @HeshamHassan today..
This feature is moved to a new issue.
- City fields new issue number is: #250
- Uploaded Files properties new issue number is: #251

[2019-01-02 12:55] #210 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, mohamedMahdyCc

[2019-01-02 13:01] HeshamHassan opened #251 "Forms Issues : Fields Description and Information"
- [x] Add description and properties as a hint for Uploaded Files fields. (Allowed Files type and maximum size)
- [x] When start browsing, filter the window contents to the concerned files only.

[2019-01-03 09:57] mohamedMahdyCc commented on #237
@LamiaSalah @HeshamHassan

waiting for approve

[2019-01-03 11:31] mohamedMahdyCc commented on #249
@HeshamHassan waiting for approve

[2019-01-03 11:32] HeshamHassan commented on #249
**@Ali-Galal**
Kindly advice.

[2019-01-03 12:05] mohamedMahdyCc commented on #238
@HeshamHassan
`send to friend` button fixed now please check and close if done

[2019-01-03 12:08] mohamedMahdyCc commented on #223
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-03 13:21] mohamedMahdyCc commented on #236
@ahmedelbougha @Ali-Galal @HeshamHassan
after login as admin you can controll the contactus location from this link: http://skillsbuilderpro.com/locations
Done! please confirm and close

[2019-01-06 10:36] LamiaSalah commented on #204
@mohamedMahdyCc confirmed for the text. Please edit the photo of the course **Managing Workplace Conflict** as it's distorted in the learning path Workplace skills Builder

[2019-01-06 10:52] LamiaSalah commented on #235
@mohamedMahdyCc  what is SEO description?

[2019-01-06 10:54] LamiaSalah commented on #243
@mohamedMahdyCc Confirmed

[2019-01-06 10:54] #243 closed, assigned to HeshamHassan, mohamedMahdyCc

[2019-01-06 10:55] LamiaSalah commented on #248
@MuhammedMahdy  please advise how this is done from our end.

[2019-01-06 11:08] LamiaSalah commented on #223
@mohamedMahdyCc please remove the rotating icon on the right tab, keep it as the English version.

[2019-01-06 11:29] HeshamHassan commented on #235
**@mohamedMahdyCc**
Kindly provide a demo of how to use this feature as a creator for the courses and as a user.

[2019-01-06 12:25] LamiaSalah commented on #240
@mohamedMahdyCc yes, no users should have access to the language tab. just the admin only

[2019-01-06 12:49] LamiaSalah commented on #246
@Ali-Galal Is this something that could be applied on the website or is it linked to Amazon Audio?

[2019-01-06 12:58] LamiaSalah commented on #239
@mohamedMahdyCc
Thank you for contacting us. Your request has been submitted successfully. We'll look into it shortly and get back to you within 24 hours.

[2019-01-06 13:00] LamiaSalah commented on #179
@mohamedMahdyCc I need to attached text to be clickable to a pdf file!
Please advise cost first before proceeding.

[2019-01-06 13:02] HeshamHassan commented on #238
**@mohamedMahdyCc**
I sent the post to my email "hhassan@thinkcsi.com" this morning, but I did not receive it yet.

[2019-01-06 13:13] LamiaSalah commented on #236
@mohamedMahdyCc I want tohave access to make changes to the already created page 'Contact Us' not create new locations please

[2019-01-07 10:01] mohamedMahdyCc commented on #240
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-07 10:10] mohamedMahdyCc commented on #222
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-07 11:46] mohamedMahdyCc commented on #239
@LamiaSalah

And in arabic ?

[2019-01-07 12:06] mohamedMahdyCc commented on #188
@HeshamHassan any update ?

[2019-01-07 12:18] mohamedMahdyCc commented on #208
@HeshamHassan this server issue need, we still didn't get new info until now, so please contact with system admin , i think @ahmedelbougha will discuss this with @Ali-Galal
waiting for the new mail information information

[2019-01-07 12:30] HeshamHassan commented on #208
**@Ali-Galal**
Kindly advice.

[2019-01-07 13:23] mohamedMahdyCc commented on #216
@ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-07 13:29] mohamedMahdyCc commented on #251
@ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-07 13:56] HeshamHassan commented on #251
Done.

[2019-01-07 13:56] #251 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2019-01-07 14:01] HeshamHassan commented on #216
Done.

[2019-01-07 14:01] #216 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, mohamedMahdyCc

[2019-01-08 07:50] LamiaSalah commented on #240
@mohamedMahdyCc confirmed

[2019-01-08 07:50] #240 closed, assigned to ahmedelbougha, HeshamHassan, mohamedMahdyCc

[2019-01-08 07:52] LamiaSalah commented on #222
@mohamedMahdyCc confirmed

[2019-01-08 07:52] #222 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2019-01-08 07:57] LamiaSalah commented on #239
شكراً للتواصل معنا. لقد تم إرسال طلبك بنجاح و سوف نقوم بالنظر فيه و الرجوع  إليك خلال 24 ساعة

[2019-01-08 09:39] #179 closed, assigned to ahmedelbougha, Ali-Galal, LamiaSalah

[2019-01-08 10:00] LamiaSalah opened #252 "Registration Forms - Arabic Fields"
@mohamedMahdyCc  Remove Arabic fields for names from English section and remove English from Arabic section.

[2019-01-08 10:38] HeshamHassan commented on #252
**@mohamedMahdyCc**
All the marked in search fields. they are duplicated data. They are 5 fields:

**English Form:**
1. First Name in Arabic
2. Middle Name in Arabic
3. Last Name in Arabic
4. Address Line 1 in Arabic
5. Address Line 2 in Arabic

![image](https://user-images.githubusercontent.com/11155105/50825112-40ab0180-1349-11e9-8f10-8c99df38b582.png)

**Arabic Form:**
1. الإسم الأول باللغة الع

[2019-01-08 13:10] mahmoud-hussien1 commented on #225
@HeshamHassan
due to fix this issue, we need to delete all products and orders on estore then recreate the products.
**Note**: **SkillsBuilder resources** won't be deleted so, any resource file such as (flipping books, pdf ...etc) won't be deleted (just orders will be deleted).
is that okay with you?

[2019-01-08 13:52] LamiaSalah opened #253 "Sign in"
@mohamedMahdyCc the sign in option should have the option saying' New user? sign up now'

[2019-01-08 14:17] HeshamHassan opened #254 "Sign In Page for Guests"
When access any course and click on "Find Out More" at "About This Course" tab, the website moved to the "Sign In" page.
![image](https://user-images.githubusercontent.com/11155105/50835077-c6897580-1366-11e9-9020-df869136e9ec.png)
This page needs:
- [ ] Text "You do not have a Sign In account? Click here"
- [ ] Link to "Sign Up Now" as a guest (with just email and password)

[2019-01-08 14:38] HeshamHassan commented on #253
Duplicated Issue #254

[2019-01-08 14:38] #253 closed, assigned to HeshamHassan, Ali-Galal

[2019-01-09 13:19] MuhammedMahdy commented on #188
@HeshamHassan any update ?

[2019-01-09 14:10] HeshamHassan commented on #183
**@LamiaSalah**
As per our conversation, kindly update the contents of the page.

[2019-01-09 14:19] HeshamHassan commented on #250
**@mohamedMahdyCc**
It is not a new feature. It is a **BUG**.
It was available before applying the new forms and disappeared with the applying of them.

[2019-01-09 14:51] MuhammedMahdy commented on #252
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-09 14:56] LamiaSalah commented on #252
@mohamedMahdyCc  please note that the rest of the fields in the Arabic form are all in English at the bottom of the page.
![image](https://user-images.githubusercontent.com/37042927/50907215-804c1900-142f-11e9-80cb-7ca83db35500.png)

[2019-01-09 15:38] MuhammedMahdy commented on #236
in CMS
   Menus
   Menu Items
  Pages
  **Locations**
http://skillsbuilderpro.com/locations
you have to add the old location as new locations to appear in this update

[2019-01-09 16:36] MuhammedMahdy commented on #219
@ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-09 16:43] MuhammedMahdy commented on #254
`When access any course and click on "Find Out More" at "About This Course" tab, the website moved to the "Sign In" page.` **this is Done** ,
please close this issue and open new one with more details about the other requirments:
-  Text "You do not have a Sign In account? Click here"
-   Link to "Sign Up Now" as a guest (with just email and password)

[2019-01-10 06:47] HeshamHassan commented on #219
Done.

[2019-01-10 06:47] #219 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2019-01-10 07:10] HeshamHassan commented on #254
**@mohamedMahdyCc**
1. First... Rollback the process as it was.
2. As agreed between us, This is the scenario to access the "Sign in" page with the screen capture:

3. The 2 checkboxs are 1 request. Let the text: "You do not have a Sign In account? Click here" appears at the page. Then link the word "Click here"to the "Sign Up Now" as a guest (with just email and password)

[2019-01-10 08:53] HeshamHassan commented on #188
**@mohamedMahdyCc**
I checked the already existing features in the above list.
We can have a meeting to discuss the unfinished features.

[2019-01-10 09:58] mohamedMahdyCc commented on #188
Ok @HeshamHassan
At first we need to creat issues for the remaining things and close this issue

[2019-01-10 10:01] mohamedMahdyCc commented on #254
Ok don’t worry I already undone changes for this, sorry for this miss understanding

[2019-01-10 12:30] MuhammedMahdy commented on #238
@HeshamHassan as i mentioned before that , this is a aserver issue , we need a correct mail server data to fix this

[2019-01-10 12:34] MuhammedMahdy commented on #238
@LamiaSalah
`also we need to add the release year button to allow narrow the presses search.`
need more details about this please

[2019-01-10 12:45] MuhammedMahdy commented on #250
@ahmedelbougha
Kindly Advice

[2019-01-10 12:46] HeshamHassan commented on #238
**@Ali-Galal**
Kindly advice.

[2019-01-10 12:48] HeshamHassan commented on #238
@mohamedMahdyCc

- [ ] Filter by year.

[2019-01-10 13:02] mohamedMahdyCc commented on #238
@LamiaSalah @HeshamHassan

please create new issue with label `new feature` about this issue `also we need to add the release year button to allow narrow the presses search.` with all needed details

[2019-01-10 13:42] HeshamHassan commented on #225
**@LamiaSalah**
Kindly check this issue.

[2019-01-10 13:50] HeshamHassan opened #255 "Login Behavior Issue."
**Scenario:**
1. I am at any page at the website as a guest.
2. I clicked on Log In
3. I insert my credential
4. The website turns me to the homepage.

**Required Fix:**
- [ ] When I log in to the system, it must turn me back to the same page before logging in.

[2019-01-10 14:50] LamiaSalah commented on #225
@mahmoud-hussien1  please clarify what do you mean by order will be deleted and what exactly will be deleted?

[2019-01-10 15:41] mohamedMahdyCc commented on #252
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-10 16:20] mohamedMahdyCc commented on #239
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-10 16:22] mohamedMahdyCc commented on #236
@ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-13 10:39] LamiaSalah commented on #252
@MuhammedMahdy Still Bio and Bio description in English. Please note that this section of ' Description' is not clearly stated as I'm not sure what it will be used for in all fields.

[2019-01-13 10:40] LamiaSalah commented on #236
@mohamedMahdyCc  confirmed

[2019-01-13 10:43] LamiaSalah commented on #239
@mohamedMahdyCc confirmed

[2019-01-13 10:43] #239 closed, assigned to ahmedelbougha, HeshamHassan, mohamedMahdyCc

[2019-01-13 10:47] LamiaSalah commented on #236
@mohamedMahdyCc please note that the addresses in the Arabic section need to be in Arabic, also phone numbers, and all commands and tabs. ie: Submit

[2019-01-13 10:51] mohamedMahdyCc commented on #248
i think we already discussed this in meeting please close if it's ok.

[2019-01-13 10:53] mohamedMahdyCc commented on #245
@HeshamHassan
please confirm to start with this issue or close if it rejected

[2019-01-13 11:46] LamiaSalah commented on #248
@mohamedMahdyCc the issue of linking the footer with the header will not be applied, however, we need to make the footer have the same menu items as the header. Currently there is a difference between both.

[2019-01-13 12:37] mohamedMahdyCc commented on #248
@LamiaSalah yes you can add new menu items with the same link and sorting like the header.

to do this job , you have to select the `parent` - **Footer Menu**

[2019-01-13 13:51] mahmoud-hussien1 commented on #225
@LamiaSalah there are orders and products on estore already have been created.
those orders and products will be deleted and products will be recreated to solve this issue.
is that okay.

[2019-01-13 16:25] mohamedMahdyCc commented on #244
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-14 09:08] #249 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2019-01-14 09:52] mohamedMahdyCc commented on #248
@LamiaSalah @HeshamHassan @HeshamHassan @Ali-Galal

https://docs.google.com/document/d/1uIMzRLOgoOsDfKdLei3kgRUPq52fWAXd5uBfJKbyWIs/edit?usp=sharing

here documentation link on how the new dynamic menu feature working

[2019-01-14 09:52] mohamedMahdyCc commented on #248
@LamiaSalah
please close if done

[2019-01-14 10:14] mohamedMahdyCc commented on #235
i remember i replied on this in our meeting last days , please close if this done, thanks

[2019-01-14 10:45] HeshamHassan commented on #235
**@mohamedMahdyCc**

Yes, you did in oral. But, I couldn't do it.
I made a search for some of training courses names and get nothing.
So, kindly show me how to use it.

[2019-01-14 11:08] mohamedMahdyCc commented on #225
@LamiaSalah please close this issue if done

[2019-01-14 11:27] mohamedMahdyCc commented on #183
@ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-14 13:09] HeshamHassan commented on #191
Need estimation.
- [ ] The organization. prevent students and instructor to purchase, and to be assigned to them via the organizations

[2019-01-14 13:10] HeshamHassan commented on #203
**@mohamedMahdyCc**
Need estimation.

[2019-01-14 13:12] HeshamHassan commented on #207
**@mohamedMahdyCc**
Need estimation for:
- [ ] One field per overall the template.
- [ ] Check box for publishing approval.

[2019-01-14 13:14] HeshamHassan commented on #231
**@mohamedMahdyCc**
Need estimation for:
- [x] Decrease the main image Hight in the home page to fit the screen on launch.

[2019-01-14 13:16] HeshamHassan commented on #224
**@mohamedMahdyCc**
Need estimation.

[2019-01-14 13:18] HeshamHassan opened #256 "The ability to assign many roles for one user"
- [ ] Need the ability to assign many roles for one user

[2019-01-15 08:37] LamiaSalah commented on #248
@mohamedMahdyCc  please give me access to doc. I sent you a request

[2019-01-15 08:58] LamiaSalah opened #257 "Courses Names in Arabic"
@mohamedMahdyCc the Courses Titles and all fields are still in English in the Internal pages

http://skillsbuilderpro.com/courses/assessments/53

![image](https://user-images.githubusercontent.com/37042927/51169404-7f463c00-18b4-11e9-8e87-d97a75709a53.png)

[2019-01-15 09:55] HeshamHassan commented on #257
**@mohamedMahdyCc**
Each course has its Arabic name. So, kindly do the following action:
- [x] Automatically show corse's Arabic name everywhere when using Arabic interface.

[2019-01-15 11:29] mohamedMahdyCc commented on #231
i suggest to make the page title or course title sticky like the header so you will keep see the titles while scrolling down

Estimation: **2 hrs**

@HeshamHassan @Ali-Galal
please confirm if this accepted to start

[2019-01-15 14:32] mohamedMahdyCc commented on #236
@LamiaSalah
done please confirm and close

[2019-01-16 10:39] HeshamHassan opened #258 "Meeting - Adding countries, regions, pricing per region"
- [ ] Adding countries, regions, pricing per region.

[2019-01-16 10:41] HeshamHassan opened #259 "Meeting - Admin can change the statements"
- [ ] Admin can change the statements.

[2019-01-16 11:00] HeshamHassan opened #260 "Meeting - Control the content of Home Page"
- [ ] Home page administration from backend to control the content of Home Page.

[2019-01-16 11:01] HeshamHassan opened #261 "Meeting - Assign User to Distributor"
- [ ] Assign user to distributer.

[2019-01-16 11:02] HeshamHassan opened #262 "Meeting - Distributor can approve and add reseller and ATPs in its region"
- [ ] Distributor can approve and add reseller and ATPs in its region.

[2019-01-16 11:03] HeshamHassan opened #263 "Meeting - Reseller can approve and add reseller and ATPs in its sub-region"
- [ ] reseller can approve and add reseller and ATPs in its sub-region.

[2019-01-16 11:03] HeshamHassan opened #264 "Meeting - Sort and search in course page in admin"
- [ ] Sort and search in course page in admin.

[2019-01-16 11:05] HeshamHassan opened #265 "Meeting - From/To time fields in course event"
- [ ] From/To time fields in course event.

[2019-01-16 11:05] HeshamHassan opened #266 "Meeting - Certificate of Attendance"
- [ ] Certificate of attendance.

[2019-01-16 11:06] HeshamHassan opened #267 "Meeting - Attendance sheet"
- [ ] Attendance sheet

[2019-01-16 11:07] HeshamHassan opened #268 "Meeting - ATP, Distributor, Reseller, Instructor (Docusign) the other roles are statements"
- [ ] ATP, Distributor, Reseller, Instructor (Docusign) the other roles are statements

[2019-01-16 11:09] HeshamHassan opened #269 "Meeting - Add shoping cart in SBP not only estore"
- [ ] Add shopping cart in SBP not only eStore.

[2019-01-16 11:09] HeshamHassan opened #270 "Meeting - Add taxes, coupon, voucher in eStore"
- [ ] Add taxes, coupon, voucher in eStore

[2019-01-16 11:15] HeshamHassan commented on #188
This issue is closed and the un solved points of it had been separated as the following:
- [#258] adding countries, regions, pricing per region
- [#259] admin can change the statements
- [#260] home page administration from backend to control the content of Home Page
- [#261] assign user to distributer
- [#262] distributer can approve and add reseller and ATPs in its region
- [#263] reseller can a

[2019-01-16 11:15] #188 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, mohamedMahdyCc

[2019-01-17 07:55] LamiaSalah commented on #236
@mohamedMahdyCc the US address is still in English. Please also replace the dashes in the other 2 addresses with commas.

[2019-01-17 11:31] LamiaSalah commented on #226
@

[2019-01-17 11:31] LamiaSalah commented on #226
@mohamedMahdyCc  There's still an issue in the ARabic course Managing Anger, in the pre test question no 7, does not show

[2019-01-17 12:59] HeshamHassan commented on #223
**@mohamedMahdyCc**
Kindly update.

[2019-01-17 13:00] HeshamHassan commented on #252
**@mohamedMahdyCc**
Kindly update.

[2019-01-20 09:38] HeshamHassan commented on #245
**@mohamedMahdyCc**
Kindly prepare your estimate.

[2019-01-20 09:39] HeshamHassan commented on #237
**@Ali-Galal**
Kindly advice.

[2019-01-20 10:18] LamiaSalah opened #271 "Press Release date"
@mohamedMahdyCc we need to add the release year button to allow narrow the presses search

[2019-01-20 10:20] LamiaSalah commented on #238
@mohamedMahdyCc  I created a new issue with this as requested. However, the download button is now removed and sharing with a friend as well. Please advise.

[2019-01-20 12:22] #204 closed, assigned to ahmedelbougha, Ali-Galal

[2019-01-20 12:24] LamiaSalah commented on #136
@mohamedMahdyCc  please note that the issue still exists and the brief gives an error message when you click download.

[2019-01-20 12:42] LamiaSalah commented on #244
@HeshamHassan have you tested this?

[2019-01-20 12:44] LamiaSalah commented on #252
@mohamedMahdyCc  confirmed

[2019-01-20 12:44] #252 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2019-01-20 12:45] LamiaSalah commented on #183
@HeshamHassan  please advise

[2019-01-20 12:52] LamiaSalah commented on #225
@mohamedMahdyCc in order to confirm I need to know more details about what will be deleted.

[2019-01-20 13:10] Ali-Galal commented on #237
@mohamedMahdyCc as agreed with Ahmed It is not a new feature.
@ahmedelbougha kindly confirm

[2019-01-20 13:37] HeshamHassan commented on #183
**@LamiaSalah**
As agreed and to remind you:
- If the user is registered and logged on, then he must contact us.
- If the user is "new", then he must click on Apply now...

[2019-01-20 13:47] LamiaSalah commented on #183
@HeshamHassan  Done

[2019-01-20 13:47] #183 closed, assigned to badr4php

[2019-01-20 14:00] LamiaSalah commented on #235
@mohamedMahdyCc  please advise so we can close this issue

[2019-01-20 14:04] LamiaSalah commented on #223
@mohamedMahdyCc  Done

[2019-01-20 14:04] #223 closed, assigned to nobody

[2019-01-21 06:30] Ali-Galal commented on #208
@ahmedelbougha I think we need to solve this on a conference call with our IT department.

conference call will help us to get your requirements and send it to you immediately to finalize it sooner
.

[2019-01-21 06:42] Ali-Galal commented on #225
@mahmoud-hussien1 we don’t have any problem to delete any purchasing orders at mean time, but don't delete any products before our confirmation.

[2019-01-21 06:46] Ali-Galal commented on #246
@LamiaSalah this is related to the Amazon workflow then we will back to CamelCase for linking

[2019-01-21 06:46] #246 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2019-01-21 07:01] Ali-Galal commented on #250
@ahmedelbougha we need it DDM as it was in the old registration

[2019-01-21 07:07] Ali-Galal commented on #254
@mohamedMahdyCc the rest in this issue is only the sign up link in the loging form.

[2019-01-21 08:17] HeshamHassan commented on #238
**@MuhammedMahdy**
Download feature must be available only for the registered users with any role. Guests cannot download.

[2019-01-21 09:26] mahmoud-hussien1 commented on #225
@Ali-Galal @HeshamHassan OK, Can i remove products and recreate them?
**Note**: resource files won't be deleted but product.

[2019-01-21 09:52] Ali-Galal commented on #225
@mahmoud-hussien1 if you are going to recreate them without any data losing, go ahead.

[2019-01-21 14:06] Ali-Galal commented on #208
Email  : info@skillsbuilderpro.com
Password : iF@123456
SMTP Server : smtp.office365.com
Port : Port 587
TLS or SSL  : SSL Enabled

[2019-01-21 14:11] Ali-Galal commented on #208
![capture](https://user-images.githubusercontent.com/36264944/51479516-83d09000-1d9f-11e9-992c-57f3c69d13c8.PNG)

[2019-01-21 14:33] mohamedMahdyCc commented on #238
@HeshamHassan working on this

[2019-01-21 15:04] Ali-Galal commented on #191
@mohamedMahdyCc update us, please

[2019-01-21 15:05] Ali-Galal commented on #203
@mohamedMahdyCc update us, please

[2019-01-21 15:08] Ali-Galal commented on #207
@mohamedMahdyCc update us, please

[2019-01-21 15:09] Ali-Galal commented on #214
@ahmedelbougha as discussed with you we need a page for any purchsed product for each user.

[2019-01-21 15:18] Ali-Galal commented on #231
@mohamedMahdyCc this is not what we need, I sent the clarification on the whatsapp group

[2019-01-21 15:26] mohamedMahdyCc commented on #231
@Ali-Galal thanks for info

**Estimation: 5hrs**

[2019-01-21 15:27] LamiaSalah opened #272 "Arabic menus - Backend"
@mohamedMahdyCc please note that the Arabic menu items are in total mess in the back end.
- Most pages  titles are not found in the drop down in Arabic.
- All items are mixed together in both languages when I try to find a page name.
- I cannot find the menu item when I search though it's available.

So please do the following:
- Make the Arabic pages ONLY appear from the pages' tab
- Make the pag

[2019-01-21 15:32] Ali-Galal commented on #256
@mohamedMahdyCc update us please

[2019-01-21 16:27] mohamedMahdyCc commented on #208
@Ali-Galal
website email configuration updated now ,

please close this issue if done

[2019-01-22 07:56] Ali-Galal commented on #208
@mohamedMahdyCc we still didnt receive the email from contact us page, I dont know what is going wrong, as I am quit sure that the SMTP server information is correct. I tried it by myself.

[2019-01-22 10:00] #258 closed, assigned to nobody

[2019-01-22 10:21] #260 closed, assigned to nobody

[2019-01-22 10:21] #259 closed, assigned to nobody

[2019-01-22 12:38] mohamedMahdyCc commented on #238
@HeshamHassan @LamiaSalah

Done! please confirm and close

[2019-01-22 12:47] mohamedMahdyCc commented on #257
@ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-22 13:13] LamiaSalah commented on #238
@mohamedMahdyCc  @Ali-Galal Done

[2019-01-22 13:13] #238 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2019-01-22 14:11] HeshamHassan commented on #248
Footer is now Dynamic. 👍

**@mohamedMahdyCc**
The items in the footer have some wrong direction. All links redirect to the "Corporate Profile" page whatever I made the "Menu Item Type" Page, Direct URL or Category.

[2019-01-22 14:59] HeshamHassan commented on #236
**@LamiaSalah**

addresses with commas.

We can edit the addresses through this URL: http://skillsbuilderpro.com/locations

[2019-01-22 14:59] HeshamHassan commented on #236
Done.

[2019-01-22 14:59] #236 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2019-01-22 15:10] HeshamHassan commented on #257
Done.

[2019-01-22 15:10] #257 closed, assigned to HeshamHassan, Ali-Galal, mohamedMahdyCc

[2019-01-22 16:20] mohamedMahdyCc commented on #225
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-23 06:45] HeshamHassan commented on #225
Done.

[2019-01-23 06:45] #225 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2019-01-23 07:55] Ali-Galal commented on #231
@ahmedelbougha I just want to decrease the image hight, the istemation is a little bit high

[2019-01-23 08:05] Ali-Galal commented on #237
@mohamedMahdyCc Reminder

[2019-01-23 09:03] mohamedMahdyCc commented on #248
@HeshamHassan @Ali-Galal

Apologize for this mistake , fixed now please check and close if it done

[2019-01-23 09:38] HeshamHassan commented on #248
**@mohamedMahdyCc**
The following links are not working:
- Trainer's Hub
- Why Train with SBP?
- Knowledge Assessments
- Membership - Individuals
I checked their configuration and the link in each menu item is correct...
![image](https://user-images.githubusercontent.com/11155105/51597019-4e48b580-1f0b-11e9-81a8-b1bc7ee947bb.png)

[2019-01-23 12:55] LamiaSalah opened #273 "Access to Dashboard"
@mohamedMahdyCc we need to have a direct access to the backend (Dashboard) without then need to go through different menu items. Please create a dashboard landing page with a button to it accessible from the admin menu.

[2019-01-27 12:38] mohamedMahdyCc commented on #272
@LamiaSalah @ahmedelbougha @Ali-Galal
Done! please confirm and close

[2019-01-27 13:07] mohamedMahdyCc commented on #248
@ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-27 13:25] LamiaSalah commented on #272
@mohamedMahdyCc I'm not sure what has been fixed as the issues still exist.

[2019-01-28 08:13] LamiaSalah commented on #136
Done

[2019-01-28 08:13] #136 closed, assigned to nobody

[2019-01-28 08:15] #271 closed, assigned to nobody

[2019-01-28 08:17] Ali-Galal commented on #214
@ahmedelbougha reminder

[2019-01-28 08:18] #250 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2019-01-28 08:25] LamiaSalah opened #274 "Registration workflow"
@mohamedMahdyCc When I register as a training manager if I put wrong data the system will pass me to the next page and when I press finish the website redirect me to the first page to reenter the right data

[2019-01-28 08:26] Ali-Galal commented on #274
@mohamedMahdyCc the system should validate each step before going to the next one.

[2019-01-28 08:30] LamiaSalah opened #275 "Student Registration Form"
@mohamedMahdyCc The Student Registration form in Arabic still have Fields in English e.g( Full time employee, New graduate, etc...)

[2019-01-28 08:32] Ali-Galal commented on #244
@mohamedMahdyCc please try the following smtp to troubleshoot the issue
Smtpout.secureserver.net
Info@kadousonline.com
iF@123456
Port: 25

[2019-01-28 08:36] Ali-Galal commented on #224
@mohamedMahdyCc please reply

[2019-01-28 08:42] Ali-Galal commented on #248
@mohamedMahdyCc the footer is ok, but it should be from right to left when it will be in Ar interface.

[2019-01-28 08:47] #270 closed, assigned to nobody

[2019-01-28 08:50] Ali-Galal commented on #191
@mohamedMahdyCc reminder

[2019-01-28 08:53] Ali-Galal opened #276 "Meta tags"
@ahmedelbougha I sent to you an email requesting an estimation with date (December 10, 2018 )

please update us

[2019-01-28 08:56] Ali-Galal commented on #231
@ahmedelbougha reminder

[2019-01-28 09:05] #226 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2019-01-28 09:06] Ali-Galal commented on #208
@mohamedMahdyCc please try the following smtp to troubleshoot the issue
Smtpout.secureserver.net
Info@kadousonline.com
iF@123456
Port: 25

[2019-01-28 09:07] Ali-Galal commented on #207
@mohamedMahdyCc reminder

[2019-01-28 09:09] Ali-Galal commented on #203
@mohamedMahdyCc reminder

[2019-01-28 11:05] mohamedMahdyCc commented on #207
@Ali-Galal @HeshamHassan
how you want the free text evaluation to appear like ? if you have example or screenshot appreatiated

[2019-01-28 11:19] mohamedMahdyCc commented on #276
@Ali-Galal
please confirm are you mean with meta tags (seo that we talked about today) ?
if yes , please close this issue it's done as i mentioned before

[2019-01-28 12:42] mohamedMahdyCc commented on #207
@Ali-Galal @HeshamHassan
acording to discussion with @ahmedelbougha
the estimation to add free text for course event evaluation is: **3 days**

[2019-01-28 12:48] mohamedMahdyCc commented on #272
@LamiaSalah we fixed the bug **show arabic menu** in drop down menu,

also search with arabic is fixed
![image](https://user-images.githubusercontent.com/40764593/51837248-82f1ae00-230b-11e9-8321-1b91a113a0dd.png)

[2019-01-28 12:48] mohamedMahdyCc commented on #272
@LamiaSalah @ahmedelbougha @Ali-Galal

Done! please confirm and close

[2019-01-28 12:55] mohamedMahdyCc commented on #273
@Ali-Galal @LamiaSalah @ahmedelbougha please add more description what you expect to see with this dashboard, then confirm to add estimation for this issue

fox example:
- show user total for every user by role.
- add fast shortcuts for the internal system pages.
- add charts to show you statistics report for the website usage or any thing you want.

[2019-01-28 13:36] #276 closed, assigned to nobody

[2019-01-28 13:50] Ali-Galal commented on #207
@mohamedMahdyCc it is normal text area field at the end of the template.

[2019-01-28 13:57] LamiaSalah commented on #272
@mohamedMahdyCc the search issue is fixed,yet the parent's drop down has all the English links

[2019-01-28 14:32] mohamedMahdyCc commented on #275
@LamiaSalah @ahmedelbougha @Ali-Galal
Done! please confirm and close

[2019-01-29 07:31] LamiaSalah commented on #275
@mohamedMahdyCc can you send me the link please? when I click www.skillsbuilderpro.com/regitser i go to the new user page not the main page that has the three categories.

[2019-01-29 08:18] #273 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2019-01-29 10:06] Ali-Galal commented on #245
@mohamedMahdyCc I will prepare the wireframe and send it to you whenever I got the confirmation.

[2019-01-29 14:23] LamiaSalah opened #277 "Edit on Home page"
@mohamedMahdyCc we need to change the text under Why Skills Builder Pro to the below?

“At BSDC we focus on three key areas of development for our learners: technical skills, soft skills (through the BSDC Skills Promise) and being an effective contributor to the local community. The addition of Skills Builder Pro soft skills library to the BSDC offer enhances this focus and gives our learners acce

[2019-01-29 15:17] mohamedMahdyCc commented on #207
@Ali-Galal @ahmedelbougha after create a wireframe and discussing this issue on whats app we re estimate this task with **2 days**

@Ali-Galal please approve to start with the implementation process

[2019-01-30 11:24] mohamedMahdyCc commented on #277
@LamiaSalah @Ali-Galal

this enhancement will take about 0.5hr, waiting for approve

[2019-01-30 11:25] Ali-Galal commented on #277
approved

[2019-01-30 11:34] Ali-Galal commented on #275
@LamiaSalah  http://skillsbuilderpro.com/register

[2019-01-30 13:59] Ali-Galal opened #278 "Registration validation"
![capture](https://user-images.githubusercontent.com/36264944/51986068-69d63200-24b0-11e9-904c-86c920b46da9.PNG)

[2019-01-30 14:49] mohamedMahdyCc commented on #277
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-30 14:56] LamiaSalah commented on #277
@mohamedMahdyCc please make the following edits:

- the paragraph should have '' at the beginning and end.
- Add the last line of the paragraph I added above as this is the speaker's name
- The photo should be at the right as i requested
- Please remove the frame around The logo and make the background transparent on the gray area directly.
We need this at the soonest please

[2019-01-31 09:11] Ali-Galal commented on #237
@mohamedMahdyCc 2nd reminder

[2019-01-31 09:55] mohamedMahdyCc commented on #275
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done!, its redirect now to the new form
 please confirm and close

[2019-01-31 10:34] LamiaSalah commented on #275
@mohamedMahdyCc confirmed

[2019-01-31 10:35] LamiaSalah commented on #277
@mohamedMahdyCc please change the title in the Arabic  toلماذا سكيلز بيلدر برو؟

[2019-01-31 10:35] LamiaSalah commented on #277
I'll send you the logo without the background shortly

[2019-01-31 10:40] Ali-Galal commented on #224
@mohamedMahdyCc reminder

[2019-01-31 10:42] LamiaSalah commented on #277
![logo](https://user-images.githubusercontent.com/37042927/52049073-85474880-2555-11e9-997b-0f4cfb888c1b.png)
Please align the title of the paragraph to the left side to match with the paragraph

[2019-01-31 10:47] Ali-Galal commented on #191
2nd reminder

[2019-01-31 10:47] Ali-Galal commented on #203
2nd reminder

[2019-01-31 10:48] Ali-Galal commented on #207
@mohamedMahdyCc as per our meeting yesterday the estimation is **1 day** only, so please start

[2019-01-31 10:49] Ali-Galal commented on #208
@mohamedMahdyCc is there any update?

[2019-01-31 10:49] Ali-Galal commented on #214
2nd reminder

[2019-01-31 10:52] Ali-Galal commented on #231
2nd reminder

[2019-01-31 10:52] #235 closed, assigned to mohamedMahdyCc

[2019-01-31 10:55] Ali-Galal commented on #245
![image](https://user-images.githubusercontent.com/36264944/52049826-ce03ff00-255f-11e9-9ee9-cf89b739e52b.png)

[2019-01-31 10:56] Ali-Galal commented on #248
reminder

[2019-01-31 10:57] Ali-Galal commented on #254
@mohamedMahdyCc update please

[2019-01-31 10:58] Ali-Galal commented on #255
@mohamedMahdyCc update, please

[2019-01-31 10:59] Ali-Galal commented on #256
@mohamedMahdyCc reminder

[2019-01-31 11:01] Ali-Galal commented on #265
@mohamedMahdyCc any update?

[2019-01-31 11:01] Ali-Galal commented on #266
@mohamedMahdyCc any update?

[2019-01-31 11:02] Ali-Galal commented on #267
@mohamedMahdyCc any update?

[2019-01-31 11:03] Ali-Galal commented on #269
@mohamedMahdyCc update, please

[2019-01-31 11:05] Ali-Galal commented on #272
@mohamedMahdyCc update, please

[2019-01-31 11:05] Ali-Galal commented on #274
@mohamedMahdyCc update, please

[2019-01-31 11:05] #275 closed, assigned to HeshamHassan, Ali-Galal, mohamedMahdyCc

[2019-01-31 14:13] mohamedMahdyCc commented on #274
@Ali-Galal Working on this

[2019-01-31 14:52] mohamedMahdyCc commented on #231
@Ali-Galal **Estimation: 5hrs**

[2019-01-31 16:11] mohamedMahdyCc commented on #214
@Ali-Galal
We start estimation but please send wireframe

[2019-01-31 17:31] mohamedMahdyCc commented on #269
@Ali-Galal @HeshamHassan @ahmedelbougha
**Estimation: 4hrs**

[2019-01-31 17:33] mohamedMahdyCc commented on #214
@Ali-Galal @HeshamHassan

**Estimation: 1.25 day**
note: this estimation will be confirmed after send the wire frame

[2019-01-31 17:37] mohamedMahdyCc commented on #278
@Ali-Galal

Done!, we do lot of enhancement to registration form please check again and let me know if you still confused from that form.

Thanks

[2019-02-02 17:03] HeshamHassan commented on #248
Some of the footer links still need to be adjusted:
- Marketing Pro
- Why Train with SBP?
- Knowledge Assessments
- Membership - Individuals

[2019-02-03 08:08] Ali-Galal commented on #231
@mohamedMahdyCc approved

[2019-02-03 08:16] Ali-Galal commented on #269
@mohamedMahdyCc approved

[2019-02-03 10:54] mohamedMahdyCc commented on #248
@HeshamHassan
all of this links Marketing Pro
Why Train with SBP?
Knowledge Assessments
Membership - Individuals this one need to update it's resource link
working now , what you mean by adjusted ??

[2019-02-03 12:01] HeshamHassan commented on #248
**@mohamedMahdyCc**
the following are the results which I got when using the selected footer items:
**Knowledge Assessments:**
![image](https://user-images.githubusercontent.com/11155105/52176433-cd6ba280-27c3-11e9-9cee-6f089885139f.png)
**Membership - Individuals**
![image](https://user-images.githubusercontent.com/11155105/52176454-10c61100-27c4-11e9-8745-1b5d9b7f7d4a.png)

**Marketing Pro** and

[2019-02-03 15:31] mohamedMahdyCc commented on #248
@HeshamHassan this pages need to be activated at first

![image](https://user-images.githubusercontent.com/40764593/52178608-753f9b00-27d9-11e9-86bf-46786399aa15.png)

[2019-02-03 15:33] mohamedMahdyCc commented on #277
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-02-03 15:34] mohamedMahdyCc commented on #274
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
i think this issue dublicated with #278 issue
please confirm and close

[2019-02-03 15:39] mohamedMahdyCc commented on #272
@Ali-Galal @HeshamHassan @LamiaSalah @ahmedelbougha

as i remembered i replied about that on whatsapp , the dropdown menu load arabic translated links if menu not translated it will show the link title in english

please confirm and close

[2019-02-03 17:35] mohamedMahdyCc commented on #267
Please send wireframe @Ali-Galal

With more details

[2019-02-03 17:54] mohamedMahdyCc commented on #256
@Ali-Galal
Need to discuss in meeting tomorrow nchallah.

[2019-02-03 18:23] mohamedMahdyCc commented on #208
Done please confirm and close
@Ali-Galal

[2019-02-04 07:22] LamiaSalah commented on #277
@mohamedMahdyCc thanks for making the edits. One final thing, in both English and Arabic the text is added in extremely close to the margin of the page, please move it inside a little bit and make the title aligned with the text underneath. with moving the logo backward as well.

[2019-02-04 09:02] Ali-Galal commented on #208
@mohamedMahdyCc as per our conversation kindly add the contact us email in the backend

[2019-02-04 11:05] HeshamHassan commented on #248
**@MuhammedMahdy**
I made the necessary modifications.
They all now working good.

[2019-02-04 11:05] #248 closed, assigned to HeshamHassan, mohamedMahdyCc

[2019-02-04 12:24] Ali-Galal opened #279 "eStore administration"
![capture](https://user-images.githubusercontent.com/36264944/52208229-f0b05380-2890-11e9-8084-758c773d8aba.PNG)

[2019-02-04 12:29] Ali-Galal commented on #272
@mohamedMahdyCc please update the github even you did it in the wahtsapp

@LamiaSalah please confirm

[2019-02-04 12:32] Ali-Galal commented on #274
@mohamedMahdyCc it is related but it is not the same. however, I will check both and confirm

[2019-02-04 12:38] Ali-Galal commented on #214
@mohamedMahdyCc this will be added to the registration workflow modification

[2019-02-04 13:40] Ali-Galal commented on #278
@mohamedMahdyCc

- [ ] the error appear above the menu
- [ ] I passed without the client script validation for confirm email field
- [ ] I passed without the client side validation for confirm password field
- [ ] I passed without the client side validation for I agree toStudent Statement
- [ ] Address is Mandatory, but I passed without the client side validation nor Server side validation for it

[2019-02-04 14:23] mahmoud-hussien1 opened #280 "purchase resource by coupon"
@ahmedelbougha @Ali-Galal
need to find the way to purchase product by **coupon** instead of **paypal** and order reflect to skillsbuilder **resources**.

[2019-02-05 11:21] mahmoud-hussien1 commented on #279
@Ali-Galal
Please write the scenario that get this warning to you.

[2019-02-05 11:30] Ali-Galal commented on #279
@mahmoud-hussien1 just try to edit one of the orders

[2019-02-05 15:10] Mahmoud-Ibrahim1 commented on #207
@Ali-Galal @mohamedMahdyCc  Done! please confirm and close

[2019-02-05 15:30] Mahmoud-Ibrahim1 commented on #231
@Ali-Galal @mohamedMahdyCc Done! please confirm and close

[2019-02-05 15:39] mahmoud-hussien1 commented on #208
@HeshamHassan @mohamedMahdyCc Sending Emails is working now.
all mails sent by info@skillsbuilderpro.com email.
please confirm and close.

[2019-02-05 15:42] mahmoud-hussien1 commented on #269
@HeshamHassan @mohamedMahdyCc Shopping Cart is in **SBP** now. please confirm and close.

[2019-02-06 08:19] Ali-Galal commented on #231
The Act is ok, but the image hight still the same

[2019-02-06 08:36] mahmoud-hussien1 commented on #279
@Ali-Galal I will check that. sorry for late response.

[2019-02-06 10:19] mahmoud-hussien1 commented on #279
@Ali-Galal please go to esore admin.
in side menu.
go to  System > Users > API.
click to edit API row that appear in this page.
in edit page, find IP Address tab. then add your IP Adress to this page.

[2019-02-06 11:30] mahmoud-hussien1 commented on #279
@Ali-Galal
Please Close if it's fixed.

[2019-02-06 11:46] Ali-Galal commented on #279
done

[2019-02-06 11:46] #279 closed, assigned to nobody

[2019-02-06 12:20] MoatazAbdAlmageed commented on #231
@Ali-Galal  Please try to clear the cache (or incognito mode ), If the problem still exists please send me a screenshot. @mohamedMahdyCc

[2019-02-07 08:33] Ali-Galal commented on #231
@MoatazAbdAlmageed I did but still the same
![image](https://user-images.githubusercontent.com/36264944/52399106-3e64d000-2acc-11e9-8972-51b51f026fa2.png)

[2019-02-07 10:27] MoatazAbdAlmageed commented on #231
@Ali-Galal could you please provide  an image like this
![image](https://user-images.githubusercontent.com/17373050/52405307-9fdc6d00-2ad3-11e9-83b3-c69ce52f3e47.png)
I think now image is reduced

[2019-02-07 10:40] Ali-Galal commented on #231
![image](https://user-images.githubusercontent.com/36264944/52406082-e33bd900-2add-11e9-8bf8-59642e18c4d6.png)

[2019-02-07 10:56] MoatazAbdAlmageed commented on #231
I mean screenshot contains the slider and the section underneath the slider
with colored blocks

On Thu, Feb 7, 2019, 12:40 PM Ali-Galal <notifications@github.com wrote:

[2019-02-07 11:27] Ali-Galal commented on #231
![image](https://user-images.githubusercontent.com/36264944/52408673-711ac280-2ae4-11e9-8727-dad842a5763b.png)

[2019-02-07 11:41] LamiaSalah commented on #272
@mohamedMahdyCc there is an issue with the minutes in the courses outline in the Arabic section. It is written in English, it should be دقيقة

[2019-02-07 12:05] MoatazAbdAlmageed commented on #231
@Ali-Galal Okay I will check but I'm wondering it works in my machine I will test it in another machine also

[2019-02-07 15:48] HeshamHassan commented on #237
**@mohamedMahdyCc**
The "Forget Password" feature worked 1 time with user1@thinkcsi.com and I had the capability to change the password.
I tried it again, but I did not receive the recover password email again !!!

[2019-02-07 16:06] HeshamHassan commented on #207
**@mohamedMahdyCc**
I tried to add a question to the evaluation templates. and I did not find the new question type.
![image](https://user-images.githubusercontent.com/11155105/52424406-029d2b00-2b0b-11e9-983a-2538ee5db04a.png)

Kindly remind me how to view the course evaluation form to fill it (as a student).

[2019-02-07 16:13] Ali-Galal commented on #207
@heshamhassan it is not a new question type I will explain to you via WhatsApp

[2019-02-07 16:40] HeshamHassan commented on #207
**@mohamedMahdyCc**

[2019-02-10 08:46] LamiaSalah commented on #228
@mohamedMahdyCc we need to have the country name in a separate line in the three addresses in both English and Arabic

[2019-02-10 11:04] mahmoud-hussien1 commented on #208
@HeshamHassan system sends mails by admin@skillsbuilderpro.com.
please confirm and close.

[2019-02-10 11:53] Mahmoud-Ibrahim1 commented on #277
@LamiaSalah @mohamedMahdyCc Done! please confirm and close

[2019-02-10 12:19] LamiaSalah commented on #277
@Mahmoud-Ibrahim1 why did you move the logo below the text? please keep it in its original position, next to the text and not below it.

[2019-02-10 14:10] ahmedelbougha commented on #255
@HeshamHassan @mohamedMahdyCc

Scenario1
- If you are at any page and **clicked sign in link**
- You go to sign in page
- If you are logged in then the normal behavior is to take you to home page

Scenario2
- If you are at any page and clicked any line that  **redirects you** to sign in page
- If you are logged in then the normal behavior is to take you to the same page you were there before

Acco

[2019-02-10 14:18] HeshamHassan commented on #255
**@Ali-Galal**
Kindly Advice.

[2019-02-10 14:44] Ali-Galal commented on #255
@ahmedelbougha what do you mean by invalid?

[2019-02-10 14:45] ahmedelbougha commented on #255
@Ali-Galal
It's not a bug, it works as expected.

[2019-02-10 14:45] Ali-Galal commented on #255
@ahmedelbougha I shouldn't lose the page that I was viewing it because I logged in

[2019-02-10 14:46] ahmedelbougha commented on #255
You are not losing that. I'll send you voice note to make better understanding.

[2019-02-10 14:47] Ali-Galal commented on #255
ok

[2019-02-10 14:56] ahmedelbougha commented on #255
@Ali-Galal
I edited my comment to correct the mistake.
You can test that scenario in case you are not logged in, in the following:
Course Page > Find out more

[2019-02-10 14:57] Ali-Galal commented on #255
@HeshamHassan if scenario 2 is correct close this issue

[2019-02-11 10:18] MoatazAbdAlmageed commented on #231
@Ali-Galal pushed I will notify you after deploy to the server.

[2019-02-11 10:19] MoatazAbdAlmageed commented on #277
@LamiaSalah  pushed I will notify you after deploy to the server.

[2019-02-11 13:36] HeshamHassan commented on #208
The received but in the *SPAM* folder.

[2019-02-11 14:19] HeshamHassan commented on #208
The received but in the *SPAM* folder.

[2019-02-12 13:04] MoatazAbdAlmageed commented on #231
@Ali-Galal Please check

[2019-02-12 13:05] MoatazAbdAlmageed commented on #277
@LamiaSalah Please check

[2019-02-12 13:05] MoatazAbdAlmageed commented on #272
@LamiaSalah I will check

[2019-02-12 13:09] Ali-Galal commented on #231
@MoatazAbdAlmageed still the same

[2019-02-12 13:13] LamiaSalah commented on #277
@MoatazAbdAlmageed it's still the same

[2019-02-12 13:14] MoatazAbdAlmageed commented on #272
@LamiaSalah It works well please provide a screenshot like this
![image](https://user-images.githubusercontent.com/17373050/52637765-e1588800-2ed8-11e9-9acf-b0796758e415.png)

[2019-02-12 13:16] MoatazAbdAlmageed commented on #228
@LamiaSalah I will check

[2019-02-12 13:55] MoatazAbdAlmageed commented on #228
@LamiaSalah I fixed it just we need to deploy
Also please note we have to use , in english and ، in arabic like this

Egypt,150 xyz street
مصر ،150 شارع عبدالرحمن بن عوف
First comma will be replaced to be break

[2019-02-12 14:02] MoatazAbdAlmageed commented on #231
@Ali-Galal I'm using css media quires to make it fit height so could you please provide `window.innerWidth
` by opening the console and write this `window.innerWidth`

[2019-02-13 05:53] Ali-Galal commented on #231
![image](https://user-images.githubusercontent.com/36264944/52689883-d8b19180-2f6c-11e9-9c73-62f83d254739.png)

[2019-02-13 10:26] LamiaSalah opened #281 "Hiding Courses from the estore"
@mohamedMahdyCc please hide the below courses from the estore for now:

Personal   Career Planning
The   Power of Self-Leadership  
Public   Speaking with Confidence
Communication   Dynamics
Managing   Workplace Conflict 
Creative   Decision Making
Diversity   in the Workplace  
Business   Management Essentials
Hiring   and Keeping the Best People
Managing   Workforce Engagement and Performance
Le

[2019-02-13 11:59] mohamedMahdyCc commented on #191
@Ali-Galal sorry for late reply will send estimation next week nchallah

[2019-02-13 12:01] MoatazAbdAlmageed commented on #231
@Ali-Galal  I mean chrome console like this (just click f12)
![image](https://user-images.githubusercontent.com/17373050/52710377-d7e22500-2f97-11e9-8ca2-46e94c52d7bd.png)

[2019-02-13 12:40] LamiaSalah commented on #228
@MoatazAbdAlmageed so should I work on this from my side now, or you need to deploy it? and by break you mean space or a new line?

[2019-02-13 12:41] LamiaSalah commented on #272
@MoatazAbdAlmageed  please clarify

[2019-02-13 13:03] Ali-Galal commented on #231
811

[2019-02-13 15:44] MoatazAbdAlmageed commented on #231
Okay thanks please check again

On Wed, Feb 13, 2019, 3:03 PM Ali-Galal <notifications@github.com wrote:

[2019-02-17 10:03] LamiaSalah commented on #277
@MoatazAbdAlmageed could you please edit this at the soonest?

- Also please note that the tabs at the header section for ' **Find out more'** are not working for the 1st and 4th photo.

- For the second section in the page with 4 tabs,, the ''Partner with SBP'' and ''Customize your Training'' links are not working.

[2019-02-17 10:08] LamiaSalah opened #282 "Training Customization Page"
@mohamedMahdyCc this page is not working, I"m not sure what it's wrong with it.

Here is its link:

 /Services/Customize_your_Training

[2019-02-17 10:08] LamiaSalah opened #283 "estore"
@mohamedMahdyCc please remove any courses in the Trainers' and Students' Sections in the estore with the title Alice Holt, they were only used for testing.

[2019-02-17 11:12] LamiaSalah commented on #228
@MoatazAbdAlmageed please advise the current status.

- Please also remove the "<br>" in all addresses
- Make the red buttons un-clickable
- please display the US number as: +1 (202) 661-2178
-And the KSA number as +996 (9) 2000 44 25

[2019-02-19 16:16] Mahmoud-Ibrahim1 commented on #272
@LamiaSalah please provide a screenshot to determine where the issue exist

[2019-02-20 11:25] MoatazAbdAlmageed commented on #277
I pushed it I will notify you after deploy.

Note: please use use **gitlab** instead of **github**
https://gitlab.com/camelcasetech/skillsbuilderpro/issues/28

[2019-02-20 12:04] LamiaSalah commented on #272
![image](https://user-images.githubusercontent.com/37042927/53090538-6a467380-3518-11e9-8fd7-faa7432b42fb.png)

[2019-02-20 14:20] LamiaSalah opened #284 "Copyright"
@mohamedMahdyCc can we please change the Copyright below the footer to:

©2018 - 2019 Skills Builder Pro – A Skilled Now Solution

[2019-02-24 09:22] #281 closed, assigned to HeshamHassan, Ali-Galal, mohamedMahdyCc

[2019-02-24 09:39] LamiaSalah commented on #228
@MoatazAbdAlmageed could you please advise? this needs to  be fixed asap

[2019-02-24 09:44] MoatazAbdAlmageed commented on #228
@LamiaSalah I will check it today ISA,
but please use **gitlab** instead of **`github`**  https://gitlab.com/camelcasetech/skillsbuilderpro/issues/8

[2019-02-24 09:54] LamiaSalah commented on #228
@MoatazAbdAlmageed it's not transfered to gitlab

[2019-02-24 10:04] MoatazAbdAlmageed commented on #228
All issues now in gitlab I also sent the issue link in gitlab.

On Sun, Feb 24, 2019, 11:54 AM LamiaSalah <notifications@github.com> wrote: